<section class="content-header">
	<h1>KYC Documentation</h1>
	<ol class="breadcrumb">
		<li>
			<a href="/admin/dashboard"><i class="fa fa-dashboard"></i> Home</a>
		</li>
		<li class="active">KYC Documentation</li>
	</ol>
</section>

<section class="content container-fluid">
	<!-- Starts Deposit Funds -->
	<div class="deposit-funds">
		<div class="row">
			<div class="col-md-12">
				<div class="box">
					<div class="box-header with-border floating-header">
						<h3 class="box-title pull-left">KYC List</h3>
						<a href="/admin/kyc-history"  class="btn btn-primary pull-right">History</a>
						<div class="clearfix"></div>
					</div>
					<div class="box-body">
						<table id="pending_wire_transfer_table" class="kyc_list table table-striped res-table">
							<thead>
								<tr>
									<th>ID</th>
									<th>Name</th>
									<th>KYC Details</th>
									<th>Added Date</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								{{#each all_data}}
								<tr>
									<td>{{this.id}}</td>
									<td>{{this.User.first_name}} {{this.User.last_name}}</td>
									<td>
										<a href="{{this.files}}" target="_blank">{{this.files}}</a>
									</td>
									<td>
										{{#if_neq this.createdAt "Invalid Date"}}
											{{dateFormat this.createdAt "MM-DD-YY"}}
										{{/if_neq}}	
									</td>
									<td>
										<button class="btn approve-req kyc_approved btn-success" data-value="{{this.id}}" data-user_id="{{this.user_id}}">Approve</button>
										<button class="btn reject-req kyc_reject btn-danger" data-value="{{this.id}}">Reject</button>
									</td>
								</tr>
								{{/each}}
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!-- /.box-body -->
		</div>
		<!-- /.box -->
	</div>
	<!-- Ends Deposit Funds -->
</section>