<section class="content-header">
	<h1>Question - {{question}}</h1>
	<ol class="breadcrumb">
		<li>
			<a href="/admin/dashboard"><i class="fa fa-dashboard"></i> Home</a>
		</li>
		<li class="active">All Questions List</li>
	</ol>
	<div class="output-data" style="display:none;"></div>
	{{#if message}}
    	<div class="alert alert-success">{{message}}</div>
    {{/if}}
</section>

<section class="content container-fluid">
	<!-- Starts Deposit Funds -->
	<div class="deposit-funds">
		<div class="row">
			<div class="col-md-12">
				<div class="box">
					<div class="box-header with-border">
						<h3 class="box-title">Answers List</h3>
					</div>
					<div class="box-body">
						<table id="all_question_table" class="table table-striped res-table">
							<thead>
								<tr>
									<th>ID</th>
									<th>User</th>
									<th>Email</th>
									<th>Phone No</th>
									<th>Answer</th>
								</tr>
							</thead>
							<tbody>
								{{#each all_data}}
								<tr>
									<td>{{this.id}}</td>
									<td>{{this.User.first_name}} {{this.User.last_name}}</td>
									<td>{{this.User.email}}</td>
									<td>{{this.User.contact_no}}</td>
									<td>{{this.Option.option}}</td>
								</tr>
								{{/each}}
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!-- /.box-body -->
		</div>
		<!-- /.box -->
	</div>
	<!-- Ends Deposit Funds -->
</section>