<section class="content-header">
	<h1>Questionnaire</h1>
	<ol class="breadcrumb">
		<li>
			<a href="/admin/dashboard"><i class="fa fa-dashboard"></i> Home</a>
		</li>
		<li class="active">Questionnaire</li>
	</ol>
	<div class="output-data" style="display:none;"></div>
	{{#if message}}
    	<div class="alert alert-success">{{message}}</div>
    {{/if}}
</section>

<section class="content container-fluid">
	<!-- Starts Deposit Funds -->
	<div class="deposit-funds">
		<div class="row">
			<div class="col-md-12">
				<div class="box">
					<div class="box-header with-border">
						<h3 class="box-title">All Questions List</h3>
					</div>
					<div class="box-body">
						<table id="all_question_table" class="table table-striped res-table ques-table">
							<thead>
								<tr>
									<th>ID</th>
									<th>Question</th>
									<th>Options</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								{{#each all_data}}
								<tr>
									<td>{{this.id}}</td>
									<td>{{this.question}}</td>
									<td data-id="{{this.id}}" title="View Options"></td>
									<td>
										<a href="/admin/questionnaire/{{this.id}}" class="tbl-common-btn btn btn-primary">View User Answer</a>
									</td>
								</tr>
								{{/each}}
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!-- /.box-body -->
		</div>
		<!-- /.box -->
	</div>
	<!-- Ends Deposit Funds -->
</section>