<section class="content-header">
	<h1>Send Email History</h1>
	<ol class="breadcrumb">
		<li>
			<a href="/admin/dashboard"><i class="fa fa-dashboard"></i> Home</a>
		</li>
		<li>
			<a href="/admin/all-users"> All User</a>
		</li>
		<li class="active">Send Email History</li>
	</ol>
</section>

<section class="content container-fluid">
	<!-- Starts Deposit Funds -->
	<div class="deposit-funds">
		<div class="row">
			<div class="col-md-12">
				<div class="box">
					<div class="box-header with-border">
						<h3 class="box-title">Send Email History List</h3>
					</div>
					<div class="box-body">
						<table id="pending_wire_transfer_table" class="table table-striped res-table">
							<thead>
								<tr>
									<th>ID</th>
									<th>User Name</th>
									<th>Subject</th>
									<th>Send Date</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								{{#each allData}}
								<tr>
									<td>{{this.id}}</td>
									<td>{{this.User.first_name}} {{this.User.last_name}}</td>
									<td>{{this.email_sub}}</td>
									<td>{{dateFormat this.createdAt "MM-DD-YY"}}</td>
									<td>
										<button type="button" class="btn btn-primary tbl-common-btn email_send_details" data-toggle="modal" data-send_email_id="{{this.id}}" data-send_email_user_id="{{this.user_id}}">View Details</button>
										<button type="button" class="btn btn-danger tbl-common-btn delete_emails_send_details" sent-email-id="{{this.id}}">Delete</button>
									</td>
								</tr>
								{{/each}}
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!-- /.box-body -->
		</div>
		<!-- /.box -->
	</div>
	<!-- Ends Deposit Funds -->
</section>

<!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Send email details</h4>
        </div>
        <div class="modal-body">
          	<div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="Subject">To</label>
                        <input type="email" readonly="readonly" name="to" class="form-control" id="to" value="" readonly="readonly">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="Subject">Subject</label>
                        <input type="text" readonly="readonly" name="subject" class="form-control" id="subject" placeholder="Enter Subject" value="">
                    </div>
                </div>
                {{!-- <div class="col-md-12">
                    <div class="form-group">
                        <label for="Subject">Template</label>
                        <input type="text" readonly="readonly" name="select_email_template" id="select_email_template" value="" class="form-control">
                    </div>
                </div> --}}
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="Description">Description</label>
                        <textarea name="editor1" readonly="readonly" class="form-control" id="editor1" placeholder="Enter Description"></textarea>
                    </div>
                </div>
            </div>
    	</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger table-common-btn" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>