<section class="content-header">
	<h1>Pending Wire Transfers History</h1>
	<ol class="breadcrumb">
		<li>
			<a href="/admin/dashboard"><i class="fa fa-dashboard"></i> Home</a>
		</li>
		<li>
			<a href="/admin/bank-wire-transfers">Manage Wire Transfers</a>
		</li>
		<li class="active">Pending Wire Transfers History</li>
	</ol>
</section>  

<section class="content container-fluid">
	<!-- Starts Deposit Funds -->
	<div class="deposit-funds">
		<div class="row">
			<div class="col-md-12">
				<div class="box">
					<div class="box-header with-border">
						<h3 class="box-title">Pending Wire Transfers History List</h3>
					</div>
					<div class="box-body">
						<table id="pending_wire_transfer_table" class="table table-striped res-table">
							<thead>
								<tr>
									<th>ID</th>
									<th>Name</th>
									<th>Email</th>
									<th>Amount</th>
									<th>Date</th>
									<th>Status</th>
								</tr>
							</thead>
							<tbody>
								{{#each all_data}}
								<tr>
									<td>{{this.id}}</td>
									<td>{{this.User.first_name}} {{this.User.last_name}}</td>
									<td>{{this.User.email}}</td>
									<td>{{formatCurrency (twoDecimalPoint amount_usd)}}</td>
									<td>{{dateFormat this.createdAt "MM-DD-YY"}}</td>
									{{#if_eq this.status 1}}
										<td class="text-success"> Approved </td>
									{{/if_eq}}
									{{#if_eq this.status 2}}
										<td class="text-danger">Rejected</td>
									{{/if_eq}}
								</tr>
								{{/each}}
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!-- /.box-body -->
		</div>
		<!-- /.box -->
	</div>
	<!-- Ends Deposit Funds -->
</section>