<footer>
      <div class="footer_section">
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-6">
              <div class="footer-sec">
                <h3>About Company</h3>
                <img src="/dist/frontend_cms/images/logo.png" alt="footer-logo">
                <p>Coin Jolt is constantly tracking market rates to ensure guaranteed best prices.</p>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
              <div class="footer-sec seconds">
                <h3>Quick Links</h3>
                <ul>
                  <li><a href="/about-us">About Us</a></li>
                  <li><a href="/charts">Charts</a></li>
                  <li><a href="/signup">Create Account</a></li>
                  <li><a href="/login">Sign In</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
              <div class="footer-sec seconds">
                <h3>Disclaimers</h3>
                <ul>
                  <li><a href="/terms-of-service">Terms of Service</a></li>
                  <li><a href="/privacy-policy">Privacy Policy</a></li>
                  <li><a href="/risk-disclosures">Risk Disclosure</a></li>
                  {{!-- <li><a href="/shareholders">Shareholders</a></li> --}}
                  <li><a href="/whitepapers">Whitepapers</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
              <div class="footer-sec">
                <h3>Contact Us</h3>
                <ul>
                  <li><i class="fa fa-envelope"></i><a href="mailto:{{companySettingsData.0.email}}" target="_blank">{{companySettingsData.0.email}}</a></li>
                  <li><i class="fa fa-phone"></i>{{companySettingsData.0.phone_number}}</li>
                </ul>

                <div class="social-box">
                  <ul>
                    <li><a title="Facebook" href="{{companySettingsData.0.facebook_url}}" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a title="Twitter" href="{{companySettingsData.0.twitter_url}}" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a title="Linkedin" href="{{companySettingsData.0.linkedin_url}}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    <li><a title="Skype" href="tel:{{companySettingsData.0.phone_number}}"><i class="fa fa-skype"></i></a></li>
                    <li><a title="Instagram" href="{{companySettingsData.0.instagram_url}}" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    <li><a title="Mail" href="mailto:{{companySettingsData.0.email}}" target="_blank"><i class="fa fa-envelope-o"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="copyright">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <p>Copyright &copy; 2018 CoinJolt.com <span>|</span>All rights reserved.</p>
            </div>
          </div>
        </div>
      </div>
    </footer>