<section class="content-header">
    <h1>Account Settings</h1>
    <ol class="breadcrumb">
        <li><a href="/account/dashboard"><i class="fa fa-dashboard"></i>Home</a></li>
        <li class="active">Account Settings</li>
    </ol>
</section>
<section class="content container-fluid">
    <div class="account-settings">
        <form method="post" action="/account-settings" role="form" id="update_profile" name="update_profile">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12 column-pr-0">
                        <div class="box box-default">
                            <div class="box-header with-border">
                                <h3 class="box-title pull-left authen">2FA Authentication</h3>
                                <div class="pull-right">
                                    <div class="onoffswitch">
                                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" {{#if_eq user_data.two_factorAuth_status 1}} checked="checked" {{/if_eq}}>
                                        <label class="onoffswitch-label" for="myonoffswitch">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                </div>

                               <div class="clearfix"></div>
                            </div>
                            <div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">Edit Profile</h3>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                
                            {{#if message}}
                            <div class="col-md-12">
                                <div class="alert alert-success" id="profileSaveMsg">{{message}}</div>
                            </div>
                                {{/if}}
                                <div class="col-md-6 col-sm-6 acc-col-common">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="prev-box">
                                                <div class="prev-image-box">
                                                    <img src="{{image}}" width="150" height="150" class="preview_image">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="account-upload">
                                                <label class="control-label cj-lbl">Change Picture</label>
                                                <input type="file" name="async_upload" id="async_upload"> 
                                                <div class="brsw-btn">Upload Picture</div>
                                                <p class="loaderImg" style="display:none; text-align:center;">
                                                    <img src="../ajax-loader-1.gif" class="loader-gif">
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="col-md-6 col-sm-6 acc-col-common">
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            <div class="pdng">
                                                <label class="control-label cj-lbl">Change Password</label>
                                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#changePasswordModal">Change Password</button>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label class="control-label">Nickname <span style="color:#ff0000">*</span></label>
                                            <input type="text" placeholder="Nick Name" class="form-control" name="user_name" id="user_name" maxlength="100" value="{{user.user_name}}" />
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label class="control-label">Email Address</label>
                                            <input type="text" placeholder="Email" class="form-control" name="user_email" id="user_email" disabled="disabled" value="{{user.email}}" />
                                        </div>
                                    </div>
                                </div>

                            
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h4>Account Verification</h4>
                                    <span style="color: red;">In order to deposit funds using a credit card, exact credentials should match the card details on file.</span>
                                    <hr>
                                    <div class="form-group col-md-12">
                                        <strong style="text-align: left;">
                                            <span style="margin-right: 10px;"><i class="fa fa-id-card margin-r-5"></i> Upload Government Issued ID</span>
                                            {{!-- <a href="{{identity_proof}}" data-toggle="modal" data-target="#idProofModal">View</a> --}}
                                            <a href="{{kyc_details.0.files}}" target="_blank">View</a>
                                            {{!-- <div class="modal fade" id="idProofModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                            <strong><h3 class="modal-title" style="color: #3b3f4a">Government Issued ID</h3></strong>
                                                        </div>
                                                        <div class="modal-body">
                                                            <img id="proofImg" src="{{identity_proof}}" alt="id-proof-image" width="300" height="200">  
                                                        </div>
                                                        <div class="modal-footer" style="clear: both"></div>
                                                    </div>
                                                </div>
                                            </div> --}}
                                            <a style="cursor:pointer; margin-left: 16px;" data-toggle="modal" data-target="#myModalIDProof">Change</a>
                                        </strong>
                                        {{#if_eq kyc_details.0.status 1}}
                                        <span style="float: right; font-weight: bold;">ID Verification Submitted</span>
                                        {{/if_eq}}
                                        {{#if_eq kyc_details.0.status 2}}
                                        <span style="float: right; font-weight: bold;">ID Verification Approved</span>
                                        {{/if_eq}}
                                        {{#if_eq kyc_details.0.status 3}}
                                        <span style="float: right; font-weight: bold;">ID Verification Rejected</span>
                                        {{/if_eq}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{!-- <form method="post" action="/account-settings" role="form" id="update_profile" name="update_profile"> --}}
                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title">Personal Details</h3>
                            </div>
                            <div class="box-body">
        <div class="row">
            {{!-- <div class="form-group col-md-6">
                                <label class="control-label">Nickname <span style="color:#ff0000">*</span></label>
                                <input type="text" placeholder="Nick Name" class="form-control" name="user_name" id="user_name" maxlength="100" value="{{user.user_name}}" />
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">Email Address</label>
                                <input type="text" placeholder="Email" class="form-control" name="user_email" id="user_email" disabled="disabled" value="{{user.email}}" />
                            </div> --}}
                            <div class="form-group col-md-6">
                                <label class="control-label">First Name <span style="color:#ff0000">*</span></label>
                                <input type="text" placeholder="Enter First Name" class="form-control" name="first_name" id="first_name" maxlength="100" value="{{user.first_name}}">
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">Last Name <span style="color:#ff0000">*</span></label>
                                <input type="text" placeholder="Enter Last Name" class="form-control" name="last_name" id="last_name" maxlength="100" value="{{user.last_name}}">
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">Phone Number <span style="color:#ff0000">*</span></label>
                                <input type="text" placeholder="Enter Phone Number" class="form-control" value="{{user.contact_no}}" name="contact_no" id="contact_no" maxlength="100">
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">Date of Birth <span style="color:#ff0000">*</span></label>
                                <input type="date" class="form-control" placeholder="Date of Birth" name="dob" id="dob" value="{{dateFormat user.dob "YYYY-MM-DD"}}">
                            </div>
                            <div class="form-group col-md-12">
                                <label class="control-label">About Me</label>
                                <textarea class="form-control" rows="3" name="about_me" id="about_me">{{user.about_me}}</textarea>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">Address <span style="color:#ff0000">*</span></label>
                                <input class="form-control" id="address" type="text" name="address" placeholder="Enter Address" value="{{user.address}}">
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">City <span style="color:#ff0000">*</span></label>
                                <input id="city" class="form-control" type="text" name="city" value="{{user.city}}">
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">Country <span style="color:#ff0000">*</span></label>
                                <select class="form-control" name="country" id="country">
                                    {{#each countries}}
                                    <option value="{{this.id}}" {{#if_eq this.id ../user.country_id}} selected="selected" {{/if_eq}}>{{this.name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label" for="state">State <span style="color:#ff0000">*</span></label>

                                <select class="form-control" name="usa_states" id="usa_states" {{#if_neq user.country_id "226"}} style="display: none;" {{/if_neq}}>
                                    <option value="AL">Alabama (AL) </option>
                                    <option value="AK">Alaska (AK) </option>
                                    <option value="AZ">Arizona (AZ) </option>
                                    <option value="AR">Arkansas (AR) </option>
                                    <option value="AA">Armed Forces America (AA) </option>
                                    <option value="AE">Armed Forces Europe (AE) </option>
                                    <option value="AP">Armed Forces Pacific (AP) </option>
                                    <option value="CA">California (CA) </option>
                                    <option value="CO">Colorado (CO) </option>
                                    <option value="CT">Connecticut (CT) </option>
                                    <option value="DE">Delaware (DE) </option>
                                    <option value="DC">District of Columbia (DC) </option>
                                    <option value="FL">Florida (FL) </option>
                                    <option value="GA">Georgia (GA) </option>
                                    <option value="HI">Hawaii (HI) </option>
                                    <option value="ID">Idaho (ID) </option>
                                    <option value="IL">Illinois (IL) </option>
                                    <option value="IN">Indiana (IN) </option>
                                    <option value="IA">Iowa (IA) </option>
                                    <option value="KS">Kansas (KS) </option>
                                    <option value="KY">Kentucky (KY) </option>
                                    <option value="LA">Louisiana (LA) </option>
                                    <option value="ME">Maine (ME) </option>
                                    <option value="MD">Maryland (MD) </option>
                                    <option value="MA">Massachusetts (MA) </option>
                                    <option value="MI">Michigan (MI) </option>
                                    <option value="MN">Minnesota (MN) </option>
                                    <option value="MS">Mississippi (MS) </option>
                                    <option value="MO">Missouri (MO) </option>
                                    <option value="MT">Montana (MT) </option>
                                    <option value="NE">Nebraska (NE) </option>
                                    <option value="NV">Nevada (NV) </option>
                                    <option value="NH">New Hampshire (NH) </option>
                                    <option value="NJ">New Jersey (NJ) </option>
                                    <option value="NM">New Mexico (NM) </option>
                                    <option value="NY">New York (NY) </option>
                                    <option value="NC">North Carolina (NC) </option>
                                    <option value="ND">North Dakota (ND) </option>
                                    <option value="OH">Ohio (OH) </option>
                                    <option value="OK">Oklahoma (OK) </option>
                                    <option value="OR">Oregon (OR) </option>
                                    <option value="PA">Pennsylvania (PA) </option>
                                    <option value="RI">Rhode Island (RI) </option>
                                    <option value="SC">South Carolina (SC) </option>
                                    <option value="SD">South Dakota (SD) </option>
                                    <option value="TN">Tennessee (TN) </option>
                                    <option value="TX">Texas (TX) </option>
                                    <option value="UT">Utah (UT) </option>
                                    <option value="VT">Vermont (VT) </option>
                                    <option value="VA">Virginia (VA) </option>
                                    <option value="WA">Washington (WA) </option>
                                    <option value="WV">West Virginia (WV) </option>
                                    <option value="WI">Wisconsin (WI) </option>
                                    <option value="WY">Wyoming (WY) </option>
                                </select>

                                <select class="form-control" name="canada_states" id="canada_states" {{#if_neq user.country_id "240"}} style="display: none;" {{/if_neq}}>
                                    <option value="ON">Ontario (ON) </option>
                                    <option value="QC">Quebec (QC) </option>
                                    <option value="NS">Nova Scotia (NS) </option>
                                    <option value="NB">New Brunswick (NB) </option>
                                    <option value="MB">Manitoba (MB) </option>
                                    <option value="BC">British Columbia (BC) </option>
                                    <option value="PE">Prince Edward Island (PE) </option>
                                    <option value="SK">Saskatchewan (SK) </option>
                                    <option value="AB">Alberta (AB) </option>
                                    <option value="NL">Newfoundland and Labrador (NL) </option>
                                    <option value="NT">Northwest Territories (NT) </option>
                                    <option value="YT">Yukon (YT) </option>
                                    <option value="NU">Nunavut (NU) </option>
                                </select>

                                <input class="form-control" value="{{user.state}}" id="state" type="text" name="state" {{#if_eq user.country_id "226"}} style="display: none;" {{/if_eq}} {{#if_eq user.country_id "240"}} style="display: none;" {{/if_eq}}>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">Postal Code <span style="color:#ff0000">*</span></label>
                                <input id="postcode" class="form-control" type="text" name="postcode" value="{{user.postal_code}}" maxlength="6">
                            </div>
                            <div class="clearfix"></div>
        </div>
                            </div>
                        
                        </div>
                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title">Institutional Details</h3>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                        <!-- begin institutional details form -->
                                        <div class="col-md-12">
                                            
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            
                                                            <div class="form-group">
                                                                <label for="business_name">Business Name:</label>
                                                                <input class="form-control" id="business_name" placeholder="Enter Business Name" name="business_name" value="{{p_institutional_arr.0.field_1}}" type="text">
                                                            </div>

                                                            <div class="form-group">
                                                                <label for="business_registration_country">Country of Business Registration:</label>
                                                                <input class="form-control" id="business_registration_country" placeholder="Enter Country of Business Registration" name="business_registration_country" value="{{p_institutional_arr.0.field_3}}" type="text">
                                                            </div>

                                                            <div class="form-group">
                                                                <label for="settlement_currency">Settlement Currency:</label>
                                                                <select name="settlement_currency" class="form-control" id="settlement_currency">
                                                                    <option value="flat" {{#if_eq p_institutional_arr.0.field_5 'flat'}} selected="selected" {{/if_eq}}>Flat (USD, EUR, YEN)</option>
                                                                    <option value="cryptocurrency" {{#if_eq p_institutional_arr.0.field_5 'cryptocurrency'}} selected="selected" {{/if_eq}}>Cryptocurrency (BTC, ETC, XRP)</option>

                                                                </select>
                                                            </div>
                                                            <div class="form-group">
                                                                <label>City:</label>
                                                                <input name="city_ins" class="form-control" id="city_ins" value="{{p_institutional_arr.0.field_7}}" type="text">
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Phone Number:</label>
                                                                <input name="phone_number" class="form-control" id="phone_number" value="{{p_institutional_arr.0.field_9}}" type="text">
                                                            </div>


                                                            {{!-- <div class="form-group">
                                                                <label>Certificate of Incorporation:</label>
                                                                <input name="incorporation_certificate" class="form-control incorporation_certificate" id="incorporation_certificate" type="file">
                                                            </div> --}}

                                                        {{!--  <div class="form-group">
                                                                <label>Recent Bank Account Statement:</label>
                                                                <input name="bank_statement" class="form-control" id="bank_statement" type="file">
                                                            </div> --}}	

                                                        </div>

                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="business_number">Business Number:</label>
                                                                <input class="form-control" id="business_number" placeholder="Enter Business Number" name="business_number" value="{{p_institutional_arr.0.field_2}}" type="text">
                                                            </div>

                                                            <div class="form-group">
                                                                <label for="investques">How much are you looking to invest?:</label>
                                                                <select name="investques" class="form-control" id="investques">
                                                                    <option value="0 - $100,000+" {{#if_eq p_institutional_arr.0.field_4 '0 - $100,000+'}} selected="selected" {{/if_eq}}>0 - $100,000+</option>
                                                                    <option value="1,000,000+" {{#if_eq p_institutional_arr.0.field_4 '1,000,000+'}} selected="selected" {{/if_eq}}>$1,000,000+</option>
                                                                    <option value="10,000,000+" {{#if_eq p_institutional_arr.0.field_4 '10,000,000+'}} selected="selected" {{/if_eq}}>$10,000,000+</option>
                                                                    <option value="100,000,000+" {{#if_eq p_institutional_arr.0.field_4 '100,000,000+'}} selected="selected" {{/if_eq}}>$100,000,000+</option>
                                                                </select>
                                                            </div>


                                                            <div class="form-group">
                                                                <label>Street Address:</label>
                                                                <input name="street" class="form-control" id="street_ins" value="{{p_institutional_arr.0.field_6}}" type="text">
                                                            </div>
                                                            <div class="form-group">
                                                                <label>State:</label>
                                                                <input name="state_ins" class="form-control" id="state_ins" value="{{p_institutional_arr.0.field_8}}" type="text">
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Postal Code:</label>
                                                                <input name="postal_code" class="form-control" id="postal_code" value="{{p_institutional_arr.0.field_10}}" type="text">
                                                            </div>

                                                            <div class="form-group">
                                                                <label>Email Address:</label>
                                                                <input name="email_address" class="form-control" id="email_address" value="{{p_institutional_arr.0.field_11}}" type="text">
                                                            </div>

                                                        </div>
                                                    </div>
                                        </div>
                                        
                                        {{!-- <div class="col-md-12 col-sm-12 col-xs-12" id="shareholder_div">
                                            <div class="col-md-2 col-md-offset-10">
                                                <div class="plus-btn">
                                                    <button class="btn btn-primary" onclick="append(event)">+</button>
                                                    <button class="btn btn-primary" id="remove" disabled="disabled" onclick="remove(event)">-</button>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-12 col-xs-12 multiple_div">
                                                <div class="col-md-4" id="test">                                            
                                                    <div class="form-group">
                                                        <label>Shareholder Name:</label>
                                                        <input placeholder="First and Last Name" name="shareholder_name" class="form-control shareholder_name" id="shareholder_name" value="" type="text">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group articles_incorporation_div">
                                                        <label>Proof of Address:</label>
                                                        <input name="articles_incorporation" class="form-control articles_incorporation" id="articles_incorporation" type="file">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Government Issued ID:</label>
                                                        <input name="shareholder_id" class="form-control shareholder_id" id="shareholder_id" value="" type="file">
                                                    </div>
                                                </div>
                                            </div>

                                        </div> --}}
                                        <!-- end institutional details form -->

                                        <!-- shareholder dynamic add begin -->
                                        {{!-- <div id="shareholder_div">
                                            <div class="">
                                                <div class="col-md-12">
                                                    <label style="margin-right: 2%;" class="shareholders-box">Add Shareholders</label>
                                                    <button class="btn btn-primary" onclick="append(event)">+</button>
                                                    <button class="btn btn-primary" id="remove" disabled="disabled" onclick="remove(event)">-</button>
                                                    <span style="margin-bottom: 5%;"></span>
                                                    <br>
                                                </div>
                                            </div>
                                        </div> --}}
                                        <!-- end -->

                                        <div class="clearfix"></div>
                                        
                                </div>
                            </div>
                        </div>
                        <div class="update-btn row">
                            <div class="col-md-12 text-center">
                                <div class="updateMsg col-md-12" style="display: none"></div>
                                <p class="loaderImg" style="display:none; text-align:center;">
                                    <img src="../ajax-loader-1.gif">
                                </p>
                                <button class="btn btn-primary subbtn btn-block" type="submit" name="updatesubmit" id="updatesubmit" style="margin-bottom: 40px;">Update</button>
                            </div>
                        </div>
                    {{!-- </form> --}}
                </div>
            </div>
        </form>
        
    </div>
    <!-- start shareholder form -->
         <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Shareholder Details</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                            <div class="shareholders">
                                <div class="table-responsive">
                                    <div class="modal fade" id="1271" role="dialog">
                                        <div class="modal-dialog modal-lg modal-sm share-holder-details-popup">

                                                                    <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">×</button>
                                                    <h4 class="modal-title">Shareholder Details</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="col-md-3">
                                                                <label>Shareholder Name:</label>
                                                            </div>
                                                            <div class="col-md-9">	
                                                                <p id="id">asd</p>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-6">
                                                            
                                                            <div class="col-md-6">
                                                                <label>Proof of Address:</label>
                                                            </div>
                                                            <div class="col-md-6">	
                                                                <a href=""><img src="" width="100px" height="100px"></a>
                                                            </div>
                                                            
                                                        </div>

                                                        <div class="col-md-6">
                                                            
                                                            <div class="col-md-6">
                                                                <label>Government Issued ID:</label>
                                                            </div>
                                                            <div class="col-md-6">	
                                                                <a href="">	<img src="" width="100px" height="100px"></a>
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                            <tbody>
                                                {{#each shareholders_info}}
                                                    <div class="modal fade" id="{{this.id}}" role="dialog">
                                                        <div class="modal-dialog modal-lg modal-sm share-holder-details-popup">

                                                            <!-- Modal content-->
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal">×</button>
                                                                <h4 class="modal-title">Share Holder Details</h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="col-md-3">
                                                                            <label>Shareholder Name : </label>
                                                                        </div>
                                                                        <div class="col-md-9">	
                                                                            <p id="id">{{this.shareholder_name}}</p>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-md-6">
                                                                        
                                                                        <div class="col-md-6">
                                                                            <label>Proof of Address:</label>
                                                                        </div>
                                                                        <div class="col-md-6">	
                                                                            
                                                                            {{#if (multiple_if (getUploadedFileExtension this.address_proof) 'jpg' ) }}
                                                                                    <img src="{{this.address_proof}}" width="100px" height="100px">
                                                                                {{else if (multiple_if (getUploadedFileExtension this.address_proof) 'png' )}}
                                                                                    <img src="{{this.address_proof}}" width="100px" height="100px">
                                                                                {{else if (multiple_if (getUploadedFileExtension this.address_proof) 'jpeg' )}}
                                                                                    <img src="{{this.address_proof}}" width="100px" height="100px">
                                                                                {{else}}
                                                                                    <a href="{{this.address_proof}}" target="_blank">Link To Proof Of Address</a>
                                                                            {{/if}}

                                                                        </div>
                                                                        
                                                                    </div>

                                                                    <div class="col-md-6">
                                                                        
                                                                        <div class="col-md-6">
                                                                            <label>Government Issued ID: </label>
                                                                        </div>
                                                                        <div class="col-md-6">	

                                                                            {{#if (multiple_if (getUploadedFileExtension this.government_issued_id) 'jpg' ) }}
                                                                                    <img src="{{this.government_issued_id}}" width="100px" height="100px">
                                                                                {{else if (multiple_if (getUploadedFileExtension this.government_issued_id) 'png' )}}
                                                                                    <img src="{{this.government_issued_id}}" width="100px" height="100px">
                                                                                {{else if (multiple_if (getUploadedFileExtension this.government_issued_id) 'jpeg' )}}
                                                                                    <img src="{{this.government_issued_id}}" width="100px" height="100px">
                                                                                {{else}}
                                                                                    <a href="{{this.government_issued_id}}" target="_blank">Link To Government Issued Id</a>
                                                                            {{/if}}


                                                                        </div>
                                                                        
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>

                                                        </div>
                                                    </div>
                                                    <tr>
                                                        <td>{{this.shareholder_name}}</td>
                                                        <td><a href="javascript:void(0)" class="btn btn-primary" id="showShareholderInfo" data-toggle="modal" data-target="#{{this.id}}">View</a>
                                                            <button class="btn btn-primary deleteShareholderInfo" type="button" data-sid="{{this.id}}" >Delete</button></td>
                                                    </tr>
                                                {{/each}}
                                                {{!-- <tr>
                                                    <td>qsd</td>
                                                    <td><a href="javascript:void(0)" class="btn btn-primary" data-toggle="modal" data-target="#1211">View</a>
                                                        <button class="btn btn-primary" onclick="deleteShare(121)">Delete</button></td>
                                                </tr>
                                                <tr>
                                                    <td>asd</td>
                                                    <td><a href="javascript:void(0)" class="btn btn-primary" data-toggle="modal" data-target="#1271">View</a>
                                                        <button class="btn btn-primary" onclick="deleteShare(127)">Delete</button></td>
                                                </tr> --}}

                                            </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form method="post" action="/save-shareholderData" name="shareholderForm" id="shareholderForm" enctype="multipart/form-data">
                        <div class="box-body">
                            <div id="shareholder_div">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label class="shareholders-box">Add or Remove Shareholders</label>
                                        <button class="btn btn-primary" onclick="append(event)">+</button>
                                        <button class="btn btn-primary" id="remove" disabled="disabled" onclick="remove(event)">-</button>
                                        <span style="margin-bottom: 5%;"></span>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>        
            </div>
            
                <button class="btn btn-primary subbtn btn-block" type="submit" name="updateshareholderdata" id="updateshareholderdata" style="margin-bottom: 40px;">Update Shareholders Information</button>
            </form>
        <!-- end shareholder form -->
</section>

<!-- Change Password Modal -->
<div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <strong><h3 class="modal-title" style="color: #3b3f4a">Change Password</h3></strong>
            </div>
            <div class="modal-body">
                <form method="post" name="frmUpdatePassword" id="frmUpdatePassword">
                    <div class="col-md-12 errorPass" style="display:none">
                    </div>
                    <div class="form-group col-md-12">
                        <label class="control-label">Old Password</label>
                        <input id="oldpassword" class="form-control" type="password" name="oldpassword" value="">
                    </div>
                    <div class="form-group col-md-12">
                        <label class="control-label">New Password</label>
                        <input id="newpassword" class="form-control" type="password" name="newpassword">
                    </div>
                    <div class="form-group col-md-12">
                        <label class="control-label">Confirm New Password</label>
                        <input id="confirmpassword" class="form-control" type="password" name="confirmpassword">
                    </div>
                </form>
            </div>
            <div class="modal-footer" style="clear: both">
                <p class="loaderImg" style="display:none; text-align:center;">
                    <img src="/ajax-loader-1.gif" class="loader-gif">
                </p>
                <button type="button" class="btn btn-default" data-dismiss="modal" id="cancel_password" name="cancel_password">Cancel</button>
                <button type="button" id="changepassword" class="btn btn-primary" name="changepassword">Change Password</button>
            </div>
        </div>
    </div>
</div>
<!-- End -->
<!-- Change ID Proof Modal -->
<div class="modal fade" id="myModalIDProof" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <strong><h3 class="modal-title" style="color: #3b3f4a">Upload ID</h3></strong>
            </div>
            <div class="modal-body">
                <form method="post" id="frmIDChange" name="frmIDChange" enctype="multipart/form-data">
                    <div class="col-md-12 errorIDProof" style="display:none">
                    </div>
                    <div class="form-group col-md-12">
                        <div class="upld">
                            <input type="file" name="async_uploads" id="async_uploads">
                            <div class="load-idproof"><i class="fa fa-upload"></i> Upload ID</div>
                        </div>
                    </div>
                    <div class="form-group col-md-12 id-submit">
                        <button type="submit" id="uploadidproof" class="btn btn-primary id-save" name="uploadidproof">Save</button>
                        <img id="loaderimg" src="/ajax-loader-1.gif" class="vc_single_image-img attachment-full" alt="" style="width: 16px; margin: 0 auto; display: none;margin-left: 12px;">
                    </div>
                </form>
            </div>
            <div class="modal-footer" style="clear: both"></div>
        </div>
    </div>
</div>
<!-- End -->

