<!-- Starts  Bootstrap-touch-slider Slider -->

      {{#if_eq privacyPolicyData.0.privacy_policy_header_image ''}}
        <div class="all-iner-banner" style="background-image: url(cms/privacy_policy/default/privacy-policy.jpg);">
      {{/if_eq}}

      {{#if_neq privacyPolicyData.0.privacy_policy_header_image ''}}
        <div class="all-iner-banner" style="background-image: url(cms/privacy_policy/{{privacyPolicyData.0.privacy_policy_header_image}});">
      {{/if_neq}}
      <div class="image-overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <span class="page-title">{{privacyPolicyData.0.privacy_policy_header_desc}}</span>
          </div>          
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="breadcumb">
              <ul>
                <li><a href="/">Home</a></li>
                <li>Privacy Policy</li>
              </ul>
            </div>    
          </div>    
        </div>    
      </div>
    </div>

    <!-- End  Bootstrap-touch-slider Slider -->

    <!-- Starts Webticker Section -->

    <!-- Ends Webticker Section -->

    <!-- Starts Welcome Section -->

    <div class="about-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            {{{privacyPolicyData.0.privacy_policy_content}}}
          </div>



        </div>
      </div>
    </div>

    <!-- Ends Welcome Section -->