<!-- Starts  Bootstrap-touch-slider Slider -->

    <!-- <div id="particles-js">
      <div class="slide-text animatedParent">
        <h1 class="animated growIn">It’s Simple and Easy As 1-2-3</h1>
        <p class="animated bounceInRight">Coin Jolt is constantly tracking market rates to ensure you’re always buying and selling digital assets at guaranteed lowest and highest prices.</p>
      </div>
    </div> -->
    <!-- End  Bootstrap-touch-slider Slider -->

    <div class="banner">
      <img src="/dist/img/main.png" alt="brilliant">
    </div>

    <!-- Starts Webticker Section -->

    {{!-- <div class="ticker">
      <ul id="webTicker">
        <li><img src="/dist/frontend_cms/images/c-1.png" alt="icon">Bitcoin<span>(BTC)</span> <span class="btc"></span></li>
        <li><img src="/dist/frontend_cms/images/c-2.png" alt="icon">Ethereum<span>(ETH)</span> <span class="eth"></span></li>
        <li><img src="/dist/frontend_cms/images/c-3.png" alt="icon">Litecoin<span>(LTC)</span> <span class="ltc"></span></li>
        <li><img src="/dist/frontend_cms/images/c-4.png" alt="icon">Ripple<span>(XRP)</span> <span class="xrp"></span></li>
        <li><img src="/dist/frontend_cms/images/c-5.png" alt="icon">Bitcoin Cash<span>(BCH)</span> <span class="bch"></span></li>
      </ul>
    </div> --}}

    <!-- Ends Webticker Section -->

    <!-- Starts Welcome Section -->

    <div class="welcome-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="heading animatedParent">
              <h4 class="animated bounceInDown delay-250">Get Started In As Little As 1-2-3</h4>
              <h3 class="animated bounceInDown delay-500">How It Works</h3>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-6 animatedParent">
            <img class="animated growIn slow go" src="/dist/img/secondary.png" alt="genius">
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="wel-box animatedParent">
              <ul class="features-list-s2 animated fadeIn delay-500">

                <li class="features-item-s2 d-flex">
                  <div class="features-icon-s2">
                    <img alt="icon" src="/dist/frontend_cms/images/icon-decentralized.png">
                  </div>
                  <div class="features-texts-s2">
                    <h5 class="features-title-s2">Register an Account Within Seconds</h5>
                    <p>{{{home_sttings.0.how_is_works_reg_description}}}</p>
                  </div>
                </li>
                <li class="features-item-s2 d-flex">
                  <div class="features-icon-s2">
                    <img alt="icon" src="/dist/frontend_cms/images/icon-crowd.png">
                  </div><div class="features-texts-s2">
                    <h5 class="features-title-s2">Most Secure Deposit Options</h5>
                    <p>{{{home_sttings.0.how_is_works_deposit_funds_description}}}</p>
                  </div>
                </li>
                <li class="features-item-s2 d-flex" >
                  <div class="features-icon-s2">
                    <img alt="icon" src="/dist/frontend_cms/images/icon-reward.png">
                  </div>
                  <div class="features-texts-s2">
                    <h5 class="features-title-s2">Simple Investing and Wealth Management</h5>
                    <p>{{{home_sttings.0.how_is_works_safe_and_secure_description}}}</p>
                  </div>
                </li>
              </ul>
              <!-- <a href="">View info more</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Ends Welcome Section -->

    <!-- Starts Pricing Section -->

    <div class="price-wrap">
      <div class="container-fluid">
        <!-- <div class="heading">
          <h3>Coin Jolt Wallets</h3>
        </div> -->
        <div class="col-md-6 col-sm-6 col-xs-6 ">
          <div class="price-item hot">
            <div class="col-md-3">
              <img class="img-responsive" src="cms/home_page/resize/{{home_sttings.0.hot_wallet_image}}" alt="hot-wallets">
            </div>
            <div class="col-md-9">
              <h3>Hot Wallet</h3>
              <ul>
                {{!-- <li><i class="fa fa-check"></i>Instantly connect to dozens of cryptocurrency networks to send and receive funds with the most secure wallet in the industry.</li>
                <li><i class="fa fa-check"></i>Actively monitored assets with accurately calculated market values.</li>
                <li><i class="fa fa-check"></i>Transfer funds to a cold wallet for secure offline storage.</li>
                <li><i class="fa fa-check"></i>Multiple enabled security protocols and automatic lockdown signals to prevent unauthorized access.</li> --}}
                {{{home_sttings.0.hot_wallet_desc}}}
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <div class="price-item cold">
            <div class="col-md-3">
              <img class="img-responsive" src="cms/home_page/resize/{{home_sttings.0.cold_wallet_image}}" alt="cold-wallets">
            </div>
            <div class="col-md-9">
              <h3>Cold Wallet</h3>
              <ul>
                {{!-- <li><i class="fa fa-check"></i>Secure and monitor assets offline to guarantee safety and prevent attempts to breach security.</li>
                <li><i class="fa fa-check"></i>Accumulate digital assets seamlessly through your back office.</li>
                <li><i class="fa fa-check"></i>Request to transfer cryptocurrencies to your Hot Wallet to readily engage in cryptocurrency.</li> --}}
                {{{home_sttings.0.cold_wallet_desc}}}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Ends Pricing Section -->

    <!-- Starts Buy Section -->

    <div class="buy-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="heading animatedParent">
              <h4 class="animated growIn">Buy and Sell Digital Currency</h4>
              <h3 class="animated bounceInDown">The most trusted digital currency platform</h3>
              <p class="animated growIn">Coin Jolt provides an easy and simple to navigate user interface allows getting started in digital currency to be a seamless process.</p>
            </div>
          </div>
        </div>
        <div class="row animatedParent">
          <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="buy-box animated fadeIn">
              {{!-- <img src="/dist/frontend_cms/images/buy-1.png" alt="buy&amp;sell">
              <p>Access To Market Data</p>
              <span>Get access to leading market data, latest news, tools and resources.</span> --}}

              <img src="cms/home_page/resize/{{home_sttings.0.buy_sell_div1_image}}" alt="buy&amp;sell">
              <p style="font-weight: bold;">{{home_sttings.0.buy_sell_div1_heading}}</p>
              <span>{{{home_sttings.0.buy_sell_div1_desc}}}</span>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="buy-box animated fadeIn">
              {{!-- <img src="/dist/frontend_cms/images/buy-2.png" alt="buy&amp;sell">
              <p>Getting Started Within Seconds</p>
              <span>You are only a few moments away from creating an account.</span> --}}

              <img src="cms/home_page/resize/{{home_sttings.0.buy_sell_div2_image}}" alt="buy&amp;sell">
              <p style="font-weight: bold;">{{home_sttings.0.buy_sell_div2_heading}}</p>
              <span>{{{home_sttings.0.buy_sell_div2_desc}}}</span>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="buy-box animated fadeIn bottom">
              {{!-- <img src="/dist/frontend_cms/images/buy-3.png" alt="buy&amp;sell">
              <p>Security Intelligence</p>
              <span>Digital assets are safe and secure. All user balances are insured by corporate reserves.</span> --}}

              <img src="cms/home_page/resize/{{home_sttings.0.buy_sell_div3_image}}" alt="buy&amp;sell">
              <p style="font-weight: bold;">{{home_sttings.0.buy_sell_div3_heading}}</p>
              <span>{{{home_sttings.0.buy_sell_div3_desc}}}</span>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="buy-box animated fadeIn bottom">
              {{!-- <img src="/dist/frontend_cms/images/buy-4.png" alt="buy&amp;sell">
              <p>Benefit as an Early Adopter</p>
              <span>Volatility means opportunity. Current market growth is expected to be at a 40x
              multiple.</span> --}}

              <img src="cms/home_page/resize/{{home_sttings.0.buy_sell_div4_image}}" alt="buy&amp;sell">
              <p style="font-weight: bold;">{{home_sttings.0.buy_sell_div4_heading}}</p>
              <span>{{{home_sttings.0.buy_sell_div4_desc}}}</span>

            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Ends Buy Section -->

    <!-- Starts Money Mobile Section -->

    {{!-- <div class="money-section animatedParent">
      <div class="container">
        <div class="row">
          <div class="col-md-7 col-sm-7 col-xs-7">
            <div class="left-part">
              <h3 class="animated growIn">Coin Jolt Mobile</h3>
              <h5 class="animated growIn">A wallet that provides a way to manage your funds when you want and where you want.</h5>
              <a class="animated growIn" href="">Android</a>
              <a class="animated growIn" href="">iPhone</a>
            </div>
          </div>
          <div class="col-md-5 col-sm-5 col-xs-5">
            <img class="animated flipInY" src="/dist/frontend_cms/images/hands-mobile.png" alt="mobile">
          </div>
        </div>
      </div>
    </div> --}}

    <!-- Ends Money Mobile Section -->

    <!-- Starts Service Section -->

    <div class="service-section animatedParent">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="heading">
              <h4 class="animated bounceInDown">Industry Leading</h4>
              <h3 class="animated bounceInUp">Why Choose Coin Jolt</h3>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="item animated fadeInDown delay-1075">
              <div class="icon-box">
                <img src="/cms/home_page/resize/{{home_sttings.0.industry_leading_div1_image}}" alt="icon1">
              </div>
              <p>{{home_sttings.0.div1_heading}}</p>
              {{!-- <span>Most popular methods: All major credit cards, wire transfers and cryptocurrency.</span> --}}
              <span style="font-weight: normal;">{{{home_sttings.0.div1_desc}}}</span>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="item animated fadeInDown delay-1050">
              <div class="icon-box">
                <img src="/cms/home_page/resize/{{home_sttings.0.industry_leading_div2_image}}" alt="icon1">
              </div>
              <p>{{home_sttings.0.div2_heading}}</p>
              {{!-- <p>Security Intelligence</p> --}}
              {{!-- <span>Protection against DDoS attacks, full data encryption.</span> --}}
              <span style="font-weight: normal;">{{{home_sttings.0.div2_desc}}}</span>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="item animated fadeInDown delay-1025">
              <div class="icon-box">
                <img src="/cms/home_page/resize/{{home_sttings.0.industry_leading_div3_image}}" alt="icon1">
              </div>
              <p>{{home_sttings.0.div3_heading}}</p>
              {{!-- <p>Global Coverage</p> --}}
              {{!-- <span>Providing services in 999k countries around the globe.</span> --}}
              <span style="font-weight: normal;">{{{home_sttings.0.div3_desc}}}</span>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="item animated fadeInDown delay-1000">
              <div class="icon-box">
                <img src="/cms/home_page/resize/{{home_sttings.0.industry_leading_div4_image}}" alt="icon1">
              </div>
              <p>{{home_sttings.0.div4_heading}}</p>
              {{!-- <p>Advanced Reporting</p> --}}
              {{!-- <span>Downloadable reports, real time balance and transaction history.</span> --}}
              <span style="font-weight: normal;">{{{home_sttings.0.div4_desc}}}</span>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="item animated fadeInDown delay-750 bottom">
              <div class="icon-box">
                <img src="/cms/home_page/resize/{{home_sttings.0.industry_leading_div5_image}}" alt="icon1">
              </div>
              <p>{{home_sttings.0.div5_heading}}</p>
              {{!-- <p>New Standard of Financial Returns</p> --}}
              {{!-- <span>Proprietary industry leading technology can make a significant difference with your investments.</span> --}}
              <span style="font-weight: normal;">{{{home_sttings.0.div5_desc}}}</span>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="item animated fadeInDown delay-500 bottom">
              <div class="icon-box">
                <img src="/cms/home_page/resize/{{home_sttings.0.industry_leading_div6_image}}" alt="icon1">
              </div>
              <p>{{home_sttings.0.div6_heading}}</p>
              {{!-- <p>An Innovative Approach</p> --}}
              {{!-- <span>Connected to every major exchange our platform allows users and clients to engage in digital assets at guaranteed best prices.</span> --}}
              <span style="font-weight: normal;">{{{home_sttings.0.div6_desc}}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Ends Service Section -->

    <!-- Starts Video Section -->

    <div class="video-section animatedParent">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="heading">
              <h4 class="animated growIn">A Decentralized Global Network of Inclusion</h4>
              <h3 class="animated bounceInRight">Play Video</h3>
            </div>
            <a class="animated rollIn" href="" data-toggle="modal" data-target="#video">
              <div class="video">
                <img src="/dist/frontend_cms/images/video.png" alt="">
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Ends Video Section -->

    <!-- Starts Security Section -->

    <div class="security-section animatedParent">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="heading">
              <h4 class="animated bounceInDown">Risk Disclosure</h4>
              <h3 class="animated bounceInUp">Security &amp; Guarantee</h3>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="item animated fadeInLeftShort">
              <div class="icon-box">
              {{!-- <img src="/dist/frontend_cms/images/guarantee-icon-1.png" alt="guarantee">
              </div>
              <p>Fully Regulated</p>
              <span>Working with top government regulators and regulatory officials.</span> --}}
                <img src="/cms/home_page/resize/{{home_sttings.0.risk_disclousure_div1_image}}" alt="guarantee">
              </div>
              <p>{{home_sttings.0.risk_disclousure_div1_heading}}</p>
              <span>{{{home_sttings.0.risk_disclousure_div1_desc}}}</span>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="item animated fadeInLeftShort">
              <div class="icon-box">
                {{!-- <img src="/dist/frontend_cms/images/guarantee-icon-2.png" alt="guarantee">
              </div>
              <p>Global Coverage</p>
              <span>The majority of assets are monitored and routinely stored in safe distributed, inaccessible storage vaults.</span> --}}
              <img src="/cms/home_page/resize/{{home_sttings.0.risk_disclousure_div2_image}}" alt="guarantee">
              </div>
              <p>{{home_sttings.0.risk_disclousure_div2_heading}}</p>
              <span>{{{home_sttings.0.risk_disclousure_div2_desc}}}</span>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="item animated fadeInLeftShort">
              <div class="icon-box">
                {{!-- <img src="/dist/frontend_cms/images/guarantee-icon-3.png" alt="guarantee">
              </div>
              <p>Confidentiality</p>
              <span>We will never share your information full account data encryption.</span> --}}
              <img src="/cms/home_page/resize/{{home_sttings.0.risk_disclousure_div3_image}}" alt="guarantee">
              </div>
              <p>{{home_sttings.0.risk_disclousure_div3_heading}}</p>
              <span>{{{home_sttings.0.risk_disclousure_div3_desc}}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>