<!-- Starts  Bootstrap-touch-slider Slider -->

      {{#if_eq termsOfServiceData.0.terms_of_service_header_image ''}}
            <div class="all-iner-banner" style="background-image: url(cms/terms_of_services/default/terms-of-service.jpg);">
      {{/if_eq}}

      {{#if_neq termsOfServiceData.0.terms_of_service_header_image ''}}
          <div class="all-iner-banner" style="background-image: url(cms/terms_of_services/{{termsOfServiceData.0.terms_of_service_header_image}});">
      {{/if_neq}}
      <div class="image-overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <span class="page-title">{{termsOfServiceData.0.terms_of_service_header_desc}}</span>
          </div>          
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="breadcumb">
              <ul>
                <li><a href="/">Home</a></li>
                <li>Terms of Service</li>
              </ul>
            </div>    
          </div>    
        </div>    
      </div>
      </div>
    </div>

    <!-- End  Bootstrap-touch-slider Slider -->

    <!-- Starts Webticker Section -->

    <!-- Ends Webticker Section -->

    <!-- Starts Welcome Section -->

    <div class="about-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
                {{{termsOfServiceData.0.terms_of_service_content}}}
            
          </div>
        </div>
      </div>
    </div>