<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Coin Jolt | Login</title>
  <!-- Favicon-->
  <link rel="shortcut icon" href="/dist/img/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/dist/img/favicon.ico" type="image/x-icon">
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Style -->
  <link rel="stylesheet" href="/dist/css/style.css">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="/bower_components/Ionicons/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/dist/css/AdminLTE.min.css">
  <!-- iCheck -->
  <link rel="stylesheet" href="/plugins/iCheck/square/blue.css">
  <!-- Responsive Style -->
  <link rel="stylesheet" href="/dist/css/responsive.css">
  <script src='https://www.google.com/recaptcha/api.js'></script>
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>

<body class="hold-transition login-page">
  <header>
    <div class="header-top">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-3">
            <div class="logo">
              <a href="/">
                <img src="/dist/img/logo.png" alt="logo">
              </a>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="marketcap">
                  <div class="container-fluid">
                    <div class="marketcap-crypto">
                      <img src="/dist/img/bitcoin.png" alt="money-icon">
                    <h6></h6>
                    <ul>
                      <li>Live Prices</li>
                      <li>BTC:<span id="btc"></span></li>
                      <li>|</li> 
                      <li>ETH:<span id="eth"></span></li>
                      <li>|</li> 
                      <li>XRP:<span id="xrp"></span></li>
                      <li>|</li> 
                      <li>LTC:<span id="ltc"></span></li>
                      <li>|</li> 
                      <li>BCH:<span id="bch"></span></li>
                    </ul>
                    </div>
                  </div>
                </div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-3">
            <div class="top-menu pull-right">
              <div class="nav-click">
                <i class="fa fa-bars"></i>
              </div>
              <ul>
                <li>
                  <a href="/login">Sign In</a>
                </li>
                <li>
                  <a href="/signup">Create Account</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="login-box">
    <!-- /.login-logo -->
    <div class="login-box-body" style="display: none; top: -70px;">
      <form action="/login" name="frmLogin" id="frmLogin" method="post">
        <img src="/dist/img/logo-icon.png" alt="logo">
        <h4 style="color: #000;">Welcome Back! Sign In</h4>
          {{#if message}}
            <div class="alert alert-danger">{{message}}</div>
          {{/if}}
          {{#if loginActivationMessage}}
            <div class="alert alert-success">{{loginActivationMessage}}</div>
          {{/if}}

        
        <div class="form-group has-feedback">
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          <input type="email" class="form-control" placeholder="Email" name="email" id="email">
        </div>
        <div class="form-group has-feedback">
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          <input type="password" class="form-control" placeholder="Password" id="password" name="password">
        </div>
        <div class="row">
          <div class="col-xs-6">
            <div class="checkbox icheck">
              <label>
                <input type="checkbox" name="remember_me" id="remember_me"> Remember Me
              </label>
            </div>
          </div>
          <!-- /.col -->
          {{!-- <div class="col-xs-6">
            <p class="forgot">Forgot Your Password?</p>
          </div> --}}
          <!-- /.col -->
        </div>

        <div class="row">
          <div class="col-md-12">
              <div class="g-recaptcha" data-sitekey="6Ld_G18UAAAAAEmKMVQ6Yjd8or8pglVWwiTfsesz"></div>
          </div>
        </div>
      
      <!-- /.social-auth-links -->

        <div class="sgn-main">
          
          <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
        </div>
      </form>
      <div class="bot-sign">
        <a href="/signup">Don't have an account?
          <span>Sign up</span>
        </a>
      </div>
      <div class="bot-sign">
        <a href="/forgot-password">Forgot Password?
        </a>
      </div>
    </div>
    <!-- /.login-box-body -->
  </div>
  <!-- /.login-box -->

  <!-- jQuery 3 -->
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.js"></script>
  <!-- Bootstrap 3.3.7 -->
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- iCheck -->
  <script src="/plugins/iCheck/icheck.min.js"></script>
  <script>
    $(function () {
      $('input').iCheck({
        checkboxClass: 'icheckbox_square-blue',
        radioClass: 'iradio_square-blue',
        increaseArea: '20%' /* optional */
      });
    });
  </script>
  <script>
    $(document).ready(function () {
      $('.login-box-body').show();
      $('.login-box-body').animate({
        'top': '0px'
      }, 500);

       $(".alert").fadeTo(2000, 500).slideUp(500, function(){
            $(".alert").slideUp(500);
        });
       $("#frmLogin").validate({
            rules: {
                email: {
                    required: true
                },
                password: {
                    required: true
                }
            },
            messages: {
                email: {
                    required: "Please enter a valid email address."
                },
                password: {
                    required: "Please enter a valid password."
                }
            }
        });
    });
  </script>
  <!-- Starts Scriptd for Responsive Navigation -->
  <script>
    $(document).ready(function() {
      $(".nav-click").click(function() {
          $(".header-top .top-menu ul").slideToggle();
      });
    });
  </script>
   <!-- Ends Scriptd for Responsive Navigation -->

    <script type="text/javascript">
        $(document).ready(function(){
            $.get("https://coincap.io/page/BTC", function(data, status){
                $('#btc').text(data.price_usd.toFixed(2));
            }); 
            $.get("https://coincap.io/page/ETH", function(data, status){

                $('#eth').text(data.price_usd.toFixed(2));
            });
            $.get("https://coincap.io/page/XRP", function(data, status){

                $('#xrp').text(data.price_usd.toFixed(2));
            }); 
            $.get("https://coincap.io/page/LTC", function(data, status){

                $('#ltc').text(data.price_usd.toFixed(2));
            });
            $.get("https://coincap.io/page/BCH", function(data, status){

                $('#bch').text(data.price_usd.toFixed(2));
            });
        });
    </script>

    <!--Starts Login Live Price-->
    <script>
    $(document).ready(function() {
      $(".marketcap-crypto img").click(function() {
          $(".marketcap-crypto ul").slideToggle();
      });
    });
  </script>
  <!--Ends Login Live Price-->

</body>

</html>