<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>Requests Support</h1>
  <ol class="breadcrumb">
    <li>
      <a href="/account/dashboard">
        <i class="fa fa-dashboard"></i> Home
      </a>
    </li>
    <li><a href="/account/submit-a-request">Submit A Request</a></li>
    <li class="active">Requests Support</li>
  </ol>
</section>
<!-- Main content -->
<section class="content container-fluid">
  <div class="transaction-history">
    <!-- Starts Most Recent History -->
    <div class="most-recent-history">
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Tickets Desk</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="table-responsive">
                <table id="support-list" class="table table-striped">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Subject</th>
                      <th>Description</th>
                      <th>Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each supports}}
                    <tr>
                      <td>{{this.id}}</td>
                      <td>{{this.title}}</td>
                      <td>{{this.enquiry}}</td>
                      <td>{{dateFormat this.createdAt "DD-MM-YYYY h:mm:ss a"}}</td>
                    </tr>
                    {{/each}}
                  </tbody>
                </table>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
    </div>
    <!-- Ends Most Recent History -->
  </div>
</section>
<!-- /.content -->
