<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>Coin Jolt Shares</h1>
    <ol class="breadcrumb">
        <li>
            <a href="/account/dashboard"><i class="fa fa-dashboard"></i>Home</a>
        </li>
        <li class="active">Coin Jolt Shares</li>
    </ol>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <div class="transaction-history">
        <div class="row">
            <div class="col-md-12">
                <!-- BAR CHART -->
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">>Coin Jolt Shares</h3>
                    </div>
                    <div class="box-body">
                        <p>Coming Soon...</p>
                        </div>
                    </div>
                </div>
            </div>
        <!-- Ends Unauthorized Report Modal -->
        <!-- Ends Transaction Details -->
    </div>
</section>
<!-- /.content -->