<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Coin Jolt | Sign Up</title>
  <!-- Favicon-->
  <link rel="shortcut icon" href="/dist/img/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/dist/img/favicon.ico" type="image/x-icon">
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Style -->
  <link rel="stylesheet" href="/dist/css/style.css">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="/bower_components/Ionicons/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/dist/css/AdminLTE.min.css">
  <!-- iCheck -->
  <link rel="stylesheet" href="/plugins/iCheck/square/blue.css">
  <!-- Responsive Style -->
  <link rel="stylesheet" href="/dist/css/responsive.css">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- Google Font -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700" rel="stylesheet"> 
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>

<body class="hold-transition login-page">
  <header>

    <div class="header-top">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-3">
            <div class="logo">
              <a href="/">
                <img src="/dist/img/logo.png" alt="logo">
              </a>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="marketcap">
              <div class="container-fluid">
                <div class="marketcap-crypto">
                  <img src="/dist/img/bitcoin.png" alt="money-icon">
                  <h6></h6>
                  <ul>
                    <li>Live Prices</li>
                    <li>BTC:<span id="btc"></span></li>
                    <li>|</li> 
                    <li>ETH:<span id="eth"></span></li>
                    <li>|</li> 
                    <li>XRP:<span id="xrp"></span></li>
                    <li>|</li> 
                    <li>LTC:<span id="ltc"></span></li>
                    <li>|</li> 
                    <li>BCH:<span id="bch"></span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-3">
            <div class="top-menu pull-right">
             <div class="nav-click">
              <i class="fa fa-bars"></i>
            </div>
            <ul>
              <li>
                <a href="/login">Sign In</a>
              </li>
              <li>
                <a href="/signup">Create Account</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="login-box register-box">
  <div class="container">
    <div class="box-max-w1250">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <!-- /.login-logo -->
          <div class="login-box-body" style="display: none; top: -70px;">
            <form action="/signup" method="post" name="frmSignup" id="frmSignup">
              <img src="/dist/img/logo-icon.png" alt="logo">
              <h4 style="color: #000; {{#if message}} display:none{{/if}}">Create an account</h4>
              {{#if message}} 
              <br> 
              <div class="alert alert-success">{{message}}</div>
              {{/if}} {{#if errorMsg}}
              <div class="alert alert-danger">{{errorMsg}}</div>
              {{/if}}

              <!-- <div class="inves">
                <div class="form-group has-feedback invester-type">
                  <p>Are you an Institutional Investor?</p>
                  <div class="intitution">
                    <input name="investor_type" id="institution-radio" value="1" checked="checked" type="radio">Yes
                  </div>
                </div>
                <div class="form-group has-feedback invester-type">
                  <p>Are you an Individual Investor?</p>
                  <div class="intitution-radio">
                    <input name="investor_type" id="individual-radio" value="2" type="radio">Yes
                  </div>
                </div>
              </div> -->
              <div class="reg_box" {{#if message}} style="display:none;"{{/if}}>
                <div class="form-group has-feedback">
                  <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                  <input type="email" class="form-control" placeholder="Email" id="email" name="email">
                </div>
                <div class="form-group has-feedback">
                  <input type="text" class="form-control" placeholder="Phone Number" id="phone" name="phone">
                </div>
                <div class="form-group has-feedback">
                  <input type="text" class="form-control" placeholder="Address" id="address" name="address">
                </div>
                <div class="form-group has-feedback">
                  <input type="text" class="form-control" placeholder="City" id="city" name="city">
                </div>
                <div class="form-group has-feedback">
                  <input type="text" class="form-control" placeholder="State / Province" value="{{user.state}}" id="state" name="state" style="display: none;">
                  <select class="form-control" name="usa_states" id="usa_states">
                    <option value="AL">Alabama (AL) </option>
                    <option value="AK">Alaska (AK) </option>
                    <option value="AZ">Arizona (AZ) </option>
                    <option value="AR">Arkansas (AR) </option>
                    <option value="AA">Armed Forces America (AA) </option>
                    <option value="AE">Armed Forces Europe (AE) </option>
                    <option value="AP">Armed Forces Pacific (AP) </option>
                    <option value="CA">California (CA) </option>
                    <option value="CO">Colorado (CO) </option>
                    <option value="CT">Connecticut (CT) </option>
                    <option value="DE">Delaware (DE) </option>
                    <option value="DC">District of Columbia (DC) </option>
                    <option value="FL">Florida (FL) </option>
                    <option value="GA">Georgia (GA) </option>
                    <option value="HI">Hawaii (HI) </option>
                    <option value="ID">Idaho (ID) </option>
                    <option value="IL">Illinois (IL) </option>
                    <option value="IN">Indiana (IN) </option>
                    <option value="IA">Iowa (IA) </option>
                    <option value="KS">Kansas (KS) </option>
                    <option value="KY">Kentucky (KY) </option>
                    <option value="LA">Louisiana (LA) </option>
                    <option value="ME">Maine (ME) </option>
                    <option value="MD">Maryland (MD) </option>
                    <option value="MA">Massachusetts (MA) </option>
                    <option value="MI">Michigan (MI) </option>
                    <option value="MN">Minnesota (MN) </option>
                    <option value="MS">Mississippi (MS) </option>
                    <option value="MO">Missouri (MO) </option>
                    <option value="MT">Montana (MT) </option>
                    <option value="NE">Nebraska (NE) </option>
                    <option value="NV">Nevada (NV) </option>
                    <option value="NH">New Hampshire (NH) </option>
                    <option value="NJ">New Jersey (NJ) </option>
                    <option value="NM">New Mexico (NM) </option>
                    <option value="NY">New York (NY) </option>
                    <option value="NC">North Carolina (NC) </option>
                    <option value="ND">North Dakota (ND) </option>
                    <option value="OH">Ohio (OH) </option>
                    <option value="OK">Oklahoma (OK) </option>
                    <option value="OR">Oregon (OR) </option>
                    <option value="PA">Pennsylvania (PA) </option>
                    <option value="RI">Rhode Island (RI) </option>
                    <option value="SC">South Carolina (SC) </option>
                    <option value="SD">South Dakota (SD) </option>
                    <option value="TN">Tennessee (TN) </option>
                    <option value="TX">Texas (TX) </option>
                    <option value="UT">Utah (UT) </option>
                    <option value="VT">Vermont (VT) </option>
                    <option value="VA">Virginia (VA) </option>
                    <option value="WA">Washington (WA) </option>
                    <option value="WV">West Virginia (WV) </option>
                    <option value="WI">Wisconsin (WI) </option>
                    <option value="WY">Wyoming (WY) </option>
                  </select>
                  <select class="form-control" name="canada_states" id="canada_states" style="display: none;">
                    <option value="ON">Ontario (ON) </option>
                    <option value="QC">Quebec (QC) </option>
                    <option value="NS">Nova Scotia (NS) </option>
                    <option value="NB">New Brunswick (NB) </option>
                    <option value="MB">Manitoba (MB) </option>
                    <option value="BC">British Columbia (BC) </option>
                    <option value="PE">Prince Edward Island (PE) </option>
                    <option value="SK">Saskatchewan (SK) </option>
                    <option value="AB">Alberta (AB) </option>
                    <option value="NL">Newfoundland and Labrador (NL) </option>
                    <option value="NT">Northwest Territories (NT) </option>
                    <option value="YT">Yukon (YT) </option>
                    <option value="NU">Nunavut (NU) </option>
                  </select>
                </div>
                <div class="form-group has-feedback">
                  <select class="form-control" name="country" id="country">
                    {{#each countries}}
                    <option value="{{this.id}}">{{this.name}}</option>
                    {{/each}}
                  </select>
                </div>
                <div class="form-group has-feedback">
                  <input type="text" class="form-control" placeholder="Zip Code / Postal Code" id="zip" name="zip">
                </div>
                <p>Choose Your Password</p>
                <div class="form-group pass">
                  <input type="password" placeholder="Password" id="password" name="password">
                  <p class="msg user_password redcolor"></p>
                </div>
                <div class="form-group pass">
                  <input type="password" placeholder="Confirm Password" id="confirm_password" name="confirm_password">
                  <p class="msg confirm_password redcolor"></p>
                </div>

                <!-- /.social-auth-links -->

                <div class="reg-main">
                  <button type="submit" class="btn btn-primary btn-block btn-flat reg-btn">Register</button>
                </div>

                <div class="form-group terms">
                  <input type="checkbox" id="termcondition" name="termcondition">
                  <label>I read and agree to the
                    <a data-target="#terms-modal" data-toggle="modal" href="#">terms of use</a>.</label>
                    <div class="termcondition-error-wrapper error"></div> 
                    <p class="msg termcondition redcolor"></p>

                  </div>

                </form>

                {{!-- <div class="form-group terms">
                  <input type="checkbox" id="termcondition" name="termcondition">
                  <label>I read and agree to the
                    <a data-target="#myModal" data-toggle="modal" href="#">terms of use</a>.</label>
                    <p class="msg termcondition redcolor"></p>
                  </div> --}}

                <div class="bot-sign up">
                  <a href="/login">Already have an account?
                    <span>Sign in</span>
                  </a>
                </div>

              </div>
              <!-- /.login-box-body -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.login-box -->

    <!-- Modal -->
    <div class="modal fade" id="terms-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button data-dismiss="modal" class="close" type="button">×</button>
            <h4 class="modal-title" id="myModalLabel">COIN JOLT WEBSITE TERMS AND CONDITIONS OF USE</h4>
          </div>
          <div class="modal-body">
<p>COINJOLT.COM (&ldquo;Coin Jolt,&rdquo; &ldquo;we&rdquo; or &ldquo;us&rdquo;) reserves the right to change, modify, add or remove portions of the Terms at any time for any reason and in our sole discretion. We suggest that you (&ldquo;you,&rdquo; &ldquo;your&rdquo; or &ldquo;User&rdquo;) periodically review the Terms for amendments.</p>

<p>You acknowledge that by accessing or using this website (or other webpages with links to or that utilize the Terms) (collectively, &ldquo;Website&rdquo;) you are agreeing to the Terms as modified from time to time. We will alert you if changes have been made by indicating on the Terms the date they were last amended.</p>

<p>Please feel free to contact us with any questions you might have regarding these Terms. You may send us an e-mail at support(at)coinjolt.com.</p>

<h4>WEBSITE TERMS AND CONDITIONS OF USE</h4>

<p>PLEASE READ THESE TERMS CAREFULLY BEFORE VISITING THE WEBSITE OR USING THE ONLINE SERVICES AND PRODUCTS PROVIDED THEREON. BY ACCESSING OR UTILIZING THE WEBSITE, YOU ACKNOWLEDGE THAT YOU HAVE READ THESE TERMS AND THAT YOU AGREE TO BE BOUND BY THEM. YOUR COMPLIANCE WITH AND ACCEPTANCE OF THESE TERMS IS A CONDITION TO YOUR RIGHT TO ACCESS AND UTILIZE THE WEBSITE. IF YOU DO NOT AGREE TO ALL OF THE TERMS, YOU ARE NOT AN AUTHORIZED USER OF THESE SERVICES AND PRODUCTS AND YOU SHOULD NOT USE THIS WEBSITE. IF YOU DO NOT AGREE TO THESE TERMS, YOU AGREE THAT YOUR SOLE AND EXCLUSIVE REMEDY IS TO DISCONTINUE USING THE WEBSITE.</p>

<p>UNAUTHORIZED USE OF THIS WEBSITE, INCLUDING BUT NOT LIMITED TO MISUSE OF PASSWORDS OR POSTED INFORMATION, IS STRICTLY PROHIBITED. AUTHORIZED USERS OF THIS WEBSITE INCLUDE ANY USERS VISITING THIS WEBSITE FOR PERSONAL AND/OR INFORMATIONAL PURPOSES, CLIENTS AND POTENTIAL CLIENTS OF COIN JOLT, COIN JOLT EMPLOYEES, CANDIDATES FOR EMPLOYMENT OR USERS SEEKING INFORMATION ABOUT EMPLOYMENT OPPORTUNITIES AT COIN JOLT, AND ANY OTHER USERS AUTHORIZED BY COIN JOLT.</p>

<p>USE OF THIS WEBSITE BY RECRUITERS, &ldquo;HEAD HUNTERS,&rdquo; EMPLOYMENT CONSULTANTS OR AGENCIES, PERSONNEL PLACEMENT AGENCIES, PROFESSIONAL SERVICES COMPANIES, EMPLOYMENT CONTRACTORS AND STAFFING AGENCIES SEEKING CURRENT COIN JOLT EMPLOYEES AS CANDIDATES FOR PLACEMENT IS STRICTLY PROHIBITED.</p>

<h4>No Offer/Local Restrictions</h4>

<p>Nothing contained in or on the Website should be construed as a solicitation of an offer to buy or offer, or recommendation, to acquire or dispose of any security, commodity, or investment or to engage in any other transaction. Coin Jolt offers a number of products and services designed specifically for various categories of investors in various countries and regions. Not all products will be available to all investors. These products or services are only offered to such investors, in those countries and regions, in accordance with applicable laws and regulations. The information provided on the Website is not intended for distribution to, or use by, any person or entity in any jurisdiction or country where such distribution or use would be contrary to law or regulation. All persons and entities accessing the Website do so of their own initiative and are responsible for compliance with applicable local laws and regulations. The Website is not directed to any person in any jurisdiction where the publication or availability of the Website is prohibited by reason of that person&rsquo;s nationality, residence or otherwise. Any User subject to these restrictions must not access the Website.</p>

<h4>Copyrights</h4>

<p>All content displayed or otherwise contained on or available via this Website, including without limitation all images, text, articles, research reports, white papers, programs, photographs, illustrations, and graphics, constitutes the proprietary intellectual property of Coin Jolt or its licensors, and are protected by U.S. and international copyright laws. By accessing or utilizing this Website, the User agrees not to directly or indirectly copy, modify, recast, create derivative works, post, publish, display, redistribute, disclose, or make available the content displayed or otherwise contained on or available via this Website, in whole or in part, to any third parties, or assist others to do the same, or otherwise make any commercial use of the materials without the prior written consent of Coin Jolt. The User also agrees not to publish or maintain a hyperlink to any portion or page of this Website other than to the homepage unless such hyperlink is for personal use AND is created and transmitted using the &ldquo;email this page&rdquo; function of the Website.</p>

<h4>Trademarks and Service Marks</h4>

<p>All trademarks, service marks, trade names, and logos displayed on this Website, including without limitation, Coin Jolt&reg; (collectively referred to as the &ldquo;Marks&rdquo;), are proprietary to Coin Jolt or their respective owners, and are protected by U.S. and international trademark laws. Any use of the Marks, or any other Marks owned by or licensed to Coin Jolt without Coin Jolt&rsquo;s express written consent, is strictly prohibited.</p>

<h4>No Warranty, Limitation of Liability</h4>

<p>THE INFORMATION ON THE WEBSITE IS PROVIDED &ldquo;AS IS&rdquo;. COIN JOLT DOES NOT WARRANT THE ACCURACY OF THE MATERIALS PROVIDED HEREIN, EITHER EXPRESSLY OR IMPLIED, FOR ANY PARTICULAR PURPOSE AND EXPRESSLY DISCLAIMS ANY WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE.</p>

<p>YOU ACKNOWLEDGE THAT COIN JOLT SHALL HAVE NO LIABILITY, CONTINGENT OR OTHERWISE, TO YOU OR TO ANY THIRD PARTIES, OR ANY RESPONSIBILITY WHATSOEVER, FOR THE FAILURE OF ANY CONNECTION OR COMMUNICATION SERVICE, TO PROVIDE OR MAINTAIN YOUR ACCESS TO ONLINE SERVICES OR PRODUCTS, OR FOR ANY INTERRUPTION OR DISRUPTION OF SUCH ACCESS OR ANY ERRONEOUS COMMUNICATION BETWEEN COIN JOLT AND YOU. COIN JOLT SHALL HAVE NO LIABILITY, CONTINGENT OR OTHERWISE, TO YOU OR TO THIRD PARTIES, FOR THE ACCURACY, QUALITY, TIMELINESS, PERFORMANCE, RELIABILITY, OR COMPLETENESS OF THE INFORMATION OR SERVICES CONTAINED ON THE WEBSITE, OR DELAYS, OMISSIONS, OR INTERRUPTIONS IN THE DELIVERY OF THE DATA OR SERVICES OR PRODUCTS AVAILABLE ON THIS WEBSITE OR FOR ANY OTHER ASPECT OF THE PERFORMANCE OF THESE SERVICES AND PRODUCTS. IN NO EVENT WILL COIN JOLT BE LIABLE FOR ANY SPECIAL, INDIRECT, INCIDENTAL OR CONSEQUENTIAL DAMAGES THAT MAY BE INCURRED OR EXPERIENCED ON ACCOUNT OF THE USE OF ANY DATA OR SERVICES OR PRODUCTS MADE AVAILABLE ON THIS WEBSITE, EVEN IF COIN JOLT HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. COIN JOLT SHALL HAVE NO RESPONSIBILITY TO INFORM OR NOTIFY YOU OF ANY DIFFICULTIES EXPERIENCED BY COINJOLT OR ANY THIRD PARTIES WITH RESPECT TO THE USE OF THE SERVICES, PRODUCTS OR DATA PROVIDED ON OR BY THE WEBSITE.</p>

<p>YOU FURTHER ACKNOWLEDGE THAT NOTHING CONTAINED ON THIS WEBSITE (INCLUDING, BUT NOT LIMITED TO, STRATEGIES AND RESEARCH, DAILY WIRES AND EDUCATIONAL ARTICLES) CONSTITUTES INVESTMENT, LEGAL, TAX OR OTHER ADVICE, NOR IS IT TO BE RELIED UPON IN MAKING ANY INVESTMENT OR OTHER DECISIONS. YOU SHOULD SEEK PROFESSIONAL ADVICE PRIOR TO MAKING ANY INVESTMENT DECISIONS.</p>

<p>WE MAY REVOKE YOUR ACCESS TO OR UTILIZATION OF THE WEBSITE FOR ANY REASON WITHOUT PRIOR NOTICE.</p>

<h4>Severability</h4>

<p>If any of the provisions of these Terms are deemed unlawful or for any reason unenforceable, the same shall be inoperative only to the extent necessary to achieve compliance with applicable law and shall not affect the remaining Terms, which shall be given full effect, without regard to the invalid portion(s).</p>

<h4>Governing Law/Individual Arbitration of Claims</h4>

<p>The laws of the United States of America, State of New York shall govern these Terms, without giving effect to any choice of law or conflict of law rules or provisions that would cause the application of any other jurisdiction&rsquo;s laws. YOU AND COIN JOLT AGREE THAT ALL CLAIMS OR DISPUTES CONCERNING THE WEBSITE SHALL PROCEED SOLELY ON AN INDIVIDUAL, NOT CLASS ACTION OR REPRESENTATIVE, BASIS IN BINDING ARBITRATION BEFORE AND SUBJECT TO THE RULES OF THE AMERICAN ARBITRATION ASSOCIATION. ANY PARTY MAY APPLY TO A COURT OF COMPETENT JURISDICTION FOR TEMPORARY CONJUNCTIVE OR OTHER EQUITABLE RELIEF IN AID OF ARBITRATION.</p>

<h4>Privacy Policy</h4>

<p>Please review our <a href="/privacy-policy">Privacy Policy</a> for information on how we collect, use, disclose and otherwise manage personal information we collect on the Website, and the measures we take to safeguard the information.</p>

<h4>Unauthorized Use</h4>

<p>You may not use any hardware or software intended to damage or interfere with the proper working of the Website or to surreptitiously intercept any system, data or personal information from the Website, including but not limited to (i) use of any robot, spider or other automatic device, process or means to access the Website for any purpose, including monitoring or copying any of the material on the Website; (ii) any attempt to gain unauthorized access to, interfere with, damage or disrupt any parts of the Website, the server on which the Website is hosted, or any server, computer or database connected to the Website; (iii) attack the Website via a denial-of-service attack or a distributed denial-of-service attack; (iv) use any manual process to monitor or copy any of the material on the Website or for any other unauthorized purpose without our prior written consent; or (v) cause the Website or portions of it to be displayed, or appear to be displayed by, for example, framing, deep linking or in-line linking, on any other site. You agree not to interrupt or attempt to interrupt the operation of the Website in any way. Coin Jolt reserves the right, in its sole discretion, to limit or terminate your access to or use of the Website at any time without notice. Termination of your access or use will not waive or affect any other right or relief to which Coin Jolt may be entitled at law or in equity.</p>

<h4>Third Party References</h4>

<p>References and links on the Website to any names, trademarks, products, services or content of third parties are provided solely as a convenience to you and do not in any way imply Coin Jolt&rsquo;s endorsement of sponsorship of or affiliation with such third party or their services, goods or content.</p>

<p>Throughout this agreement the terms &ldquo;us&rdquo;, &ldquo;our&rdquo;, and &ldquo;we&rdquo; refer to CoinJolt.com and it&rsquo;s operator(s) and owner(s). The terms &ldquo;you&rdquo;, &ldquo;your&rdquo;, and &ldquo;user&rdquo; refer to the person or entity accessing CoinJolt.com or using its services. The terms &ldquo;coin&rdquo; and &ldquo;coins&rdquo; are synonyms for cryptocurrencies.</p>

<p>Accessing this website or any services provided by it in any way indicates your agreement to the complete terms and conditions of this agreement. Any section or item found to be unenforceable by a court of law does not invalidate any other section or item.</p>

<h4>Refund Policy</h4>

<p>It is the nature of Bitcoin, Litecoin, and the other cryptocurrencies on our website that all transactions are final with no method of chargeback or recourse for the sender of the funds. As such we are unable to reverse or provide refunds for any payment made through our payment system. This also applies if you contact us before the payment is completed but it reaches completion before we are able to respond.</p>

<h4>Changes &amp; Updates</h4>

<p>We reserve the right to update, change or replace any part of these Terms &amp; Conditions by posting updates and/or changes to our website. It is your responsibility to check this page periodically for changes. Your continued use of or access to the website following the posting of any changes constitutes acceptance of those changes.</p>

<h4>Additional Terms</h4>

<p>Certain web pages and portals on this website may contain terms and conditions in addition to these Terms. In the event of a conflict, the additional terms and conditions will govern such webpages.</p>

            <!--<p>Coin Jolt allows users to buy and sell digital currency like Bitcoin, Ethereum and Litecoin among other cryptocurrencies at the lowest and highest prices. By constantly tracking the majority of exchanges, we're able to provide users with guaranteed best prices.</p>
            <p>User Features:</p>
            <ul>
              <li>Users have access to market data, research tools, latest news and historical data graphs.</li>
              <li>Current prices on a variety of tradable cryptocurrency.</li>
              <li>Ability to buy, sell and invest in a variety of cryptocurrencies.</li>
            </ul>
            <p>Our pricing feature alone is one of the main reason for why we're the most popular platform for traders and investors. We charge zero transactional fees and transactions happen instantly allowing users to generate the highest returns.</p>
            <p>Managed Cryptocurrency Portfolio Criteria:</p>
            <ul>
              <li>Proprietary technology with intrinsic value.</li>
              <li>Reasonable causes for innovation in a variety of sectors.</li>
              <li>Reputable companys backed by quality experience.</li>
              <li>Solid infrastructure and strong corporate standing.</li></ul>

              <p>Managed Cryptocurrency Portfolio Investment Strategy:</p>
              <ul class="strategy">
                <li>We actively trade in established high capitalized volatile markets.</li>
                <li>Passive investments in initial coin offerings with the following criteria:</li>
                <ol>
                  <li>a. Reputable companies with a proven track record of corporate success and technical experience.</li>
                  <li>b. Proprietary blockchain technology.</li>
                  <li>c. Innovative solutions to industry problems.</li></ol>
                </ul>
                <p>Start buying, selling and investing in Bitcoin, Ethereum and Litecoin among other digital currencies. Invest in a managed cryptocurrency portfolio for a projected minimum of 200% annual returns. By using our site you understand that cryptocurrency can be highly volatile.</p>
-->
                <button data-dismiss="modal" class="close" type="button" style="display: inline-block; text-align: center;">Close</button>
                <br>
              </div>
              <div class="modal-footer">
              </div>
            </div>
          </div>
        </div>

        <!-- jQuery 3 -->
        <script src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.js"></script>
        <!-- Bootstrap 3.3.7 -->
        <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- iCheck -->
        <script src="/plugins/iCheck/icheck.min.js"></script>
        <script>
          $(function () {
            $('input').iCheck({
              checkboxClass: 'icheckbox_square-blue',
              radioClass: 'iradio_square-blue',
              increaseArea: '20%' /* optional */
            });
          });
        </script>
        <script>
          $(document).ready(function () {

            $('.login-box-body').show();
            $('.login-box-body').animate({
              'top': '0px'
            }, 500);

            //$(".alert").fadeTo(2000, 500).slideUp(500, function () {
              //$(".alert").slideUp(500);
            //});
            $("#frmSignup").validate({
              rules: {
                email: {
                  required: true
                },
                password: {
                  required: true
                },
                confirm_password: {
                  required: true,
                  equalTo: "#password"
                },
                termcondition: {
                  required: true
                },
                phone: {
                  required: true,
                  number: true
                },
                address: {
                  required: true
                },
                city: {
                  required: true
                },
                state: {
                  required: true
                },
                country: {
                  required: true
                },
                zip: {
                  required: true,
                  //number: true
                }
              },
              messages: {
                email: {
                  required: "Please enter a valid email email address."
                },
                password: {
                  required: "Please enter a password."
                },
                confirm_password: {
                  required: "Please confirm password.",
                  equalTo: "Passwords must be the same."
                },
                termcondition: {
                  required: "Please check terms and condition box."
                },
                phone: {
                  required: "Please enter a phone number.",
                  number: "Phone number a should be numerical values."
                },
                address: {
                  required: "Please enter a street address."
                },
                city: {
                  required: "Please enter a city."
                },
                state: {
                  required: "Please enter a state."
                },
                country: {
                  required: "Please enter a country."
                },
                zip: {
                  required: "Please enter zip",
                  //number: "Zip code should be numeric"
                }
              }
            });

            $('#country').on('change', function () {
              var countryCode = $(this).val();
              if (countryCode === '226') { // usa states
                $('#usa_states').css('display', 'block');
                $('#canada_states').css('display', 'none');
                $('#state').css('display', 'none');
              } else if (countryCode === '240'){ // canada states
                $('#canada_states').css('display', 'block');
                $('#usa_states').css('display', 'none');
                $('#state').css('display', 'none');
              } else {
                $('#usa_states').css('display', 'none');
                $('#canada_states').css('display', 'none');
                $('#state').css('display', 'block');
              }
            });

          });
        </script>
        <script>  
          $(document).ready(function() {

            $(".reg-btn").click(function() {
              $(".termcondition-error-wrapper").html('Please check terms and condition box.');
            });

            $('#termcondition').on("ifChanged", function(e) {
              if($(this).is(":checked")) {
                $(".termcondition-error-wrapper").hide();
                $('#terms-modal').modal(); // display term-service modal on clicking term-service checkbox
              }
              else {
               $(".termcondition-error-wrapper").show();
              }
            });

          });
        </script>
        <!-- Starts Scriptd for Responsive Navigation -->
        <script>
          $(document).ready(function() {
            $(".nav-click").click(function() {
              $(".header-top .top-menu ul").slideToggle();
            });
          });
        </script>
        <!-- Ends Scriptd for Responsive Navigation -->

        <script type="text/javascript">
          $(document).ready(function(){
            $.get("https://coincap.io/page/BTC", function(data, status){
              $('#btc').text(data.price_usd.toFixed(2));
            }); 
            $.get("https://coincap.io/page/ETH", function(data, status){

              $('#eth').text(data.price_usd.toFixed(2));
            });
            $.get("https://coincap.io/page/XRP", function(data, status){

              $('#xrp').text(data.price_usd.toFixed(2));
            }); 
            $.get("https://coincap.io/page/LTC", function(data, status){

              $('#ltc').text(data.price_usd.toFixed(2));
            });
            $.get("https://coincap.io/page/BCH", function(data, status){

              $('#bch').text(data.price_usd.toFixed(2));
            });
          });
        </script>

        <!--Starts Login Live Price-->
        <script>
          $(document).ready(function() {
            $(".marketcap-crypto img").click(function() {
              $(".marketcap-crypto ul").slideToggle();
            });
          });
        </script>
        <!--Ends Login Live Price-->

        <script>
          var capitalizeMe = "";
          $(".login-box select#country option").each(function() {

            capitalizeMe = $(this).text();
            $(this).text(capitalizeMe.charAt(0).toUpperCase() + capitalizeMe.substring(1));
          });
        </script>

        <script>
          $(document).ready(function () {

                //  Starts Script  For Capitalize The Anhor Text
                function toTitleCase(str) {
                  return str.replace(/\w\S*/g, function (txt) { return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase(); });
                }
                $("select#country option").each(function () {
                  var capText = $(this).text();
                  $(this).html(toTitleCase(capText));
                });
              });
            </script>

          </body>

          </html>