<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Coin Jolt | 2-Step Authentication</title>
  <!-- Favicon-->
  <link rel="shortcut icon" href="/dist/img/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/dist/img/favicon.ico" type="image/x-icon">
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Style -->
  <link rel="stylesheet" href="/dist/css/style.css">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="/bower_components/Ionicons/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/dist/css/AdminLTE.min.css">
  <!-- iCheck -->
  <link rel="stylesheet" href="/plugins/iCheck/square/blue.css">
  <!-- Responsive Style -->
  <link rel="stylesheet" href="/dist/css/responsive.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>

<body class="hold-transition login-page">
  <div class="loader"></div>
  <header>
    <div class="header-top">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-3">
            <div class="logo">
              <a href="/">
                <img src="/dist/img/logo.png" alt="logo">
              </a>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="marketcap">
                  <div class="container-fluid">
                    <div class="marketcap-crypto">
                      <img src="/dist/img/bitcoin.png" alt="money-icon">
                    <h6></h6>
                    <ul>
                      <li>Live Prices</li>
                      <li>BTC:<span id="btc"></span></li>
                      <li>|</li> 
                      <li>ETH:<span id="eth"></span></li>
                      <li>|</li> 
                      <li>XRP:<span id="xrp"></span></li>
                      <li>|</li> 
                      <li>LTC:<span id="ltc"></span></li>
                      <li>|</li> 
                      <li>BCH:<span id="bch"></span></li>
                    </ul>
                    </div>
                  </div>
                </div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-3">
            <div class="top-menu pull-right">
              <div class="nav-click">
                <i class="fa fa-bars"></i>
              </div>
              <ul>
                <li>
                  <a href="/">Sign In</a>
                </li>
                <li>
                  <a href="/signup">Create Account</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="login-box">
    <!-- /.login-logo -->
    {{!-- <div class="login-box-body" style="display: none; top: -70px;">
      <form action="javascript:void(0)" name="twoFactorAuthFormLogin" id="twoFactorAuthFormLogin" method="post">
        <img src="/dist/img/logo-icon.png" alt="logo">
        <h4 style="color: #000;">2-Step Verification Required</h4>

        <div class="form-group has-feedback">
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          <input type="password" class="form-control" placeholder="Enter 6 Digit Code" id="two_factor_auth_user_secret_key" name="two_factor_auth_user_secret_key">
        </div>
      
      <!-- /.social-auth-links -->

        <div class="sgn-main">
          
          <button type="submit" class="btn btn-primary btn-block btn-flat" id="verify">Authenticate Access</button>
        </div>
      </form>
    </div> --}}
    <!-- /.login-box-body -->
    {{!-- for 1st time scan pop up --}}
    <div>
            <input type="hidden" name="two_factor_auth_status" id="two_factor_auth_status" value="{{two_factorAuth_status}}">
        </div>
        <div class="modal fade barcode" id="modal-default">
          <div class="modal-dialog">
            <div class="modal-content">
                <form class="form-horizontal" name="barcode_form" id="barcode_form" action="javascript:void(0)" method="POST">
                    <input type="hidden" name="two_fa_secret_key" id="two_fa_secret_key" value="{{user_details.two_factorAuth_secret_key}}">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                            <h4 style="text-align: center; font-weight: bold;" class="modal-title">Setup Google Two Factor Authentication</h4>
               </div>
               <img style="float: right;" src="{{user_details.two_factorAuth_qr_code_image}}">
              <p style="text-align: left; margin-left: 1%; margin-right: 1%;">2-Step Verification provides stronger security for your account by requiring a second step of verification when you sign in. In addition to your password, you’ll also need a code generated by the Google Authenticator app on your phone.</p>
              <div class="modal-body">
			  <ol>
			  <li style="font-size: 16px;"><a target="_blank" href="https://itunes.apple.com/ca/app/google-authenticator/id388497605?mt=8">Download for iPhone on App Store</a></li>
			  <li style="font-size: 16px;"><a target="_blank" href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&hl=en">Download for Android on Google Play</a></li>
			  </ol>
                            <div style="text-align: center;" class="form-group">
                                <label for="inputEmail3" class="col-sm-3 control-label">Enter Code:</label>
                                <div class="col-sm-7">
                                  <input type="text" class="form-control" name="user_secret_key" id="user_secret_key" placeholder="Enter 6 Digit Code">
                            </div>
                <div style="margin-left: 10%;" class="modal-footer">
				<center><button type="button" id="check_two_factor_auth" class="btn btn-primary">Authenticate Access</button></center>
              
              {{!-- <button type="button" id="two_factor_skip" class="btn btn-danger">Skip, setup later.</button> --}}
              </div>
              <p style="text-align: center;">Learn more about 2-Step Verification by <a target="_blank" href="https://en.wikipedia.org/wiki/Google_Authenticator">clicking here.</a></p>
                          </div>
                      </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
  </div>

{{!-- /pop-up after scan --}}
  <div>
    <input type="hidden" name="two_factorAuth_scan_verified" id="two_factorAuth_scan_verified" value="{{two_factorAuth_scan_verified}}">
    <div class="modal fade barcode" id="modal-default-again">
          <div class="modal-dialog">
            <div class="modal-content">
                <form class="form-horizontal" name="barcode_form_again" id="barcode_form_again" action="javascript:void(0)" method="POST">
                    <input type="hidden" name="two_fa_secret_key_after_scan" id="two_fa_secret_key_after_scan" value="{{user_details.two_factorAuth_secret_key}}">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                            <h4 style="text-align: center; font-weight: bold;" class="modal-title">2-Step Authentication Required</h4>
               </div>
              <div class="modal-body">
                            <div style="text-align: center;" class="form-group">
                                <label for="inputEmail3" class="col-sm-3 control-label">Enter Code:</label>
                                <div class="col-sm-7">
                                  <input type="text" class="form-control" name="user_secret_key_again" id="user_secret_key_again" placeholder="6 Digit Code">
                            </div>
                <div style="margin-left: 10%;" class="modal-footer">
              <center><button type="button" id="check_two_factor_auth_after_scan" class="btn btn-primary">Authenticate Access</button></center>

              </div>
                          </div>
                      </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
  </div>
  <!-- /.login-box -->

  <!-- jQuery 3 -->
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.js"></script>
  <!-- Bootstrap 3.3.7 -->
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- iCheck -->
  <script src="/plugins/iCheck/icheck.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>


  <script type="text/javascript">
    $(document).ready(function (){
      setTimeout(function() { 
            $(".loader").fadeOut("slow");
        }, 2000);

        var two_factorAuth_status = $('#two_factor_auth_status').val();
        if(two_factorAuth_status == 1){
            $('#modal-default').modal({backdrop: 'static', keyboard: false});
        }

        $("#two_factor_skip").on("click", function() {
            $('#modal-default').modal('hide');
        });

        $('#check_two_factor_auth').on('click', function () {
            var valid = $('#barcode_form').valid();
            if(valid){
                var two_factor_auth_secret_key = $('#two_fa_secret_key').val();
                var user_secret_key = $('#user_secret_key').val();

                $(':input[type="button"]').prop('disabled', true);
                $.ajax({
                    type: "POST",
                    url: "/check_two_factor_authentication",
                    data:{
                        two_factor_auth_secret_key: two_factor_auth_secret_key,
                        user_secret_key: user_secret_key
                    },
                    success: function (resp) {
                        if(resp.status == true){
                            $(':input[type="button"]').prop('disabled', false);
                            swal({
                                title: "Access Granted",
                                text: "2 step authentication verified successfully.",
                                type: "success",
                                confirmButtonColor: "#DD6B55",
                                confirmButtonText: "Confirm"
                            },  function() {
                                $.ajax({
                                  type: "POST",
                                  url: "/change_2faAuthVerified_status",
                                  data: {
                                    status: 'Active'
                                  },
                                  success: function (resp) {
                                    if(resp.status == true){
                                      // window.location.href = "/account/dashboard";
                                      $.ajax({
                                        type: "POST",
                                        url: "/change_2faAuthVerified_status",
                                        data:{
                                          status: 'Active'
                                        },
                                        success: function (resp) {
                                          if(resp.status == true){
                                            window.location.href = "/account/dashboard";
                                          }
                                        }
                                      });
                                    }
                                  }
                                });
                            });
                        }else if(resp.status == false) {
                            $(':input[type="button"]').prop('disabled', false);
                            $('#user_secret_key').val('');
                            swal("Something Went Wrong!", "Two factor authentication verified failed. Please scan the QR code and enter the 6 digit code again.");
                        }
                    }
                });
            }
        });

        $('#barcode_form').validate({
            rules:{
                user_secret_key:{
                    required: true
                }
            },
            messages:{
                user_secret_key:{
                    required: "Please enter the 6 digit authentication code."
                }
            }
        });

        var two_factorAuth_scan_verified = $('#two_factorAuth_scan_verified').val();
        if(two_factorAuth_scan_verified == 1){
            $('#modal-default-again').modal({backdrop: 'static', keyboard: false});
            $('#modal-default').modal("hide");
        }

        $('#barcode_form_again').validate({
            rules:{
                user_secret_key_again:{
                    required: true
                }
            },
            messages:{
                user_secret_key_again:{
                    required: "Please enter the 6 digit authentication code."
                }
            }
        });

        $('#check_two_factor_auth_after_scan').on('click', function () {
            var valid = $('#barcode_form_again').valid();
            if(valid){
                var two_factor_auth_secret_key = $('#two_fa_secret_key').val();
                var user_secret_key = $('#user_secret_key_again').val();

                $(':input[type="button"]').prop('disabled', true);
                $.ajax({
                    type: "POST",
                    url: "/check_two_factor_authentication",
                    data:{
                        two_factor_auth_secret_key: two_factor_auth_secret_key,
                        user_secret_key: user_secret_key
                    },
                    success: function (resp) {
                        if(resp.status == true){
                            $(':input[type="button"]').prop('disabled', false);
                            swal({
                                title: "Access Granted",
                                text: "2 step authentication verified successfully.",
                                type: "success",
                                confirmButtonColor: "#DD6B55",
                                confirmButtonText: "Confirm"
                            },  function() {
                                $.ajax({
                                  type: "POST",
                                  url: "/change_2faAuthVerified_status",
                                  data: {
                                    status: 'Active'
                                  },
                                  success: function (resp) {
                                    if(resp.status == true){
                                      // window.location.href = "/account/dashboard";
                                      $.ajax({
                                        type: "POST",
                                        url: "/change_2faAuthVerified_status",
                                        data:{
                                          status: 'Active'
                                        },
                                        success: function (resp) {
                                          if(resp.status == true){
                                            window.location.href = "/account/dashboard";
                                          }
                                        }
                                      });
                                    }
                                  }
                                });
                            });
                        }else if(resp.status == false) {
                            $(':input[type="button"]').prop('disabled', false);
                            $('#user_secret_key_again').val('');
                            swal("Oh no!", "2 step authentication verified failed. Please try again..");
                        }
                    }
                });
            }
        });

        // $(window).bind('beforeunload',function(){
        //   return 'You are trying to skip 2FA Verification. Please verify 2FA process for further actions.';
        // });
    });
  </script>

  <script>
    $(function () {
      $('input').iCheck({
        checkboxClass: 'icheckbox_square-blue',
        radioClass: 'iradio_square-blue',
        increaseArea: '20%' /* optional */
      });
    });
  </script>
  <script>
    $(document).ready(function () {
      $('.login-box-body').show();
      $('.login-box-body').animate({
        'top': '0px'
      }, 500);

       $(".alert").fadeTo(2000, 500).slideUp(500, function(){
            $(".alert").slideUp(500);
        });

       $('#verify').on('click', function () {
        var valid = $('#twoFactorAuthFormLogin').valid();
        if(valid) {
          var user_token = $('#two_factor_auth_user_secret_key').val();
          $.ajax({
            type: "POST",
            url: '/two_factor_auth_checking_for_login',
            data:{
              user_token: user_token
            },
            success: function (resp) {
              if(resp.status == true) {
                window.location.href = '/login_again';
              }
              if(resp.status == false) {
                $('#two_factor_auth_user_secret_key').val('');
                swal("Oh no!", "Two factor authentication verified failed. Please try again.");
              }
            }
          });
        }
       });

       $("#twoFactorAuthFormLogin").validate({
            rules: {
                two_factor_auth_user_secret_key: {
                    required: true
                }
            },
            messages: {
                two_factor_auth_user_secret_key: {
                    required: "Please enter 2 step authentication code."
                }
            }
        });
    });
  </script>
  <!-- Starts Scriptd for Responsive Navigation -->
  <script>
    $(document).ready(function() {
      $(".nav-click").click(function() {
          $(".header-top .top-menu ul").slideToggle();
      });
    });
  </script>
   <!-- Ends Scriptd for Responsive Navigation -->

    <script type="text/javascript">
        $(document).ready(function(){
            $.get("https://coincap.io/page/BTC", function(data, status){
                $('#btc').text(data.price_usd.toFixed(2));
            }); 
            $.get("https://coincap.io/page/ETH", function(data, status){

                $('#eth').text(data.price_usd.toFixed(2));
            });
            $.get("https://coincap.io/page/XRP", function(data, status){

                $('#xrp').text(data.price_usd.toFixed(2));
            }); 
            $.get("https://coincap.io/page/LTC", function(data, status){

                $('#ltc').text(data.price_usd.toFixed(2));
            });
            $.get("https://coincap.io/page/BCH", function(data, status){

                $('#bch').text(data.price_usd.toFixed(2));
            });
        });
    </script>

    <!--Starts Login Live Price-->
    <script>
    $(document).ready(function() {
      $(".marketcap-crypto img").click(function() {
          $(".marketcap-crypto ul").slideToggle();
      });
    });
  </script>
  <!--Ends Login Live Price-->

</body>

</html>