<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Coin Jolt | Update Password</title>
  <!-- Favicon-->
  <link rel="shortcut icon" href="/dist/img/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/dist/img/favicon.ico" type="image/x-icon">
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Style -->
  <link rel="stylesheet" href="/dist/css/style.css">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="/bower_components/Ionicons/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/dist/css/AdminLTE.min.css">
  <!-- iCheck -->
  <link rel="stylesheet" href="/plugins/iCheck/square/blue.css">
  <!-- Responsive Style -->
  <link rel="stylesheet" href="/dist/css/responsive.css">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>

<body class="hold-transition login-page">
  <header>
    <div class="header-top">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-3">
            <div class="logo">
              <a href="/">
                <img src="/dist/img/logo.png" alt="logo">
              </a>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="marketcap">
                  <div class="container-fluid">
                    <div class="marketcap-crypto">
                      <img src="/dist/img/bitcoin.png" alt="money-icon">
                    <h6></h6>
                    <ul>
                      <li>Live Prices</li>
                      <li>BTC:<span id="btc"></span></li>
                      <li>|</li> 
                      <li>ETH:<span id="eth"></span></li>
                      <li>|</li> 
                      <li>XRP:<span id="xrp"></span></li>
                      <li>|</li> 
                      <li>LTC:<span id="ltc"></span></li>
                      <li>|</li> 
                      <li>BCH:<span id="bch"></span></li>
                    </ul>
                    </div>
                  </div>
                </div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-3">
            <div class="top-menu pull-right">
              <div class="nav-click">
                <i class="fa fa-bars"></i>
              </div>
              <ul>
                <li>
                  <a href="/login">Sign In</a>
                </li>
                <li>
                  <a href="/signup">Create Account</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="login-box">
    <!-- /.login-logo -->
    <div class="login-box-body" style="display: none; top: -70px;">
      <form action="" name="updatePasswordFrm" id="updatePasswordFrm" method="post">
        <img src="/dist/img/logo-icon.png" alt="logo">
        <h4 style="color: #000;">Update Password</h4>
          <div id="errMessages"></div>

        <div class="form-group has-feedback">
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          <input type="password" class="form-control" placeholder="Enter Password" name="password" id="password">
        </div>

        <div class="form-group has-feedback">
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          <input type="password" class="form-control" placeholder="Confirm Password" name="confirmPassword" id="confirmPassword">
        </div>
      
      <!-- /.social-auth-links -->

        <div class="sgn-main">
          
          <button type="submit" class="btn btn-primary btn-block btn-flat" id="updatePasswordBtn">Update Password</button><br>
          <img src="/ajax-loader-1.gif" style="display: none;height: 26px;width: 26px;" class="loader-gif img-responsive">
        </div>

      </form>
    </div>
    <!-- /.login-box-body -->
  </div>
  <!-- /.login-box -->

  <!-- jQuery 3 -->
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.js"></script>
  <!-- Bootstrap 3.3.7 -->
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- iCheck -->
  <script src="/plugins/iCheck/icheck.min.js"></script>
  <script>
    $(function () {
      $('input').iCheck({
        checkboxClass: 'icheckbox_square-blue',
        radioClass: 'iradio_square-blue',
        increaseArea: '20%' /* optional */
      });
    });
  </script>
  <script>
    $(document).ready(function () {

      //var baseURL = "http://ec2-54-224-110-112.compute-1.amazonaws.com/";
      //var baseURL = "https://www.coinjolt.com/";
      //var baseURL = "http://ec2-34-230-81-205.compute-1.amazonaws.com/";
      var baseURL = "http://www.coinjolt.com/";

      $('.login-box-body').show();
      $('.login-box-body').animate({
        'top': '0px'
      }, 500);

      var pathArray = window.location.pathname.split( '/' );
      var secretKey = pathArray[2];

       $(".alert").fadeTo(2000, 500).slideUp(500, function(){
            $(".alert").slideUp(500);
        });
       $("#updatePasswordFrm").validate({
            rules: {
                password: {
                    required: true
                },
                confirmPassword: {
                    required: true,
                    equalTo: "#password"
                }
            },
            messages: {
                password: {
                    required: "Please enter password"
                },
                confirmPassword: {
                    required: "Please enter confirm password",
                    equalTo: "Should be match with password"
                }
            },
            submitHandler:function(form) {
                  $.ajax({
                        type: "POST",
                        url: "/update-password2",
                        data: {
                            passWord: $("#password").val(),
                            forgot_key: secretKey
                        },
                        beforeSend: function() {
                            $(".loader-gif").show();
                        },
                        success:function(response) {
                            $(".loader-gif").hide();
                            if(response.status === 1){

                              $("#errMessages").removeClass("alert alert-danger");
                              $("#errMessages").html("");

                              $("#errMessages").addClass("alert alert-success");
                              $("#errMessages").html(response.msg);

                              setTimeout(function () {
                                window.location.href = baseURL+"login";
                              }, 4000); 
                            }
                            else if(response.status === 2){
                              $("#errMessages").removeClass("alert alert-success");
                              $("#errMessages").html("");

                              $("#errMessages").addClass("alert alert-danger");
                              $("#errMessages").html(response.msg);
                            }
                        },
                        error: function(xhr) {
                            $(".loader-gif").hide();
                        }
                    });
            }
        });
    });
  </script>
  <!-- Starts Scriptd for Responsive Navigation -->
  <script>
    $(document).ready(function() {
      $(".nav-click").click(function() {
          $(".header-top .top-menu ul").slideToggle();
      });
    });
  </script>
   <!-- Ends Scriptd for Responsive Navigation -->

    <script type="text/javascript">
        $(document).ready(function(){
            $.get("https://coincap.io/page/BTC", function(data, status){
                $('#btc').text(data.price_usd.toFixed(2));
            }); 
            $.get("https://coincap.io/page/ETH", function(data, status){

                $('#eth').text(data.price_usd.toFixed(2));
            });
            $.get("https://coincap.io/page/XRP", function(data, status){

                $('#xrp').text(data.price_usd.toFixed(2));
            }); 
            $.get("https://coincap.io/page/LTC", function(data, status){

                $('#ltc').text(data.price_usd.toFixed(2));
            });
            $.get("https://coincap.io/page/BCH", function(data, status){

                $('#bch').text(data.price_usd.toFixed(2));
            });
        });
    </script>

    <!--Starts Login Live Price-->
    <script>
    $(document).ready(function() {
      $(".marketcap-crypto img").click(function() {
          $(".marketcap-crypto ul").slideToggle();
      });
    });
  </script>
  <!--Ends Login Live Price-->

</body>

</html>