<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="title-with-btn pd-612">
    <div class="pull-left">
      <h1>Hot and Cold Wallets</h1>
    </div>
    {{!-- {{#if_eq count 0}}
    <div class="pull-left">
      <button class="btn btn-primary wallet-btn" id="wallet_create">Generate Wallet Address</button>
    </div>
    {{/if_eq}} --}}
    <div class="clearfix"></div>
  </div>
 
  <ol class="breadcrumb">
    <li>
      <a href="/account/dashboard">
        <i class="fa fa-dashboard"></i> Home</a>
    </li>
    <li class="active">Hot and Cold Wallets</li>
  </ol>
</section>
<!-- Main content -->
<section class="content">


  <div class="row">
    <div class="col-md-12">
      <div class="box tabs">
        <div class="total-usd-bal">
          <strong>Total USD Balance:</strong> <span>${{formatCurrency (twoDecimalPoint totalUsdBlnc)}}</span>
        </div>
        <div class="panel with-nav-tabs">
          <div class="panel-heading">
            <ul class="nav nav-tabs">
              <li class="active">
                <a href="#tab1primary" data-toggle="tab">
                  <span class="glyphicon glyphicon-btc"></span>Deposit Funds</a>
              </li>
              <li>
                <a href="#tabHotWallet" data-toggle="tab">
                  <span class="glyphicon"><i class="fa fa-fire"></i></span>Hot Wallet
                </a>
              </li>
              <li>
                <a href="#tabColdWallet" data-toggle="tab">
                  <span class="glyphicon"><i class="fa fa-snowflake-o"></i></span>Cold Wallet
                </a>
              </li>
              <li>
                <a href="#tab2primary" data-toggle="tab">
                  <span class="glyphicon glyphicon-export"></span>Send Funds</a>
              </li>
              {{!-- <li>
                <a href="#tab3primary" data-toggle="tab">
                  <span class="glyphicon glyphicon-retweet"></span>Transfer</a>
              </li> --}}
              <li>
                <a href="#tab4primary" data-toggle="tab">
                  <span class="glyphicon glyphicon-time"></span>Activity</a>
              </li>
            </ul>
          </div>
          <div class="panel-body">
            <div class="tab-content">
              <!-- tab part one -->
              <div class="tab-pane fade in active" id="tab1primary">
                <div class="body-wallets">
                  <div class="row">
                    <div class="col-md-12">
					<p>Generate a wallet address to deposit cryptocurrencies, transact and enjoy using Coin Jolt applications.</p>
                      <!--BTC tabs starts-->
                      <div class="bit-tabs">
                        <div class="content-box">
                          <div class="collaps pull-left">
                            {{!-- <i class="fa fa-bitcoin"></i> --}}
                            <div class="s-s-bitcoin currency-logo-sprite"></div>
                            <a style="text-decoration: none;" data-toggle="collapse" data-target="#bitcoin">Bitcoin</a>
                          </div>
                          <div class="fltrgt-box pull-right">
                            <div class="claculate">
                              <span>{{btcBalance}} 
                                <strong>BTC</strong> <span class="usd_wallet_blnc">${{formatCurrency (twoDecimalPoint totalBtcUsd)}} USD</span>
                              </span>
                            </div>
                          </div>
                        </div>
                        <div id="bitcoin" class="collapse">
                          <div class="mywallt">
                            <div class="middle">
                              <div class="all-btn">
                                {{#if_eq btcWallet.count 0}}
                                  <button type="button" class="btn btn-primary wallet_create" data-datac="1" data-code="btc">
                                  <i class="fa fa-plus"></i>Generate Wallet Address</button>
                                {{else}}
                                  <ul class="list-group">
                                    <li class="list-group-item">
                                      <strong>Wallet ID: </strong>{{btcWallet.rows.0.bitgo_wallet_id}}
                                    </li>
                                  </ul>      
                                {{/if_eq}}  
                                {{#if_neq btcWallet.count 0}} {{#if_eq btcAddressDetails.count 0}}
                                <button type="button" class="btn btn-primary address_btn" data-datac="1" data-code="btc">
                                  <i class="fa fa-plus"></i>Generate Bitcoin address</button>
                                {{/if_eq}} {{/if_neq}}
                                {{#if_neq btcAddressDetails.count 0}}
                                  <ul class="list-group">
                                    <li class="list-group-item">
                                      <strong>Bitcoin Address: </strong>{{btcAddressDetails.rows.0.address}}
                                    </li>
                                  </ul>
                                {{/if_neq}}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!--BTC tabs ends-->
                      <!--ETH tabs starts-->
                      <div class="bit-tabs">
                        <div class="content-box">
                          <div class="collaps pull-left">
                            <div class="s-s-ethereum currency-logo-sprite"></div>
                            <a data-toggle="collapse" data-target="#ethereum">Ethereum</a>
                          </div>
                          <div class="fltrgt-box pull-right">
                            <div class="claculate">
                              <span>{{ethBalance}}
                                <strong>ETH</strong> <span class="usd_wallet_blnc">${{formatCurrency (twoDecimalPoint totalEthUsd)}} USD</span>
                              </span>
                            </div>
                          </div>
                        </div>
                        <div id="ethereum" class="collapse">
                          <div class="mywallt">
                            <div class="middle">
                              <div class="all-btn">
                                {{#if_eq ethWallet.count 0}}
                                  <button type="button" class="btn btn-primary wallet_create" data-datac="2" data-code="eth">
                                  <i class="fa fa-plus"></i>Generate Wallet Address</button>
                                {{else}}
                                  <ul class="list-group">
                                    <li class="list-group-item">
                                      <strong>Wallet ID: </strong>{{ethWallet.rows.0.bitgo_wallet_id}}
                                    </li> 
                                  </ul>       
                                {{/if_eq}}  
                                {{#if_neq ethWallet.count 0}} {{#if_eq ethAddressDetails.count 0}}
                                <button type="button" class="btn btn-primary address_btn" data-datac="2" data-code="eth">
                                  <i class="fa fa-plus"></i>Generate Ethereum address</button>
                                {{/if_eq}} {{/if_neq}}
                                {{#if_neq ethAddressDetails.count 0}}
                                  <ul class="list-group">
                                    <li class="list-group-item">
                                      <strong>Ethereum Address: </strong>{{ethAddressDetails.rows.0.address}}
                                    </li>
                                  </ul>
                                {{/if_neq}} 
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!--ETH tabs ends-->
                      <!--LTC tabs starts-->
                      <div class="bit-tabs">
                        <div class="content-box">
                          <div class="collaps pull-left">
                            <div class="s-s-litecoin currency-logo-sprite"></div>
                            <a data-toggle="collapse" data-target="#ltc">Litecoin</a>
                          </div>
                          <div class="fltrgt-box pull-right">
                            <div class="claculate">
                              <span>{{ltcBalance}}
                                <strong>LTC</strong> <span class="usd_wallet_blnc">${{formatCurrency (twoDecimalPoint totalLtcUsd)}} USD</span>
                              </span>
                            </div>
                          </div>
                        </div>
                        <div id="ltc" class="collapse">
                          <div class="mywallt">
                            <div class="middle">
                              <div class="all-btn">
                                {{#if_eq ltcWallet.count 0}}
                                  <button type="button" class="btn btn-primary wallet_create" data-datac="3" data-code="ltc">
                                  <i class="fa fa-plus"></i>Generate Wallet Address</button>
                                {{else}}
                                  <ul class="list-group">
                                    <li class="list-group-item">
                                      <strong>Wallet ID: </strong>{{ltcWallet.rows.0.bitgo_wallet_id}} 
                                    </li>
                                  </ul>       
                                {{/if_eq}}  
                                {{#if_neq ltcWallet.count 0}} {{#if_eq ltccAddressDetails.count 0}}
                                <button type="button" class="btn btn-primary address_btn" data-datac="3" data-code="ltc">
                                  <i class="fa fa-plus"></i>Generate Litecoin address</button>
                                {{/if_eq}} {{/if_neq}}
                                {{#if_neq ltccAddressDetails.count 0}}
                                  <ul class="list-group">
                                    <li class="list-group-item">
                                      <strong>Litecoin Address: </strong>{{ltccAddressDetails.rows.0.address}}
                                    </li>
                                  </ul>
                                {{/if_neq}} 
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!--LTC tabs ends-->
                      <!--BCH tabs starts-->
                      <div class="bit-tabs">
                        <div class="content-box">
                          <div class="collaps pull-left">
                            <div class="s-s-bitcoin-cash currency-logo-sprite"></div>
                            <a data-toggle="collapse" data-target="#bch">Bitcoin Cash</a>
                          </div>
                          <div class="fltrgt-box pull-right">
                            <div class="claculate">
                              <span>{{bchBalance}}
                                <strong>BCH</strong> <span class="usd_wallet_blnc">${{formatCurrency (twoDecimalPoint totalBchUsd)}} USD</span>
                              </span>
                            </div>
                          </div>
                        </div>
                        <div id="bch" class="collapse">
                          <div class="mywallt">
                            <div class="middle">
                              <div class="all-btn">
                                {{#if_eq bchWallet.count 0}}
                                  <button type="button" class="btn btn-primary wallet_create" data-datac="5" data-code="bch">
                                  <i class="fa fa-plus"></i>Generate Wallet Address</button>
                                {{else}}
                                  <ul class="list-group">
                                    <li class="list-group-item">
                                      <strong>Wallet ID: </strong>{{bchWallet.rows.0.bitgo_wallet_id}}    
                                    </li>
                                  </ul>    
                                {{/if_eq}}  
                                {{#if_neq bchWallet.count 0}} {{#if_eq bchAddressDetails.count 0}}
                                <button type="button" class="btn btn-primary address_btn" data-datac="5" data-code="bch">
                                  <i class="fa fa-plus"></i>Generate Bitcoin Cash address</button>
                                {{/if_eq}} {{/if_neq}}
                                {{#if_neq bchAddressDetails.count 0}}
                                  <ul class="list-group">
                                    <li class="list-group-item">
                                      <strong>Bitcoin Cash Address: </strong>{{bchAddressDetails.rows.0.address}}
                                    </li>
                                  </ul>
                                {{/if_neq}}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!--BCH tabs ends-->
                      <!--RMG tabs starts-->
                      {{!-- <div class="bit-tabs">
                        <div class="content-box">
                          <div class="collaps pull-left">
                            <div class="s-s-royal mint gold currency-logo-sprite"></div>
                            <a data-toggle="collapse" data-target="#rmg">Royal Mint Gold</a>
                          </div>
                          <div class="fltrgt-box pull-right">
                            <div class="claculate">
                              <span>{{rmgBalance}}
                                <strong>RMG</strong> (${{formatCurrency (twoDecimalPoint totalRmgUsd)}})
                              </span>
                            </div>
                          </div>
                        </div>
                        <div id="rmg" class="collapse">
                          <div class="mywallt">
                            <div class="middle">
                              <div class="all-btn">
                                {{#if_eq rmgWallet.count 0}}
                                  <button type="button" class="btn btn-primary wallet_create" data-datac="46" data-code="rmg">
                                  <i class="fa fa-plus"></i>Generate Wallet Address</button>
                                {{else}}
                                  <ul class="list-group">
                                    <li class="list-group-item">
                                      <strong>Wallet ID: </strong>{{rmgWallet.rows.0.bitgo_wallet_id}}
                                    </li>
                                  </ul>    
                                {{/if_eq}}  
                                {{#if_neq rmgWallet.count 0}} {{#if_eq rmgAddressDetails.count 0}}
                                <button type="button" class="btn btn-primary address_btn" data-datac="46" data-code="rmg">
                                  <i class="fa fa-plus"></i>Generate Royal Mint Gold address</button>
                                {{/if_eq}} {{/if_neq}}
                                {{#if_neq rmgAddressDetails.count 0}}
                                  <ul class="list-group">
                                    <li class="list-group-item">
                                      <strong>Royal Mint Gold Address: </strong>{{rmgAddressDetails.rows.0.address}}
                                    </li>
                                  </ul>
                                {{/if_neq}}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div> --}}
                      <!--RMG tabs ends-->
                      <!--XRP tabs starts-->
                      <div class="bit-tabs">
                        <div class="content-box">
                          <div class="collaps pull-left">
                            <div class="s-s-ripple currency-logo-sprite"></div>
                            <a data-toggle="collapse" data-target="#xrp">Ripple</a>
                          </div>
                          <div class="fltrgt-box pull-right">
                            <div class="claculate">
                              <span>{{xrpBalance}}
                                <strong>XRP</strong> <span class="usd_wallet_blnc">${{formatCurrency (twoDecimalPoint totalXrpUsd)}} USD</span>
                              </span>
                            </div>
                          </div>
                        </div>
                        <div id="xrp" class="collapse">
                          <div class="mywallt">
                            <div class="middle">
                              <div class="all-btn">
                                {{#if_eq xrpWallet.count 0}}
                                  <button type="button" class="btn btn-primary wallet_create" data-datac="4" data-code="xrp">
                                  <i class="fa fa-plus"></i>Generate Wallet Address</button>
                                {{else}}
                                  <ul class="list-group">
                                    <li class="list-group-item">
                                      <strong>Wallet ID: </strong>{{xrpWallet.rows.0.bitgo_wallet_id}}
                                    </li>
                                  </ul>    
                                {{/if_eq}}  
                                {{#if_neq xrpWallet.count 0}} {{#if_eq xrpAddressDetails.count 0}}
                                <button type="button" class="btn btn-primary address_btn" data-datac="4" data-code="xrp">
                                  <i class="fa fa-plus"></i>Generate Ripple address</button>
                                {{/if_eq}} {{/if_neq}}
                                {{#if_neq xrpAddressDetails.count 0}}
                                  <ul class="list-group">
                                    <li class="list-group-item">
                                      <strong>Ripple Address: </strong>{{xrpAddressDetails.rows.0.address}}
                                    </li>
                                  </ul>
                                {{/if_neq}}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!--XRP tabs ends-->
                    </div>
                  </div>
                </div>
              </div>
              <!-- tab part one -->

              <!-- tab part two -->
              <div class="tab-pane fade" id="tab2primary">
                <div class="send-box">
                  <p>You can send cryptocurrency directly to another person or merchandise without any third parties. Just enter
                    a payment address of the recipient and the amount you wish to send. All payments are irreversible once
                    sent.
                  </p>
                  {{!-- <form method="post" action="" id="btc-send"> --}}
                    <div class="form-group">
                      <label for="exampleInputPassword1">Select Currency</label>
                      <select name="currency_send_id" id="currency_send_id" class="form-control">
                        <option value="">Please selet an option</option>
                        <option value="1">Bitcoin (BTC)</option>
                        <option value="2">Ethereum (ETH)</option>
                        <option value="3">Litecoin (LTC)</option>
                        <option value="5">Bitcoin Cash (BCH)</option>
                        {{!-- <option value="46">Royal Mint Gold (RMG)</option> --}}
                        <option value="4">Ripple (XRP)</option>
                      </select>
                      {{!-- <label for="exampleInputPassword1">Send cryptocurrency</label> --}}
                    </div>
                    <div id="addresstext" role="alert"></div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="exampleInputPassword1">To the address</label>
                          <input type="text" class="form-control" id="coin_address" name="coin_address" placeholder="Enter recipient address">
                        </div>
                      </div>
                      {{!-- <div class="col-md-6">
                        <div class="form-group">
                          <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                              aria-expanded="true">
                              Payment templates (BTC)
                              <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                              <li>
                                <a href="#">
                                  <i aria-hidden="true" class="fa fa-pencil"></i> Edit templates</a>
                              </li>
                              <li>
                                <a href="#">
                                  <i aria-hidden="true" class="fa fa-plus"></i> Add new template</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div> --}}
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="exampleInputPassword1">Amount</label>
                          <input type="text" class="form-control" id="coin_amount" name="coin_amount" placeholder="min 0.0001 BTC">
                        </div>
                        <input type="hidden" id="coin_rate" name="coin_rate" value="" />
                        <div class="wallet_cal_display">
                          <div class="" id="currentratetext2" role="alert"></div>
                          <div class="" id="calculatedamount2" role="alert"></div>
                        </div>  
                      </div>
                      {{!-- <div class="col-md-4">
                        <div class="form-group">
                          <label for="exampleInputPassword1">Transaction fee</label>
                          <input type="text" class="form-control" id="" placeholder="">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="exampleInputPassword1">Amount gross
                            <a class="amtgrss" href="">(0 BTC available)</a>
                          </label>
                          <input type="text" class="form-control" id="" placeholder="min 0.0002 BTC">
                        </div>
                      </div> --}}
                    </div>
                    <div class="row">
                      <div class="col-md-12" id="coinsenderrormsg" style="display:none;"> </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        {{!-- <div class="notebox">
                          <label class="note">
                            <input type="checkbox" id="myCheck" onclick="myFunction()">Add a note to this payment
                          </label>
                          <textarea placeholder="Optional payment description for your transaction history. These details will not be passed through to the recipient."
                            id="comment" name="comment" class="form-control"></textarea>
                        </div>
                        <div class="notebox">
                          <label class="note">
                            <input type="checkbox" type="checkbox" id="checkbox">Save to my payment templates
                          </label>
                          <input type="text" placeholder="Template name" name="template_name" id="clickedYes" class="form-control">
                        </div> --}}
                        {{!-- <button data-toggle="modal" data-target="#preview-transaction" class="btn btn-primary btn-lg" type="button">Preview Payment</bucoin-send-btntton> --}}
                        <img src="/ajax-loader-1.gif" class="loader-gif" style="display: none;">
                        <input class="btn btn-primary btn-lg" id="coin-send-btn" type="button" value="Send Coin">
                      </div>
                    </div>
                  {{!-- </form> --}}
                </div>
              </div>

              <!-- tab part two -->

              <!-- tab part three -->

              {{!-- <div class="tab-pane fade" id="tab3primary">
                <div class="wallets-panel">
                  <form>
                    <div class="row">
                      <div class="col-md-5">
                        <h3>Hot Wallet</h3>
                        <div class="form-group">
                          <label for="exampleInputPassword1">Select Currency</label>
                          <select name="" id="" class="form-control">
                            <option value="BTC">Bitcoin (BTC)</option>
                            <option value="ETH">Ethereum (ETH)</option>
                            <option value="LTC">Litecoin (LTC)</option>
                            <option value="XRP">Ripple (XRP)</option>
                            <option value="BCH">Bitcoin Cash (BCH)</option>
                            <option value="ADA">Cardano (ADA)</option>
                            <option value="NEO">NEO (NEO)</option>
                            <option value="XLM">Stellar (XLM)</option>
                            <option value="EOS">EOS (EOS)</option>
                            <option value="IOT">IOTA (IOT)</option>
                            <option value="DASH">Dash (DASH)</option>
                            <option value="XMR">Monero (XMR)</option>
                            <option value="XEM">NEM (XEM)</option>
                            <option value="LSK">Lisk (LSK)</option>
                            <option value="TRX">Tron (TRX)</option>
                            <option value="VEN">VeChain (VEN)</option>
                            <option value="QTUM">Qtum (QTUM)</option>
                            <option value="USDT">Tether (USDT)</option>
                            <option value="ICX">ICON (ICX)</option>
                            <option value="OMG">OmiseGO (OMG)</option>
                            <option value="ZEC">Zcash (ZEC)</option>
                            <option value="XVG">Verge (XVG)</option>
                            <option value="STEEM">Steem (STEEM)</option>
                            <option value="PPT">Populous (PPT)</option>
                            <option value="SC">Siacoin (SC)</option>
                            <option value="STRAT">Stratis (STRAT)</option>
                            <option value="RHOC">RChain (RHOC)</option>
                            <option value="WAVES">Waves (WAVES)</option>
                            <option value="SNT">Status (SNT)</option>
                            <option value="DOGE">Dogecoin (DOGE)</option>
                            <option value="BTS">BitShares (BTS)</option>
                            <option value="MKR">Maker (MKR)</option>
                            <option value="ZCL">ZClassic (ZCL)</option>
                            <option value="AE">Aeternity (AE)</option>
                            <option value="DGD">DigixDAO (DGD)</option>
                            <option value="ZRX">0x (ZRX)</option>
                            <option value="REP">Augur (REP)</option>
                            <option value="DCR">Decred (DCR)</option>
                            <option value="VERI">Veritaseum (VERI)</option>
                            <option value="HSR">Hshare (HSR)</option>
                            <option value="ETN">Electroneum (ETN)</option>
                            <option value="KMD">Komodo (KMD)</option>
                            <option value="ARDR">Ardor (ARDR)</option>
                            <option value="ARK">Ark (ARK)</option>
                            <option value="GAS">Gas (GAS)</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label for="">Amount to Transfer</label>
                          <input type="text" class="form-control" id="" placeholder="Enter amount">
                        </div>
                      </div>
                      <div class="col-md-2">
                        <i class="fa fa-arrows-h"></i>
                        <input type="submit" class="btn btn-primary" id="" value="Continue" name="submit">
                      </div>
                      <div class="col-md-5 last">
                        <h3>Cold Wallet</h3>
                        <div class="form-group">
                          <label for="">Balances</label>
                          <input type="text" class="form-control" id="" placeholder="Balance">
                        </div>
                        <div class="form-group">
                          <label for="exampleInputPassword1">Daily interest rate</label>
                          <input type="text" class="form-control" id="" placeholder="(0.05% of total balance)">
                        </div>
                      </div>
                    </div>
                  </form>
                </div>

                <div class="wallets-panel bottom">
                  <form>
                    <div class="row">
                      <div class="col-md-5">
                        <h3 style="text-align: right;">Cold Wallets</h3>
                        <div class="form-group">
                          <label for="exampleInputPassword1">Total USD Value</label>
                          <input type="text" class="form-control usdvalue" id="" placeholder="Enter amount">
                        </div>
                        <div class="form-group">
                          <label for="">Select USD Currency</label>
                          <select name="" id="" class="form-control">
                            <option value="BTC">Bitcoin (BTC)</option>
                            <option value="ETH">Ethereum (ETH)</option>
                            <option value="LTC">Litecoin (LTC)</option>
                            <option value="XRP">Ripple (XRP)</option>
                            <option value="BCH">Bitcoin Cash (BCH)</option>
                            <option value="ADA">Cardano (ADA)</option>
                            <option value="NEO">NEO (NEO)</option>
                            <option value="XLM">Stellar (XLM)</option>
                            <option value="EOS">EOS (EOS)</option>
                            <option value="IOT">IOTA (IOT)</option>
                            <option value="DASH">Dash (DASH)</option>
                            <option value="XMR">Monero (XMR)</option>
                            <option value="XEM">NEM (XEM)</option>
                            <option value="LSK">Lisk (LSK)</option>
                            <option value="TRX">Tron (TRX)</option>
                            <option value="VEN">VeChain (VEN)</option>
                            <option value="QTUM">Qtum (QTUM)</option>
                            <option value="USDT">Tether (USDT)</option>
                            <option value="ICX">ICON (ICX)</option>
                            <option value="OMG">OmiseGO (OMG)</option>
                            <option value="ZEC">Zcash (ZEC)</option>
                            <option value="XVG">Verge (XVG)</option>
                            <option value="STEEM">Steem (STEEM)</option>
                            <option value="PPT">Populous (PPT)</option>
                            <option value="SC">Siacoin (SC)</option>
                            <option value="STRAT">Stratis (STRAT)</option>
                            <option value="RHOC">RChain (RHOC)</option>
                            <option value="WAVES">Waves (WAVES)</option>
                            <option value="SNT">Status (SNT)</option>
                            <option value="DOGE">Dogecoin (DOGE)</option>
                            <option value="BTS">BitShares (BTS)</option>
                            <option value="MKR">Maker (MKR)</option>
                            <option value="ZCL">ZClassic (ZCL)</option>
                            <option value="AE">Aeternity (AE)</option>
                            <option value="DGD">DigixDAO (DGD)</option>
                            <option value="ZRX">0x (ZRX)</option>
                            <option value="REP">Augur (REP)</option>
                            <option value="DCR">Decred (DCR)</option>
                            <option value="VERI">Veritaseum (VERI)</option>
                            <option value="HSR">Hshare (HSR)</option>
                            <option value="ETN">Electroneum (ETN)</option>
                            <option value="KMD">Komodo (KMD)</option>
                            <option value="ARDR">Ardor (ARDR)</option>
                            <option value="ARK">Ark (ARK)</option>
                            <option value="GAS">Gas (GAS)</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label for="">Balances</label>
                          <input type="text" class="form-control" id="" placeholder="Enter amount">
                        </div>
                        <div class="form-group">
                          <label for="">Daily interest rate</label>
                          <input type="text" class="form-control" id="" placeholder="(0.05% of total balance)">
                        </div>
                      </div>
                      <div class="col-md-2">
                        <i class="fa fa-arrows-h"></i>
                        <input type="submit" class="btn btn-primary" id="" value="Continue" name="submit">
                      </div>
                      <div class="col-md-5">
                        <h3>Hot Wallet</h3>
                        <div class="form-group">
                          <label for="exampleInputPassword1">Total USD Value</label>
                          <input type="text" class="form-control usdvalue" id="" placeholder="Enter amount">
                        </div>
                        <div class="form-group">
                          <label for="exampleInputPassword1">Selected Currency</label>
                          <input type="text" class="form-control" id="" placeholder="Enter amount">
                        </div>
                        <div class="form-group">
                          <label for="exampleInputPassword1">Balances</label>
                          <input type="text" class="form-control" id="" placeholder="Balance">
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div> --}}

              <!-- tab part three -->

              <!-- tab part four -->

              <div class="tab-pane fade" id="tab4primary">
                <div class="table-responsive">
                  <table id="wallet_transaction" class="table table-striped">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Action</th>
                        <th>Receiver Name</th>
                        <th>Currency</th>
                        <th>Amount</th>
                        <th>Date & Time</th>
                      </tr>
                    </thead>
                    <tbody>
                      {{#each walletTransaction}}
                      <tr>
                        <td>{{this.id}}</td>
                        <td>
                          {{#if_eq this.type 1}}
                            Send Coin
                          {{/if_eq}}
                          {{#if_eq this.type 2}}
                            MCP Investment
                          {{/if_eq}}
                        </td>
                        <td>{{this.User.email}}</td>
                        <td>Bitcoin</td>
                        <td>{{this.amount}}</td>
                        <td>{{dateFormat this.createdAt "DD-MM-YYYY h:mm:ss a"}}</td>
                      </tr>
                      {{/each}}
                    </tbody>
                  </table>
                </div>
              </div>

              <!-- tab part four -->




              <!-- tab tabHotWallet -->
              <div class="tab-pane fade" id="tabHotWallet">
                <div class="body-wallets">
                  <div class="row">
                    <div class="col-md-12">
                      <!--BTC tabs starts-->
                      <div class="bit-tabs">
                        <div class="content-box">
                          <div class="collaps pull-left">
                            {{!-- <i class="fa fa-bitcoin"></i> --}}
                            <div class="s-s-bitcoin currency-logo-sprite"></div>
                            <span class="wlt_coin">Bitcoin</span>
                          </div>
                          <div class="fltrgt-box pull-right">
                            <div class="claculate">
                              <span>{{btcHotOnly}} 
                                <strong>BTC</strong> <span class="usd_wallet_blnc">${{formatCurrency (twoDecimalPoint btcHotOnlyUsd)}} USD</span>
                              </span>
                            </div>
                          </div>
                        </div>
                        
                      </div>
                      <!--BTC tabs ends-->
                      <!--ETH tabs starts-->
                      <div class="bit-tabs">
                        <div class="content-box">
                          <div class="collaps pull-left">
                            <div class="s-s-ethereum currency-logo-sprite"></div>
                            <span class="wlt_coin">Ethereum</span>
                          </div>
                          <div class="fltrgt-box pull-right">
                            <div class="claculate">
                              <span>{{ethHotOnly}}
                                <strong>ETH</strong> <span class="usd_wallet_blnc">${{formatCurrency (twoDecimalPoint ethHotOnlyUsd)}} USD</span>
                              </span>
                            </div>
                          </div>
                        </div>
                        
                      </div>
                      <!--ETH tabs ends-->
                      <!--LTC tabs starts-->
                      <div class="bit-tabs">
                        <div class="content-box">
                          <div class="collaps pull-left">
                            <div class="s-s-litecoin currency-logo-sprite"></div>
                            <span class="wlt_coin">Litecoin</span>
                          </div>
                          <div class="fltrgt-box pull-right">
                            <div class="claculate">
                              <span>{{ltcHotOnly}}
                                <strong>LTC</strong> <span class="usd_wallet_blnc">${{formatCurrency (twoDecimalPoint ltcHotOnlyUsd)}} USD</span>
                              </span>
                            </div>
                          </div>
                        </div>
                        
                      </div>
                      <!--LTC tabs ends-->
                      <!--BCH tabs starts-->
                      <div class="bit-tabs">
                        <div class="content-box">
                          <div class="collaps pull-left">
                            <div class="s-s-bitcoin-cash currency-logo-sprite"></div>
                            <span class="wlt_coin">Bitcoin Cash</span>
                          </div>
                          <div class="fltrgt-box pull-right">
                            <div class="claculate">
                              <span>{{bchHotOnly}}
                                <strong>BCH</strong> <span class="usd_wallet_blnc">${{formatCurrency (twoDecimalPoint bchHotOnlyUsd)}} USD</span>
                              </span>
                            </div>
                          </div>
                        </div>
                        
                      </div>
                      <!--BCH tabs ends-->
                      <!--RMG tabs starts-->
                      {{!-- <div class="bit-tabs">
                        <div class="content-box">
                          <div class="collaps pull-left">
                            <div class="s-s-royal mint gold currency-logo-sprite"></div>
                            <span class="wlt_coin">Royal Mint Gold</span>
                          </div>
                          <div class="fltrgt-box pull-right">
                            <div class="claculate">
                              <span>{{rmgHotOnly}}
                                <strong>RMG</strong> (${{formatCurrency (twoDecimalPoint rmgHotOnlyUsd)}})
                              </span>
                            </div>
                          </div>
                        </div>
                        
                            </div>
                          </div>
                        </div>
                      </div> --}}
                      <!--RMG tabs ends-->
                      <!--XRP tabs starts-->
                      <div class="bit-tabs">
                        <div class="content-box">
                          <div class="collaps pull-left">
                            <div class="s-s-ripple currency-logo-sprite"></div>
                            <span class="wlt_coin">Ripple</span>
                          </div>
                          <div class="fltrgt-box pull-right">
                            <div class="claculate">
                              <span>{{xrpHotOnly}}
                                <strong>XRP</strong> <span class="usd_wallet_blnc">${{formatCurrency (twoDecimalPoint xrpHotOnlyUsd)}} USD</span>
                              </span>
                            </div>
                          </div>
                        </div>
                        
                      </div>
                      <!--XRP tabs ends-->
                    </div>
                  </div>
                </div>
              </div>
              <!-- tab tabHotWallet -->




              <!-- tab tabColdWallet -->
              <div class="tab-pane fade" id="tabColdWallet">
                <div class="body-wallets">
                  <div class="row">
                    <div class="col-md-12">
                      <!--BTC tabs starts-->
                      <div class="bit-tabs">
                        <div class="content-box">
                          <div class="collaps pull-left">
                            {{!-- <i class="fa fa-bitcoin"></i> --}}
                            <div class="s-s-bitcoin currency-logo-sprite"></div>
                            <span class="wlt_coin">Bitcoin</span>
                          </div>
                          <div class="fltrgt-box pull-right">
                            <div class="claculate">
                              <span>{{btcColdOnly}} 
                                <strong>BTC</strong> <span class="usd_wallet_blnc">${{formatCurrency (twoDecimalPoint btcColdOnlyUsd)}} USD</span>
                              </span>
                            </div>
                          </div>
                        </div>
                        
                      </div>
                      <!--BTC tabs ends-->
                      <!--ETH tabs starts-->
                      <div class="bit-tabs">
                        <div class="content-box">
                          <div class="collaps pull-left">
                            <div class="s-s-ethereum currency-logo-sprite"></div>
                            <span class="wlt_coin">Ethereum</span>
                          </div>
                          <div class="fltrgt-box pull-right">
                            <div class="claculate">
                              <span>{{ethColdOnly}}
                                <strong>ETH</strong> <span class="usd_wallet_blnc">${{formatCurrency (twoDecimalPoint ethColdOnlyUsd)}} USD</span>
                              </span>
                            </div>
                          </div>
                        </div>
                        
                      </div>
                      <!--ETH tabs ends-->
                      <!--LTC tabs starts-->
                      <div class="bit-tabs">
                        <div class="content-box">
                          <div class="collaps pull-left">
                            <div class="s-s-litecoin currency-logo-sprite"></div>
                            <span class="wlt_coin">Litecoin</span>
                          </div>
                          <div class="fltrgt-box pull-right">
                            <div class="claculate">
                              <span>{{ltcColdOnly}}
                                <strong>LTC</strong> <span class="usd_wallet_blnc">${{formatCurrency (twoDecimalPoint ltcColdOnlyUsd)}} USD</span>
                              </span>
                            </div>
                          </div>
                        </div>
                        
                      </div>
                      <!--LTC tabs ends-->
                      <!--BCH tabs starts-->
                      <div class="bit-tabs">
                        <div class="content-box">
                          <div class="collaps pull-left">
                            <div class="s-s-bitcoin-cash currency-logo-sprite"></div>
                            <span class="wlt_coin">Bitcoin Cash</span>
                          </div>
                          <div class="fltrgt-box pull-right">
                            <div class="claculate">
                              <span>{{bchColdOnly}}
                                <strong>BCH</strong> <span class="usd_wallet_blnc">${{formatCurrency (twoDecimalPoint bchColdOnlyUsd)}} USD</span>
                              </span>
                            </div>
                          </div>
                        </div>
                        
                      </div>
                      <!--BCH tabs ends-->
                      <!--RMG tabs starts-->
                      {{!-- <div class="bit-tabs">
                        <div class="content-box">
                          <div class="collaps pull-left">
                            <div class="s-s-royal mint gold currency-logo-sprite"></div>
                            <span class="wlt_coin">Royal Mint Gold</span>
                          </div>
                          <div class="fltrgt-box pull-right">
                            <div class="claculate">
                              <span>{{rmgColdOnly}}
                                <strong>RMG</strong> (${{formatCurrency (twoDecimalPoint rmgColdOnlyUsd)}})
                              </span>
                            </div>
                          </div>
                        </div>
                        
                            </div>
                          </div>
                        </div>
                      </div> --}}
                      <!--RMG tabs ends-->
                      <!--XRP tabs starts-->
                      <div class="bit-tabs">
                        <div class="content-box">
                          <div class="collaps pull-left">
                            <div class="s-s-ripple currency-logo-sprite"></div>
                            <span class="wlt_coin">Ripple</span>
                          </div>
                          <div class="fltrgt-box pull-right">
                            <div class="claculate">
                              <span>{{xrpColdOnly}}
                                <strong>XRP</strong> <span class="usd_wallet_blnc">${{formatCurrency (twoDecimalPoint xrpColdOnlyUsd)}} USD</span>
                              </span>
                            </div>
                          </div>
                        </div>
                        
                      </div>
                      <!--XRP tabs ends-->
                    </div>
                  </div>
                </div>
              </div>
              <!-- tab tabColdWallet -->







            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  </div>
  <!-- Modal -->

  <!-- Generate Model Starts -->

  <!-- Modal -->
  <div class="modal fade" id="preview-transaction" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Preview Transaction</h4>
        </div>
        <div class="modal-body">
          <p>You are to send 0.0408 to the address 19ku6syMgMqHapuwaeHJMHWBuJxMCLPfdc. This action is irreversible!</p>
          <p>Please confirm by entering verification code generated by an OTP-application on your mobile device.</p>
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Verification Code</label>
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Confirm &amp; Send</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="bitconaddress" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form method="post" action="/generate-address">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Generate Bitcoin Address</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="">Address Label
                <i class="fa fa-question-circle"></i>
              </label>
              <input type="text" class="form-control" id="address" placeholder="Bitcoin address" name="wallet_address">
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Create new Bitcoin address</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Generate Model Ends -->

</section>
<!-- /.content -->