<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>Email Any Users</h1>
  <ol class="breadcrumb">
    <li>
      <a href="/admin/dashboard">
        <i class="fa fa-dashboard"></i> Home</a>
    </li>
    <li class="active">Email Any Users</li>
  </ol>
</section>

<div class="loader"></div>

<!-- Main content -->
<section class="content container-fluid">
    <!-- Starts email-marketing -->
            <div class="email-marketing">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Email Any Users</h3>
            </div>
            <div class="box-body">
                <form name="email_anyusers_form" id="email_anyusers_form" action="" method="POST">
             
              <div class="row">
                
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Subject Line: </label>
                    <input type="text" class="form-control input-lg" id="email_users_subject_line" name="email_users_subject_line" placeholder="Enter Subject Line">
                  </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="Body">Body</label>
                        <textarea name="email_users_subject_body" class="form-control" id="email_users_subject_body" placeholder="Enter Body"></textarea>
                    </div>
                </div>

                <div class="col-md-12">
                  <div class="form-group">
                    <label>Email Addresses: </label>
                  
                    <textarea name="email_addresses_users" class="form-control" id="email_addresses_users" placeholder="Enter Email Addresses separated by comma"></textarea>
                  </div>
                </div>

                {{!-- <div class="row">
                  <div id="shareholder_div">
                    <div class="col-md-12">
                        
                        <div class="col-md-12"><label class="shareholders-box">Add or Remove User Emails</label>
                          <button class="btn btn-primary" onclick="appendEmailTextBox(event)">+</button>
                          <button class="btn btn-primary" id="remove" disabled="disabled" onclick="removeEmailTextBox(event)">-</button>
                          <span style="margin-bottom: 5%;"></span>
                          <br>
                        </div>
                    </div>
                  </div>
                
              </div> --}}

                <div class="col-md-2 col-md-offset-5">
                    <div class="form-group">
                        <input class="btn btn-primary" type="button" id="emailAnyusersBtn" value="Send Emails" />
                    </div>
                </div>

              </div>

              

              </form><br><br>

                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Most recent activity (last emails sent): </label>
                      </div>
                    </div>
                    <div class="col-md-12">
                        <div class="email-marketing-view-scroll email_anyuser">
                          <div class="table-responsive no-padding">
                            <table class="table table-hover">
                              <tbody>
                                <tr>
                                  <th>Email Subject</th>
                                  {{!-- <th>Email Description</th> --}}
                                  <th>Email Address</th>
                                  {{!-- <th>Action</th> --}}
                                </tr>

                                {{#each mailList}}
                                <tr>
                                  <td> {{this.email_sub}}</td>
                                 {{!--  <td class="emailContent">{{{this.email_desc}}}</td> --}}
                                  <td>{{this.send_email_address}}</td>  
                                </tr>
                                {{/each}}

                              </tbody>
                            </table>
                          </div>
                        </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
    <!-- Ends email-marketing -->
</section>
<!-- /.content -->

