<section class="content-header">
	<h1>Most Recent Transactions</h1>
	<ol class="breadcrumb">
		<li>
			<a href="/admin/dashboard"><i class="fa fa-dashboard"></i>Home</a>
		</li>
		<li class="active">Most Recent Transactions</li>
	</ol>
</section>

<section class="content container-fluid">
	<!-- Starts Deposit Funds -->
	<div class="deposit-funds">
		<div class="row">
			<div class="col-md-12">
				<div class="box">
					<div class="box-header with-border floating-header">
						<h3 class="box-title pull-left">Transactions List</h3>
						<a href="/admin/most-recent-transactions/generate" class="btn btn-primary pull-right">Generate Excel</a>
						<div class="clearfix"></div>
					</div>
					<div class="box-body">
						<table id="pending_transactions_table" class="table table-striped res-table">
							<thead>
								<tr>
									<th>ID</th>
									<th>Name</th>
									<th>Amount ($)</th>
									<th>Date</th>
									<th>Type</th>
								</tr>
							</thead>
							<tbody>
								{{#each all_data}}
								<tr>
									<td>{{this.id}}</td>
									<td>{{this.User.first_name}} {{this.User.last_name}}</td>
									<td>{{formatCurrency (twoDecimalPoint this.amount)}}</td>
									<td>{{dateFormat this.createdAt "MM-DD-YY"}}</td>
									<td>
										{{#if_eq this.type 0}}
										Deposit
										{{/if_eq}}
										{{#if_eq this.type 1}}
										Buy
										{{/if_eq}}
										{{#if_eq this.type 2}}
										Sell
										{{/if_eq}}
										{{#if_eq this.type 3}}
										Withdraw
										{{/if_eq}}
										{{#if_eq this.type 4}}
										MCP Invest
										{{/if_eq}}
										{{#if_eq this.type 5}}
										MCP Withdraw
										{{/if_eq}}
									</td>
								</tr>
								{{/each}}
							</tbody>
						</table>
					</div>

				</div>
			</div>
			<!-- /.box-body -->
		</div>
		<!-- /.box -->
	</div>
	<!-- Ends Deposit Funds -->
</section>