<section class="content-header">
        <h1>Request Withdrawal</h1>
        <ol class="breadcrumb">
          <li>
            <a href="/account/dashboard">
              <i class="fa fa-dashboard"></i>Home</a>
          </li>
          <li class="active">Request Withdrawal</li>
        </ol>
      </section>
      <!-- Main content -->
      <section class="content container-fluid">

        <div class="row wpb_row row-fluid dt-default" style="margin-top: 0px; margin-bottom: 0px; min-height: 0px;">
      <div class="wpb_column column_container col-sm-12">
        <div class="column-inner">
          <div class="wpb_wrapper buySellTab">
            <div class="box req-boxs">
              <div class="tab-content tabData">
                <div id="sell" class="tab-pane fade in active">
                  <div class="box-header">
                    <h3 class="box-title"><span class="leftbox" style="float:left">Withdraw Funds</span>
                    </h3>
                          </div>

      
          <div class="box-body tp-box">
            {{#if_eq user.kycApproved "2"}}
            <div class="form-group">
              <form method="post" name="CoinSell" class="coinSell row">
             <div class="col-md-12 form-group">
                <div class="alert alert-success returnMsg1" style="display:none"></div>
             </div>
                <input type="hidden" name="coinRate" id="coinRate" value="">
                <div class="form-group col-md-6">
                  <input type="text" placeholder="Enter Amount" class="form-control" name="withdrawAmount" id="withdrawAmount" required="required">
                </div>
                <div class="form-group col-md-6">
                  <select name="payment_type" id="payment_type" class="form-control">
                    <option value="">Select payout type</option>
                    <option value="Bank">Wire Transfer</option>
                    <option value="Check">Check by Mail (Up to 14 Business Days)</option>
                  </select>
                </div>
                <div class="bank_details" style="display: none">
                  <div class="col-md-12">
                    <h4 class="headings" style="padding-bottom: 12px">Bank Details</h4>
                  </div>
                  <div class="form-group col-md-6">
                    <input type="text" placeholder="Account Holder Name" class="form-control" value="" name="customerName" id="customerName" required="required">
                  </div>
                  <div class="form-group col-md-6">
                    <input type="text" placeholder="Bank Name" class="form-control" value="" name="bankName" id="bankName" required="required">
                  </div>
                  <div class="form-group col-md-6">
                    <input type="text" placeholder="Bank Address ie:// 270 Park Ave, New York, NY 10017, USA" class="form-control" value="" name="bankAddress" id="bankAddress" required="required">
                  </div>
                  <div class="form-group col-md-6">
                    <input type="text" placeholder="Account Number" class="form-control" value="" name="accountNumber" id="accountNumber" required="required">
                  </div>
                  <div class="form-group col-md-6">
                    <input type="text" placeholder="Confirm Account Number" class="form-control" value="" name="confirmAccountNumber" id="confirmAccountNumber" required="required">
                  </div>
                  <div class="form-group col-md-6">
                    <input type="text" placeholder="Routing Number/SWIFT Code" class="form-control" value="" name="swiftCode" id="swiftCode" required="required">
                  </div>
                  <div class="form-group col-md-6">
                    <input type="text" placeholder="Branch Number" class="form-control" value="" name="branchnumber" id="branchnumber" required="required">
                  </div>
                  <div class="form-group col-md-6">
                    <input type="text" placeholder="Institution Number" class="form-control" value="" name="institutionnumber" id="institutionnumber" required="required">
                  </div>
                </div>
                <div class="col-md-12">
                  <p style="display:none" class='errormsg'></p>
                </div>
                <div class="col-md-4 col-md-offset-5">
                  <p class="expected" style="display: none;color: #008000;"></p>
                  <div class="btnall">
                    <input type="submit" name="Submit" value="Withdraw Funds" id="cc-submit2" class="btn btn-primary" >
                    <p style="display:none;padding-right: 85px;" class="loaderImg"><img src="/dist/img/lading_icon.gif" ></p>
                  </div>
                </div>
                <div class="check" style="display:none;">
                  <div class="personal-info" style="display: block;">
                    <div class="form-group col-md-6">
                      <label>First Name:</label>
                      <input type="text" class="form-control" placeholder="First Name" name="firstname" id="firstname" value="Coin" required="required" readonly>
                    </div>
                    <div class="form-group col-md-6">
                      <label>Last Name:</label>
                      <input type="text" class="form-control" placeholder="Last Name" name="lastname" id="lastname" value="Jolt, Inc" required="required" readonly>
                    </div>
                    <div class="form-group col-md-6">
                      <label>Email Address:</label>
                      <input type="text" class="form-control" placeholder="Email Address" name="email" id="email" value="support@coinjolt.com" required="required" readonly>
                    </div>
                    <div class="form-group col-md-6">
                      <label>Phone Number:</label>
                      <input type="text" class="form-control" placeholder="Phone Number" name="phone" id="phone" required="required" value="1-(888)-998-9980" readonly>
                    </div>
                    <div class="form-group col-md-6">
                      <label>Date of Birth:</label>
                      <input type="hidden" class="form-control" placeholder="Date of Birth" name="dob" id="dob" required="required" value="19931027">
                      <!-- <input type="date" class="form-control" placeholder="Date of Birth" name="dob" id="dob" required="required" value="19931027"> -->
                      <input type="date" class="form-control" placeholder="Date of Birth"  value="1953-10-27"  readonly>
                    </div>
                    <div class="form-group col-md-6">
                      <label>Address:</label>
                      <input type="text" class="form-control" placeholder="Address" name="address" id="address" value="270 Park Avenue" required="required" readonly>
                    </div>
                    <div class="form-group col-md-6">
                      <label>City:</label>
                      <input type="text" class="form-control" placeholder="City" name="city" id="city" value="New York" required="required" readonly>
                    </div>
                    <div class="form-group col-md-6">
                      <label>State or Province:</label>
                      <input type="text" class="form-control" placeholder="State or Province" name="state" id="state" value="NY" required="required" readonly>
                    </div>
                    <div class="form-group col-md-6">
                      <label>Postal Code:</label>
                      <input type="text" class="form-control" placeholder="Postcode" name="postcode" id="postcode" value="10017" required="required" readonly>
                    </div>
                    <div class="form-group col-md-6">
                      <label>Country:</label>
                      <input type="text" class="form-control" placeholder="Country" name="country" id="country" value="USA" required="required" readonly>
                    </div>
                  </div>
                </div>
                            <!-- <div class="bank_details" style="display: none">
                              <div class="col-md-12">
                                <h4 class="headings" style="padding-bottom: 12px">Bank Details</h4>
                              </div>
                              <div class="form-group col-md-6">
                                <input type="text" placeholder="Account Holder Name" class="form-control" value="" name="customerName" id="customerName" required="required">
                              </div>
                              <div class="form-group col-md-6">
                                <input type="text" placeholder="Bank Name" class="form-control" value="" name="bankName" id="bankName" required="required">
                              </div>
                              <div class="form-group col-md-6">
                                <input type="text" placeholder="Bank Address ie:// 270 Park Ave, New York, NY 10017, USA" class="form-control" value="" name="bankAddress" id="bankAddress" required="required">
                              </div>
                              <div class="form-group col-md-6">
                                <input type="text" placeholder="Account Number" class="form-control" value="" name="accountNumber" id="accountNumber" required="required">
                              </div>
                              <div class="form-group col-md-6">
                                <input type="text" placeholder="Confirm Account Number" class="form-control" value="" name="ifsc" id="ifsc" required="required">
                              </div>
                              <div class="form-group col-md-6">
                                <input type="text" placeholder="Routing Number/SWIFT Code" class="form-control" value="" name="swiftCode" id="swiftCode" required="required">
                              </div>
                              <div class="form-group col-md-6">
                                <input type="text" placeholder="Branch Number" class="form-control" value="" name="branchnumber" id="branchnumber" required="required">
                              </div>
                              <div class="form-group col-md-6">
                                <input type="text" placeholder="Institution Number" class="form-control" value="" name="institutionnumber" id="institutionnumber" required="required">
                              </div>
                              <p style="text-align: center;"><span style="color: red;">*</span> Wire transfers can take anywhere between 2-3 business days to be processed.</p>
                            </div> -->
                            <!-- <div class="col-md-4 col-md-offset-5">
                              <p class="expected" style="display: none;color: #008000;"></p>
                              <p style="display:none" class='errormsg'></p>
                              <div class="btnall">
                                <input type="submit" name="Submit" value="Withdraw Funds" id="cc-submit1" class="btn btn-primary" >
                                <p style="display:none;padding-right: 85px;" class="loaderImg"><img src="/dist/img/lading_icon.gif" ></p>
                              </div>
                            </div> -->
                            <input type="hidden" id="PayType" value="withdraw">
                            <input type="hidden" id="balVal" value="137.5K">
                          </form>
                        </div>
                        {{/if_eq}}
                        {{#if_eq user.kycApproved "1"}}
                          <p>Withdrawal is disabled because your ID has not been verified yet.</p>
                        {{/if_eq}}
                        {{#if_eq user.kycApproved "3"}}
                          <p>Withdrawal is disabled because your ID has been rejected. Please upload a valid piece of ID in your <a href="/account/account-settings">account settings</a>.</p>
                        {{/if_eq}}
                        {{#if_eq user.kycApproved "0"}}
                          <p>Withdrawal is disabled because your ID has not been uploaded yet. Please upload a valid piece of ID in your <a href="/account/account-settings">account settings</a>.</p>
                        {{/if_eq}}
                      </div>

                      <!-- Pending Wire Transfer -->

                      
  <!-- <td></td> 
  <th>Transaction ID</th> -->

  <!-- Pending Wire Transfer -->

</div>
</div>
</div>

<div class="request-withdrawal">

<div class="row">
  {{!-- <div class="col-md-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Withdrawal History</h3>
      </div>
      <div class="box-body">
        <div class="table-responsive">      
          <table id="request-withdrawal-table" class="table table-bordered table-striped" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th>ID</th>

                <th>Amount</th>
                <th>Date</th>

              </tr>
            </thead>

            <tbody>
                  
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div> --}}
  <div class="col-md-6">
          <div class="box equal-hgt">
            <div class="box-header">
              <h3 class="box-title">Balances</h3>
            </div>
            <div class="box-body">
              <div class="row">
                <div class="col-md-4">
                  <div class="chart-responsive">
									  <div class="chart" id="sales-chart" style="height: 150px; position: relative;"></div>
									</div>
                </div>
                <div class="col-md-8">
                    <table class="table scroll-minus">
                        <thead>
                            <tr>
                                <th class="col-xs-4 paddingleft">SYMBOL</th>
                                <th class="col-xs-4 paddingleft">NAME</th>
                                <th class="col-xs-4 paddingleft">BALANCE</th>
                            </tr>
                        </thead>
                    </table>
                    <div class="scroll-dashboard">
                        <table class="table">
                            <tr>
                                <td class="col-xs-4">
                                    <img src="../dist/img/usd.png" alt="">
                                </td>
                                <td class="col-xs-4">DOLLAR <span style="color:red;"> (USD)</span></td>
                                <td class="col-xs-4">
                                    {{formatCurrency (twoDecimalPoint user.currentUsdBalance)}}
                                </td>
                            </tr>
                            <tr>
                                <td class="col-xs-4">
                                    <img src="../dist/img/mcpicon.png" alt="" width="34">
                                </td>
                                <td class="col-xs-4">MCP <span style="color:red;">(MCP)</span></td>
                                <td class="col-xs-4">{{formatCurrency (twoDecimalPoint user.mcpTotalBalance)}}</td>
                            </tr>
                            {{#each user.currency}}
                            <tr>    
                                <td class="col-xs-4">
                                    {{!-- <div class="s-s-{{toLowerCase this.display_name}} currency-logo-sprite"></div> --}}
                                  {{#if_eq this.display_name "Bitcoin Cash"}}
                                      <div class="s-s-bitcoin-cash currency-logo-sprite"></div>
                                  {{else}}    
                                      <div class="s-s-{{toLowerCase this.display_name}} currency-logo-sprite"></div>
                                  {{/if_eq}} 
                                </td>
                                <td class="col-xs-4 uppertext">{{this.display_name}} <span style="color:red;">({{toUpperCase this.alt_name}})</span></td>
                                <td class="wallet_crp col-xs-4">
                                        {{twoDecimalPoint (checkCurrencies this.alt_name ../user.currencyBalance)}}
                                </td>
                            </tr>
                            {{/each}}

                        </table>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box equal-hgt">
            <div class="box-header">
              <h3 class="box-title">Most Recent Activity</h3>
            </div>
            <div class="box-body">

              <div class="table-responsive buy-section">
                <table class="table">
                  <tbody>
                    <tr>
                      <th>Transaction ID</th>
                      <th>Amount</th>
                      <th>Type</th>
                      <th>Date & Time</th>
                    </tr>
                    {{#each withdrawal_history}}
                    <tr>
                        <td>{{this.transaction_id}}</td>
                        <td>${{formatCurrency (twoDecimalPoint this.amount)}}</td>
                        <td>
                          {{#if_eq this.payment_method '3'}}
                            Bank Wire Transfer 
                          {{/if_eq}}
                          {{#if_eq this.payment_method '4'}}
                            Check By Mail 
                          {{/if_eq}}
                          {{#if_eq this.payment_method '5'}}
                            MCP Withdraw 
                          {{/if_eq}}
                         </td>
                        <td>{{dateFormat this.createdAt "DD-MM-YYYY h:mm:ss a"}}</td>
                    </tr>
                    {{/each}}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
</div>

</div>

</div>
</div>
</div>
        <!-- Ends Withdrawal Funds -->
      </section>