<!-- Starts Welcome Section -->

<div class="about-section blog-dtls">
  <div class="container">
    <h1 class="blgpart">{{postTitle.0.post_title }}</h1>
    <ol class="breadcrumb">
      <li><a title="" href="">Home</a></li>
      <li><a href="">{{postTitle.0.blog_category.category_name }}</a></li>
      <li class="current">{{postTitle.0.post_title }}</li>
    </ol>
    <!-- <h2>{{postTitle.0.blog_category.category_name}}</h2> -->
    <div class="row">
      <div class="col-md-8 blog-detail-left">
        {{{ blogContent.0.post_description }}}
        <div class="saboxplugin-wrap">
          <div class="logo-box">

            {{#if_neq postTitle.0.author null}}
              <img class="img-responsive" src="../author_images/{{postTitle.0.author.author_image}}" alt="author default image"> 
            {{else}} 
                <img class="img-responsive" src="../dist/frontend_cms/images/icon.png" alt="author default image">
            {{/if_neq}}            

          </div>
          <div class="authorname">
            <a href="" data-toggle="modal" data-target="#blogAuthorModal-{{postTitle.0.id }}">
              {{!-- {{ blogContent.0.post_author  }} --}}
              {{#if_neq postTitle.0.author null}}
                {{postTitle.0.author.author_name}}
              {{else}} 
                  Coinjolt.com
              {{/if_neq}}
            </a> {{!--
            <p>Buy and sell digital currency instantly safely and securely with ZERO fees. Choose between doing it yourself or
              invest in a managed cryptocurrency portfolio.&nbsp;<a href="/signup">Click here to create a free account.</a></p>
            --}} {{!--
            <p>{{ blogContent.0.post_author_description }}&nbsp;<a href="/signup">Click here to create a free account.</a></p>
            --}}
            <p style="font-size: 17px;">Buy and sell digital currency instantly safely and securely with ZERO fees. <br/><br/>A managed cryptocurrency portfolio with 
			a projected 200% minimum annual returns. <a href="/signup" style="font-size: 17px;"><span style="font-decoration: underline;">Click here</span> to create a free account.</a></p>
          </div>
        </div>
      </div>


      <!-- featured and latest enws portion -->
      <div class="col-md-4">
        {{!--
        <div class="search">
          <form action="/action_page.php">
            <input type="text" placeholder="Type and hit enter …" name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
        </div> --}}
        <div class="rgt-box">
          <h4>Latest News</h4>
          <ul class="latest-works-widget">


            {{#each latest_news}}
              <li>
                <div class="work-widget-thumb">
                  <a href="{{base_url}}/{{this.post_slug}}">
                    <div class="image-overlay"></div>
                    {{#if_eq this.featured_image ""}}
                      <img class="img-responsive" src="/dist/img/blog_default.png" alt="{{this.post_title}}"> 
                    {{else}} 
                      {{#if_eq this.featured_image null}}
                        <img class="img-responsive" src="/dist/img/blog_default.png" alt="{{this.post_title}}"> 
                      {{else}} 
                        {{#if_neq this.featured_image ""}}
                          <img src="/blog_images/{{this.featured_image}}" class="img-responsive" alt="{{this.post_title}}"> 
                        {{/if_neq}}
                      {{/if_eq}} 
                    {{/if_eq}}
                  </a>
                </div>
                <div class="work-widget-content">
                  <h6><a href="{{base_url}}/{{this.post_slug}}">{{this.post_title}}</a></h6>
                  <p>{{dateFormat this.createdAt "MMMM DD, YYYY"}}</p>
                </div>
              </li>
            {{/each}}


          </ul>
        </div>
        <div class="rgt-box">
          <h4>Featured Posts</h4>
          <ul class="latest-works-widget">
            {{#each featured_posts}}
            <li>
              <div class="work-widget-thumb">
                <a href="{{base_url}}/{{this.post_slug}}">
                  <div class="image-overlay"></div>
                  {{#if_eq this.featured_image ""}}
                  <img class="img-responsive" src="/dist/img/blog_default.png" alt="{{this.post_title}}"> {{else}} {{#if_eq
                  this.featured_image null}}
                  <img class="img-responsive" src="/dist/img/blog_default.png" alt="{{this.post_title}}"> {{else}} {{#if_neq
                  this.featured_image ""}}
                  <img src="/blog_images/{{this.featured_image}}" class="img-responsive" alt="{{this.post_title}}"> {{/if_neq}}
                  {{/if_eq}} {{/if_eq}}
                </a>
              </div>
              <div class="work-widget-content">
                <h6><a href="{{base_url}}/{{this.post_slug}}">{{this.post_title}}</a></h6>
                <p>{{dateFormat this.createdAt "MM DD,YYYY"}}</p>
              </div>
            </li>
            {{/each}}
          </ul>
        </div>
      </div>



    </div>
  </div>
</div>

<!-- Ends Welcome Section -->

<div class="modal fade" id="blogAuthorModal-{{postTitle.0.id }}" role="dialog" style="display: none;">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <label>Autho Bio:</label>
        <button type="button" class="close" data-dismiss="modal">×</button>
      </div>
      <div class="modal-body">
        <p>
          {{!-- {{ blogContent.0.post_author_description }} --}}
          {{#if_neq postTitle.0.author null}}
            {{postTitle.0.author.author_bio}}
          {{else}} 
              Buy and sell digital assets instantly safely and securely with ZERO fees. Choose between doing it yourself or invest in a managed cryptocurrency portfolio.
          {{/if_neq}}  
        </p>
      </div>
    </div>
  </div>
</div>