<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Coin Jolt - Upgrade</title>

    <!-- Bootstrap core CSS -->
    <link href="/rebuild/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <link href="/rebuild/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/rebuild/css/coming-soon.min.css" rel="stylesheet">

  </head>

  <body>

    <div class="overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
      <source src="/rebuild/mp4/bg2.mp4" type="video/mp4">
    </video>

    <div class="masthead">
      <div class="masthead-bg"></div>
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-12 my-auto">
            <div class="masthead-content text-white py-5 py-md-0">
				<img src="/rebuild/img/logo.png">
              <h1 class="mb-3">We are undergoing a major platform upgrade.</h1>
              <p class="mb-5"> We will be resuming business operations as usual very shortly. Thank you for your patience.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="social-icons">
      <ul class="list-unstyled text-center mb-0">
        <li class="list-unstyled-item">
          <a href="https://www.facebook.com/coinjolt"  target="_blank">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
		<li class="list-unstyled-item">
          <a href="https://twitter.com/coinjolt"  target="_blank">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
		<li class="list-unstyled-item">
          <a href="https://www.linkedin.com/in/coinjolt/"  target="_blank">
            <i class="fa fa-linkedin"></i>
          </a>
        </li>
        <li class="list-unstyled-item">
          <a href="https://instagram.com/coinjolt"  target="_blank">
            <i class="fa fa-instagram"></i>
          </a>
        </li>
		<li class="list-unstyled-item">
          <a href="mailto:support@coinjolt.com"  target="_blank">
            <i class="fa fa-envelope-o"></i>
          </a>
        </li>
      </ul>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="/rebuild/vendor/jquery/jquery.min.js"></script>
    <script src="/rebuild/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/rebuild/js/coming-soon.min.js"></script>

  </body>

</html>
