<section class="content-header">
	<h1>All User Activity</h1>
	<ol class="breadcrumb">
		<li>
			<a href="/admin/dashboard"><i class="fa fa-dashboard"></i>Home</a>
		</li>
		<li class="active">All User Activity</li>
	</ol>
</section>

<section class="content container-fluid">
	<!-- Starts Deposit Funds -->
	<div class="investment-chart">
		<div class="row">
			<div class="col-md-12">
				<div class="box">
					<div class="box-header with-border">
						<h3 class="box-title">Volume of Transactions</h3>
					</div>
					<div class="box-body">
						<div id="divChart" style="height: 400px; min-width: 310px"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="deposit-funds">
		<div class="row">
			<div class="col-md-12">
				<div class="box">
					<div class="box-header with-border">
						<h3 class="box-title">Most Recent Transactions</h3>
					</div>
					<div class="box-body">
						<table id="pending_investments_table" class="table table-striped res-table">
							<thead>
								<tr>
									<th>User ID</th>
									<th>Name</th>
									<th>Amount ($)</th>
									<th>Withdraw Amount ($)</th>
									<th>Balance ($)</th>
								</tr>
							</thead>
							<tbody>
								{{#each all_data}}
								<tr>
									{{!-- <td>{{inc @index}}</td> --}}
									<td>{{this.user_id}}</td>
									<td>{{this.name}}</td>
									<td>{{formatCurrency (twoDecimalPoint this.deposit_amount)}}</td>
									<td>{{formatCurrency (twoDecimalPoint this.withdraw_amount)}}</td>
									<td>{{formatCurrency (twoDecimalPoint this.balance)}}</td>
								</tr>
								{{/each}}
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!-- /.box-body -->
		</div>
		<!-- /.box -->
	</div>
	<!-- Ends Deposit Funds -->
</section>