<section class="content-header">
        <h1>Safe and Secure Form</h1>
        <ol class="breadcrumb">
          <li>
            <a href="/account/dashboard">
              <i class="fa fa-dashboard"></i> Home</a>
          </li>
          <li class="active">Deposit Funds</li>
          
        </ol>
</section>
      <!-- Main content -->
<section class="content container-fluid">
  <!-- Starts Deposit Funds -->
  <div class="deposit-funds">
    <div class="row">
      <div class="col-md-12">
        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title">Deposit Funds</h3> 
          </div>
          {{#if msg}}
            <div class="alert alert-success" id="paypalPaymentSuccessMsg">{{msg}}</div>
          {{/if}}
          {{#if cancelMsg}}
            <div class="alert alert-danger" id="paypalPaymentSuccessMsg">{{cancelMsg}}</div>
          {{/if}}
          
          <!-- /.box-header -->
          <div class="box-body">
              <form method="post" name="" id="frm_deposit" action="javascript:void(0)">
                <div class="row">
                  <div class="form-group col-md-6">
                    <select class="form-control" name="deposit_type" id="deposit_type">
                      <option value="">Please choose from one of the available deposit options </option>

                      {{#each depositMethods}}
                        {{!-- <option value="{{this.id}}">{{this.method_name}}</option> --}}
                        <option value="{{this.deposit_method.id}}">{{this.deposit_method.method_name}}</option>
                      {{/each}}

                    </select><br>
                    <p style="display:none;color: red;background-color: rgb(242, 222, 222); border-color: rgb(235, 204, 209);padding: 9px;font-size: 15px;margin-bottom: 16px;" class="paymentErrorMsg">Select from one of the available payment methods below.</p>
                  </div>
                  <div class="form-group col-md-6">
                    <div style="width: 100%;padding-left: 0px;padding-right: 0px;" class="col-md-2">
                      <input type="hidden" value="USD" name="currency_purchased" id="currency_purchased" class="form-control">
                    </div>
                    <div style="width: 100%;padding-left: 0px;padding-right: 0px;" class="col-md-6">
                      <label class="labelset Emailid" style="display:none">USD </label>
                      <input type="text" class="form-control labelsetfield" id="usd_amount" placeholder="Enter Amount (USD)">
                      <input type="hidden" name="newamt" id="newamt">
                      <input type="hidden" value="" name="cadtousdcoinRate" id="cadtousdcoinRate" class="form-control">
                    </div>

                    <div class="form-group col-md-12" style="padding: 0px;">
                      <p class="expecteder" style="display: none; color: red;background-color: rgb(242, 222, 222); border-color: rgb(235, 204, 209);padding: 9px;font-size: 15px;margin-bottom: 16px;"></p>
                      <p class="expected" style="display: none;color: #008000;"></p>
                    </div>

                    <input type="hidden" id="PayType" value="buy">
                    <input type="hidden" name="coinRate" id="coinRate">
                    <input type="hidden" name="btcRate" id="btcRate">
                    <input type="hidden" name="ltcRate" id="ltcRate">
                    <input type="hidden" name="ethRate" id="ethRate">
                    <input type="hidden" name="converted_amount" id="converted_amount">
                    
                  </div>
                </div>
                <div id="1" style="display:none">
                    <div class="row">
                    <div class="form-group col-md-12">
                      <label>Credit Card Number</label>
                      <input type="text" class="form-control" name="cardnumber" id="cardnumber" maxlength="16">
                    </div>
                    <div class="form-group col-md-6">
                      <div class="row">
                        <div class="col-md-6">
                          <label>Card Expiration Date (MM)</label>
                          <select class="form-control" name="cardexpmonth" id="cardexpmonth">
                            <option value='1'>1</option><option value='2'>2</option><option value='3'>3</option><option value='4'>4</option><option value='5'>5</option><option value='6'>6</option><option value='7'>7</option><option value='8'>8</option><option value='9'>9</option><option value='10'>10</option><option value='11'>11</option><option value='12'>12</option>                            </select>

                        </div>
                        <div class="col-md-6">
                          <label>Card Expiration Date (YY)</label>
                          <select class="form-control"  name="cardexpyear" id="cardexpyear">
                            <option value='2018'>2018</option><option value='2019'>2019</option><option value='2020'>2020</option><option value='2021'>2021</option><option value='2022'>2022</option><option value='2023'>2023</option><option value='2024'>2024</option><option value='2025'>2025</option><option value='2026'>2026</option><option value='2027'>2027</option><option value='2028'>2028</option><option value='2029'>2029</option><option value='2030'>2030</option><option value='2031'>2031</option><option value='2032'>2032</option><option value='2033'>2033</option><option value='2034'>2034</option><option value='2035'>2035</option><option value='2036'>2036</option><option value='2037'>2037</option>                            </select>

                        </div>
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                      <label>CVV/CVC</label>
                      <input type="password" class="form-control" placeholder="CVV/CVC" name="cvv" id="cvv" maxlength="4">
                    </div>
                   </div>
                </div>
<div class="row">
                <div class="form-group col-md-12">
                  <div class="btnall" style="text-align:center;padding-left: 0px;padding-right: 0px;">
                    <p id="btnkk">
                      <img src="/ajax-loader-1.gif" class="loader_gif" style="display: none;">
                      {{!-- <input type="submit" style="width: 100%;" name="submit" value="Deposit Funds" id="cc-submit" class="btn btn-primary"> --}}
                      <input class="btn btn-block btn-primary" id="deposit_funds_bwt" type="submit" value="Deposit Funds" />


                    </p>
                    <p style="display:none;color: red;background-color: rgb(242, 222, 222); border-color: rgb(235, 204, 209);padding: 9px;font-size: 15px;margin-bottom: 16px;" class="creditCardFormErrorMsg">Please fill out all of the fields. </p>
                    
                    <p style="display:none" class="loaderImg"><img src="/ajax-loader-1.gif"></p>
                    <p class="ecore_error"></p>
                    <p class="ecore_res"></p>
                  </div>
                </div>
</div>
<div class="row">
  <div class="col-md-12">
                <div id="showing_warning">
                  <p style="text-align:center;color:#ff0000;">Your personal details has not yet been completed in your account settings. <a href="/account-settings" style="color:#424975;font-weight: bold;">Click here to update your information.</a> </p>
                </div>
</div>
                <div class="personal-info" style="display:none">
                  <div class="form-group col-md-6">
                    <label>First Name:</label>
                    <input type="text" class="form-control" placeholder="First Name" name="firstname" id="firstname" value="{{user.first_name}}" readonly>
                  </div>
                  <div class="form-group col-md-6">
                    <label>Last Name:</label>
                    <input type="text" class="form-control" placeholder="Last Name" name="lastname" id="lastname" value="{{user.last_name}}" readonly>
                  </div>
                  <div class="form-group col-md-6">
                    <label>Email Address:</label>
                    <input type="text" class="form-control" placeholder="Email Address" name="email" id="email" value="{{user.email}}" readonly>
                  </div>
                  <div class="form-group col-md-6">
                    <label>Phone Number:</label>
                    <input type="text" class="form-control" placeholder="Phone Number" name="phone" id="phone" value="{{user.contact_no}}" readonly>
                  </div>
                  <div class="form-group col-md-6">
                    <label>Date of Birth:</label>

                    <input type="text" class="form-control" placeholder="Date of Birth"  value="{{dateFormat user.dob "MM/DD/YYYY"}}"  readonly>
                  </div>
                  <div class="form-group col-md-6">
                    <label>Address:</label>
                    <input type="text" class="form-control" placeholder="Address" name="address" id="address" value="{{user.address}}" readonly>
                  </div>
                  <div class="form-group col-md-6">
                    <label>City:</label>
                    <input type="text" class="form-control" placeholder="City" name="city" id="city" value="{{user.city}}" readonly>
                  </div>
                  <div class="form-group col-md-6">
                    <label>State or Province:</label>
                    <input type="text" class="form-control" placeholder="State or Province" name="state" id="state" value="{{user.state}}" readonly>
                  </div>
                  <div class="form-group col-md-6">
                    <label>Postal Code:</label>
                    <input type="text" class="form-control" placeholder="Postcode" name="postcode" id="postcode" value="{{user.postal_code}}" readonly>
                    <input type="hidden" name="userId" id="userId" value={{user.id}}>
                  </div>
                  <div class="form-group col-md-6">
                    <label>Country:</label>
                    
                    {{!-- <input type="text" class="form-control" placeholder="Country" name="country" id="country" value="CA" required="required" readonly> --}}

                    {{#each countries}}
                        {{#if_eq this.id ../user.country_id}}
                          <input type="text" value="{{this.name}}" class="form-control" placeholder="Country" name="country" id="country" readonly>
                        {{/if_eq}}
                    {{/each}}

                  </div>
                </div>
               </div>
                    <div id="wr-transfer" style="display:none"><p style="margin-left: 2%; text-align: center;"><span style="color: red;">*</span>Enter the deposit amount and view our banking partner details to provide to your local branch. A pending wire transfer will be added into your account. 
					<br/>Once the transfer has been initiated, our system will automatically credit your balance.</p></div>
              </form>
            </div>
              </div>
            </div>
          </div>
            <!-- Starts Balance & Most Recent Activity  -->
    <div class="balnrecent">
      <div class="row">
        <div class="col-md-6">
          <div class="box equal-hgt symbol-box">
            <div class="box-header">
              <h3 class="box-title">Balances</h3>
            </div>
            <div class="box-body">
              <div class="row">
                <div class="col-md-4">
                  <div class="chart-responsive">
									  <div class="chart" id="sales-chart" style="height: 150px; position: relative;"></div>
									</div>
                </div>
                <div class="col-md-8">
                    <table class="table scroll-minus">
                        <thead>
                            <tr>
                                <th class="col-xs-4 paddingleft">SYMBOL</th>
                                <th class="col-xs-4 paddingleft">NAME</th>
                                <th class="col-xs-4 paddingleft">BALANCE</th>
                            </tr>
                        </thead>
                    </table>
                    <div class="scroll-dashboard">
                        <table class="table">
                            <tr>
                                <td class="col-xs-4">
                                    <img src="../dist/img/usd.png" alt="">
                                </td>
                                <td>DOLLAR <span style="color:red;"> (USD)</span></td>
                                <td class="col-xs-4">
                                    {{formatCurrency (twoDecimalPoint user.currentUsdBalance)}}
                                </td>
                            </tr>
                            <tr>
                                <td class="col-xs-4">
                                    <img src="../dist/img/mcpicon.png" alt="" width="34" height="">
                                </td>
                                <td>MCP <span style="color:red;">(MCP)</span></td>
                                <td>{{formatCurrency (twoDecimalPoint user.mcpTotalBalance)}}</td>
                            </tr>
                            {{#each user.currency}}
                            <tr>    
                                <td class="col-xs-4">
                                   {{!-- <div class="s-s-{{toLowerCase this.display_name}} currency-logo-sprite" ></div> --}}
                                  {{#if_eq this.display_name "Bitcoin Cash"}}
                                      <div class="s-s-bitcoin-cash currency-logo-sprite"></div>
                                  {{else}}    
                                      <div class="s-s-{{toLowerCase this.display_name}} currency-logo-sprite"></div>
                                  {{/if_eq}}
                                </td>
                                <td class="col-xs-4 uppertext">{{this.display_name}} <span style="color:red;">({{toUpperCase this.alt_name}})</span></td>
                                <td class="wallet_crp col-xs-4">
                                        {{twoDecimalPoint (checkCurrencies this.alt_name ../user.currencyBalance)}}
                                </td>
                            </tr>
                            {{/each}}

                        </table>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box equal-hgt">
            <div class="box-header">
              <h3 class="box-title">Most Recent Activity</h3>
            </div>
            <div class="box-body">

              <div class="table-responsive">
                <table class="table">
                  <tbody>
                    <tr>
                      <th>Currency</th>
                      <th>Amount</th>
                      <th>Type</th>
                      <th>Date</th>
                    </tr>
                    {{#each depositHistory}}
                    <tr>
                        <td>USD</td>
                        <td>${{formatCurrency (twoDecimalPoint this.amount)}}</td>
                        <td>{{#if_eq this.payment_method '1'}}
                            Credit Card 
                            {{/if_eq}}
                            {{#if_eq this.payment_method '2'}}
                            Wire Transfer Deposit
                            {{/if_eq}}
                            {{#if_eq this.payment_method '3'}}
                            Bank Wire Transfer
                            {{/if_eq}}
                            {{#if_eq this.payment_method '6'}}
                            Paypal
                            {{/if_eq}}
                        </td>

                        <td>{{dateFormat this.createdAt "DD-MM-YYYY h:mm:ss a"}}</td>
                    </tr>
                    {{/each}}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
            {{!-- <div class="row">
                  <div class="col-md-12">
                    <div class="box">
              <div class="box-header">
                <h3 class="box-title">Pending Bank Wire Transfers</h3>
              </div>
              <!--showing data table-->
              <div class="box-body">
                <div class="table-responsive">
                  <table id="deposite_funds_transfer_table" class="table table-striped res-table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Amount</th>
                            <th>Date</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                      {{#each all_data}}
                        <tr>
                          <td>{{this.id}}</td>
                              <td>{{this.User.first_name}} {{this.User.last_name}}</td>
                              <td>{{this.amount_usd}}</td>
                              <td>{{dateFormat this.createdAt "MM-DD-YYYY h:mm:ss a"}}</td>
                              <td>
                                  {{#if_eq this.status 0}}
                                    Pending
                                  {{/if_eq}}

                                  {{#if_eq this.status 1}}
                                    Approved
                                  {{/if_eq}}

                                  {{#if_eq this.status 2}}
                                    Rejected
                                  {{/if_eq}}
                              </td>
                        </tr>
                      {{/each}}
                    </tbody>
                </table>
                </div>
              </div>
            </div>
          </div>
          </div> --}}
  <!-- Ends Deposit Funds -->
</section>


<!--  Starts Wire Transfer Successfull Modal -->


<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="top-part">
          <div class="sa-icon sa-success animate" id="success-animate" style="display: block;">
            <span class="sa-line sa-tip animateAlertTip"></span>
            <span class="sa-line sa-long animateAlertLong"></span>
            <div class="sa-placeholder"></div>
            <div class="sa-fix"></div>
          </div>
          <div class="swal-icon swal-icon--warning" id="warning-animate">
            <span class="swal-icon--warning__body">
              <span class="swal-icon--warning__dot"></span>
            </span>
          </div>
        </div>
        <!-- animateSuccessTip -->
        <h2 style="text-align: center;">A pending wire transfer has been added to your account.</h2>
        <p style="text-align: left;">Simply write or print out the following information to provide to your local branch. Once the wire transfer has been initiated, our system will automatically credit your account balance with the following amount.</p>
        <form method="post">
        <div class="form-group">
          <label>Total Amount:</label><br>
          <input type="text" class="form-control" placeholder="Total Amount" name="totalamount" id="totalamount" value="Bank of Nova Scotia" readonly>
        </div>
        <div class="form-group">
          <label>Bank Name:</label><br>
          <input type="text" class="form-control" placeholder="Bank of Nova Scotia" name="bankname" id="bankname" value="{{bankWireTransferDetails.bank_name}}" readonly>
        </div>
        <div class="form-group">
          <label>Account Name:</label><br>
          <input type="text" class="form-control" placeholder="Kano Investments Inc" name="accountnumber" id="accountnumber"  value="{{bankWireTransferDetails.account_name}}" readonly>
        </div>
        <div class="form-group">
          <label>Bank Address:</label><br>
          <input type="text" class="form-control" placeholder="11666 Steveston Hwy #3020, Richmond, BC, V7A 5J3" name="bankaddress" id="bankaddress" value="{{bankWireTransferDetails.bank_address}}" readonly>
        </div>
        <div class="form-group">
          <label>Branch Number:</label><br>
          <input type="text" class="form-control" placeholder="51920" name="branchnumber" id="branchnumber" value="{{bankWireTransferDetails.branch_number}}" readonly>
        </div>
        <div class="form-group">
          <label>Institution Number:</label><br>
          <input type="text" class="form-control" placeholder="002" name="institutionnumber" id="institutionnumber" value="{{bankWireTransferDetails.institution_number}}" readonly>
        </div>
        <div class="form-group">
          <label>Account Number:</label><br>
          <input type="text" class="form-control" placeholder="0091782" name="accountnumber" id="accountnumber" value="{{bankWireTransferDetails.account_number}}" readonly>
        </div>
        <div class="form-group">
          <label>Routing Number (USA):</label><br>
          <input type="text" class="form-control" placeholder="026002532" name="routingnumber" id="routingnumber" value="{{bankWireTransferDetails.routing_number}}" readonly>
          </div>
        <div class="form-group">
          <label>Swift Code:</label><br>
          <input type="text" class="form-control" placeholder="NOSCCATT" name="swiftcode" id="swiftcode" value="{{bankWireTransferDetails.swift_code}}" readonly>
        </div>
        <div class="form-group">
          <label>Reference:</label><br>
          <input type="text" class="form-control" placeholder="support@coinjolt.com" name="reference" id="reference" value="{{bankWireTransferDetails.reference_email}}" readonly>
        </div>
        </div>
      <div style="margin-top: -10%;" class="modal-footer">
        <button type="button" class="btn btn-default" id="ok" >OK</button>
        <a href="/dashboard/genPdf" target="_blank" class="btn btn-primary" id="pdf" style="margin-top: 4.8%">Print as PDF</a>
        {{!-- <a href="javascript:void(0)" class="btn btn-primary" id="pdf" style="margin-top: 4.8%">Print as PDF</a> --}}
        <button type="button" class="btn btn-default" id="close">Close</button>
      </div>
      </form>
    </div>
  </div>
</div>