<section class="content-header">
    <h1>CMS Settings</h1>
    <ol class="breadcrumb">
        <li><a href="/admin/dashboard"><i class="fa fa-dashboard"></i>Home</a></li>
         <li class="active">CMS Settings</li>
    </ol>
</section>
<div class="loader"></div>
<section class="content container-fluid">
    <!-- Starts Deposit Funds -->
    <div class="deposit-funds">
      <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">CMS Settings</h3>
                </div>
                <div class="box-body">
                    {{#not_empty_array home_data}}
                        <form method="post" action="javasript:void(0)" role="form" id="cms-home-page" name="cms-home-page" enctype="multipart/form-data">
                            <input type="hidden" name="row_id" id="row_id" value="{{home_data.0.id}}">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Main Banner Image</label>
                                        <input type="file" class="form-control" name="home_page_banner_image" id="home_page_banner_image" value="">
                                    </div>

                                    <div>
                                        <img src="/cms/home_page/resize/{{home_data.0.home_page_banner_image}}" style="width:100px;height:100px;">
                                        <input type="hidden" id="existing_banner_image" name="existing_banner_image" value="{{home_data.0.home_page_banner_image}}">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Secondary Image</label>
                                        <input class="form-control" type="file" name="how_it_works_image" id="how_it_works_image" value="">
                                    </div>

                                    <div>
                                        <img src="/cms/home_page/resize/{{home_data.0.how_it_works_image}}" style="width:100px;height:100px;">
                                        <input type="hidden" id="existing_how_it_works_image" name="existing_how_it_works_image" value="{{home_data.0.how_it_works_image}}">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Description">Sub Headline 1</label>
                                        <textarea name="how_is_works_reg_description" class="form-control" id="how_is_works_reg_description" placeholder="Enter Description">{{home_data.0.how_is_works_reg_description}}</textarea>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Description">Sub Headline 2</label>
                                        <textarea name="how_is_works_deposit_funds_description" class="form-control" id="how_is_works_deposit_funds_description" placeholder="Enter Description">{{home_data.0.how_is_works_deposit_funds_description}}</textarea>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Description">Sub Headline 3</label>
                                        <textarea name="how_is_works_safe_and_secure_description" class="form-control" id="how_is_works_safe_and_secure_description" placeholder="Enter Description">{{home_data.0.how_is_works_safe_and_secure_description}}</textarea>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Hot Wallet Image Upload</label>
                                        <input class="form-control" type="file" name="hot_wallet_image" id="hot_wallet_image" value="">
                                    </div>

                                    <div>
                                        <img src="/cms/home_page/resize/{{home_data.0.hot_wallet_image}}" style="width:100px;height:100px;">
                                        <input type="hidden" id="existing_hot_wallet_image_image" name="existing_hot_wallet_image_image" value="{{home_data.0.hot_wallet_image}}">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Description">Hot Wallet Description</label>
                                        <textarea name="hot_wallet_desc" class="form-control" id="hot_wallet_desc" placeholder="Enter Description">{{home_data.0.hot_wallet_desc}}</textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Cold Wallet Image Upload</label>
                                        <input class="form-control" type="file" name="cold_wallet_image" id="cold_wallet_image" value="">
                                    </div>

                                    <div>
                                        <img src="/cms/home_page/resize/{{home_data.0.cold_wallet_image}}" style="width:100px;height:100px;">
                                        <input type="hidden" id="existing_cold_wallet_image_image_image" name="existing_cold_wallet_image_image_image" value="{{home_data.0.cold_wallet_image}}">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Description">Cold Wallet Description</label>
                                        <textarea name="cold_wallet_desc" class="form-control" id="cold_wallet_desc" placeholder="Enter Description">{{home_data.0.cold_wallet_desc}}</textarea>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 1 Image</label>
                                        <input type="file" class="form-control" name="div1" id="div1" value="">
                                    </div>

                                    <div>
                                        <img src="/cms/home_page/resize/{{home_data.0.industry_leading_div1_image}}" style="width:100px;height:100px;">
                                        <input type="hidden" id="existing_div1_image" name="existing_div1_image" value="{{home_data.0.industry_leading_div1_image}}">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 1 Heading</label>
                                        <input type="text" class="form-control" name="div1_heading" id="div1_heading" value="{{home_data.0.div1_heading}}">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 1 Description</label>
                                        <textarea lass="form-control" name="div1_desc" id="div1_desc" rows="" cols="">{{home_data.0.div1_desc}}</textarea>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 2 Image</label>
                                        <input type="file" class="form-control" name="div2" id="div2" value="">
                                    </div>

                                    <div>
                                        <img src="/cms/home_page/resize/{{home_data.0.industry_leading_div2_image}}" style="width:100px;height:100px;">
                                        <input type="hidden" id="existing_div2_image" name="existing_div2_image" value="{{home_data.0.industry_leading_div2_image}}">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 2 Heading</label>
                                        <input type="text" class="form-control" name="div2_heading" id="div2_heading" value="{{home_data.0.div2_heading}}">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 2 Description</label>
                                        <textarea lass="form-control" name="div2_desc" id="div2_desc" rows="" cols="">{{home_data.0.div2_desc}}</textarea>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 3 Image</label>
                                        <input type="file" class="form-control" name="div3" id="div3" value="">
                                    </div>

                                    <div>
                                        <img src="/cms/home_page/resize/{{home_data.0.industry_leading_div3_image}}" style="width:100px;height:100px;">
                                        <input type="hidden" id="existing_div3_image" name="existing_div3_image" value="{{home_data.0.industry_leading_div3_image}}">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 3 Heading</label>
                                        <input type="text" class="form-control" name="div3_heading" id="div3_heading" value="{{home_data.0.div3_heading}}">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 3 Description</label>
                                        <textarea lass="form-control" name="div3_desc" id="div3_desc" rows="" cols="">{{home_data.0.div3_desc}}</textarea>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 4 Image</label>
                                        <input type="file" class="form-control" name="div4" id="div4" value="">
                                    </div>

                                    <div>
                                        <img src="/cms/home_page/resize/{{home_data.0.industry_leading_div4_image}}" style="width:100px;height:100px;">
                                        <input type="hidden" id="existing_div4_image" name="existing_div4_image" value="{{home_data.0.industry_leading_div4_image}}">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 4 Heading</label>
                                        <input type="text" class="form-control" name="div4_heading" id="div4_heading" value="{{home_data.0.div4_heading}}">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 4 Description</label>
                                        <textarea lass="form-control" name="div4_desc" id="div4_desc" rows="" cols="">{{home_data.0.div4_desc}}</textarea>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 5 Image</label>
                                        <input type="file" class="form-control" name="div5" id="div5" value="">
                                    </div>

                                    <div>
                                        <img src="/cms/home_page/resize/{{home_data.0.industry_leading_div5_image}}" style="width:100px;height:100px;">
                                        <input type="hidden" id="existing_div5_image" name="existing_div5_image" value="{{home_data.0.industry_leading_div5_image}}">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 5 Heading</label>
                                        <input type="text" class="form-control" name="div5_heading" id="div5_heading" value="{{home_data.0.div5_heading}}">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 5 Description</label>
                                        <textarea lass="form-control" name="div5_desc" id="div5_desc" rows="" cols="">{{home_data.0.div5_desc}}</textarea>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 6 Image</label>
                                        <input type="file" class="form-control" name="div6" id="div6" value="">
                                    </div>

                                    <div>
                                        <img src="/cms/home_page/resize/{{home_data.0.industry_leading_div6_image}}" style="width:100px;height:100px;">
                                        <input type="hidden" id="existing_div6_image" name="existing_div6_image" value="{{home_data.0.industry_leading_div6_image}}">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 6 Heading</label>
                                        <input type="text" class="form-control" name="div6_heading" id="div6_heading" value="{{home_data.0.div6_heading}}">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 6 Description</label>
                                        <textarea lass="form-control" name="div6_desc" id="div6_desc" rows="" cols="">{{home_data.0.div6_desc}}</textarea>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 1 Image</label>
                                        <input type="file" class="form-control" name="buy_sell_div1_image" id="buy_sell_div1_image" value="">
                                    </div>

                                    <div>
                                        <img src="/cms/home_page/resize/{{home_data.0.buy_sell_div1_image}}" style="width:100px;height:100px;">
                                        <input type="hidden" id="existing_buy_sell_div1_image" name="existing_buy_sell_div1_image" value="{{home_data.0.buy_sell_div1_image}}">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 1 Heading</label>
                                        <input type="text" class="form-control" name="buy_sell_div1_heading" id="buy_sell_div1_heading" value="{{home_data.0.buy_sell_div1_heading}}">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 1 Description</label>
                                        <textarea lass="form-control" name="buy_sell_div1_desc" id="buy_sell_div1_desc" rows="" cols="">{{home_data.0.buy_sell_div1_desc}}</textarea>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 2 Image</label>
                                        <input type="file" class="form-control" name="buy_sell_div2_image" id="buy_sell_div2_image" value="">
                                    </div>

                                    <div>
                                        <img src="/cms/home_page/resize/{{home_data.0.buy_sell_div2_image}}" style="width:100px;height:100px;">
                                        <input type="hidden" id="existing_buy_sell_div2_image" name="existing_buy_sell_div2_image" value="{{home_data.0.buy_sell_div2_image}}">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 2 Heading</label>
                                        <input type="text" class="form-control" name="buy_sell_div2_heading" id="buy_sell_div2_heading" value="{{home_data.0.buy_sell_div2_heading}}">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 2 Description</label>
                                        <textarea lass="form-control" name="buy_sell_div2_desc" id="buy_sell_div2_desc" rows="" cols="">{{home_data.0.buy_sell_div2_desc}}</textarea>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 3 Image</label>
                                        <input type="file" class="form-control" name="buy_sell_div3_image" id="buy_sell_div3_image" value="">
                                    </div>

                                    <div>
                                        <img src="/cms/home_page/resize/{{home_data.0.buy_sell_div3_image}}" style="width:100px;height:100px;">
                                        <input type="hidden" id="existing_buy_sell_div3_image" name="existing_buy_sell_div3_image" value="{{home_data.0.buy_sell_div3_image}}">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 3 Heading</label>
                                        <input type="text" class="form-control" name="buy_sell_div3_heading" id="buy_sell_div3_heading" value="{{home_data.0.buy_sell_div3_heading}}">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 3 Description</label>
                                        <textarea lass="form-control" name="buy_sell_div3_desc" id="buy_sell_div3_desc" rows="" cols="">{{home_data.0.buy_sell_div3_desc}}</textarea>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 4 Image</label>
                                        <input type="file" class="form-control" name="buy_sell_div4_image" id="buy_sell_div4_image" value="">
                                    </div>

                                    <div>
                                        <img src="/cms/home_page/resize/{{home_data.0.buy_sell_div4_image}}" style="width:100px;height:100px;">
                                        <input type="hidden" id="existing_buy_sell_div4_image" name="existing_buy_sell_div4_image" value="{{home_data.0.buy_sell_div4_image}}">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 4 Heading</label>
                                        <input type="text" class="form-control" name="buy_sell_div4_heading" id="buy_sell_div4_heading" value="{{home_data.0.buy_sell_div4_heading}}">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 4 Description</label>
                                        <textarea lass="form-control" name="buy_sell_div4_desc" id="buy_sell_div4_desc" rows="" cols="">{{home_data.0.buy_sell_div4_desc}}</textarea>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 1 Image</label>
                                        <input type="file" class="form-control" name="risk_disclousure_div1_image" id="risk_disclousure_div1_image" value="">
                                    </div>

                                    <div>
                                        <img src="/cms/home_page/resize/{{home_data.0.risk_disclousure_div1_image}}" style="width:100px;height:100px;">
                                        <input type="hidden" id="existing_risk_disclousure_div1_image" name="existing_risk_disclousure_div1_image" value="{{home_data.0.risk_disclousure_div1_image}}">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 1 Heading</label>
                                        <input type="text" class="form-control" name="risk_disclousure_div1_heading" id="risk_disclousure_div1_heading" value="{{home_data.0.risk_disclousure_div1_heading}}">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 1 Description</label>
                                        <textarea lass="form-control" name="risk_disclousure_div1_desc" id="risk_disclousure_div1_desc" rows="" cols="">{{home_data.0.risk_disclousure_div1_desc}}</textarea>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 2 Image</label>
                                        <input type="file" class="form-control" name="risk_disclousure_div2_image" id="risk_disclousure_div2_image" value="">
                                    </div>

                                    <div>
                                        <img src="/cms/home_page/resize/{{home_data.0.risk_disclousure_div2_image}}" style="width:100px;height:100px;">
                                        <input type="hidden" id="existing_risk_disclousure_div2_image" name="existing_risk_disclousure_div2_image" value="{{home_data.0.risk_disclousure_div2_image}}">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 2 Heading</label>
                                        <input type="text" class="form-control" name="risk_disclousure_div2_heading" id="risk_disclousure_div2_heading" value="{{home_data.0.risk_disclousure_div2_heading}}">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 2 Description</label>
                                        <textarea lass="form-control" name="risk_disclousure_div2_desc" id="risk_disclousure_div2_desc" rows="" cols="">{{home_data.0.risk_disclousure_div2_desc}}</textarea>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 3 Image</label>
                                        <input type="file" class="form-control" name="risk_disclousure_div3_image" id="risk_disclousure_div3_image" value="">
                                    </div>

                                    <div>
                                        <img src="/cms/home_page/resize/{{home_data.0.risk_disclousure_div3_image}}" style="width:100px;height:100px;">
                                        <input type="hidden" id="existing_risk_disclousure_div3_image" name="existing_risk_disclousure_div3_image" value="{{home_data.0.risk_disclousure_div3_image}}">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 3 Heading</label>
                                        <input type="text" class="form-control" name="risk_disclousure_div3_heading" id="risk_disclousure_div3_heading" value="{{home_data.0.risk_disclousure_div3_heading}}">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 3 Description</label>
                                        <textarea lass="form-control" name="risk_disclousure_div3_desc" id="risk_disclousure_div3_desc" rows="" cols="">{{home_data.0.risk_disclousure_div3_desc}}</textarea>
                                    </div>
                                </div>

                                <div class="col-md-2 col-md-offset-5">
                                    <div class="form-group">
                                        <input class="btn btn-primary" type="button" id="cms_home_page_edit" value="Save and Update" />
                                    </div>
                                </div>
                            </div>

                        </form>
                    {{/not_empty_array}}

                    {{#empty_array home_data}}
                        <form method="post" action="javasript:void(0)" role="form" id="cms-home-page" name="cms-home-page" enctype="multipart/form-data">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Home page banner image upload</label>
                                        <input type="file" class="form-control" name="home_page_banner_image" id="home_page_banner_image" value="">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">How it works image upload</label>
                                        <input class="form-control" type="file" name="how_it_works_image" id="how_it_works_image" value="">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Description">Sub Headline 1</label>
                                        <textarea name="how_is_works_reg_description" class="form-control" id="how_is_works_reg_description" placeholder="Enter Description"></textarea>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Description">Sub Headline 2</label>
                                        <textarea name="how_is_works_deposit_funds_description" class="form-control" id="how_is_works_deposit_funds_description" placeholder="Enter Description"></textarea>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Description">Sub Headline 3</label>
                                        <textarea name="how_is_works_safe_and_secure_description" class="form-control" id="how_is_works_safe_and_secure_description" placeholder="Enter Description"></textarea>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Hot Wallet Image Upload</label>
                                        <input class="form-control" type="file" name="hot_wallet_image" id="hot_wallet_image" value="">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Description">Hot Wallet Description</label>
                                        <textarea name="hot_wallet_desc" class="form-control" id="hot_wallet_desc" placeholder="Enter Description"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Cold Wallet Image Upload</label>
                                        <input class="form-control" type="file" name="cold_wallet_image" id="cold_wallet_image" value="">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Description">Cold Wallet Description</label>
                                        <textarea name="cold_wallet_desc" class="form-control" id="cold_wallet_desc" placeholder="Enter Description"></textarea>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 1 Image</label>
                                        <input type="file" class="form-control" name="div1" id="div1" value="">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 1 Heading</label>
                                        <input type="text" class="form-control" name="div1_heading" id="div1_heading" value="">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 1 Description</label>
                                        <textarea lass="form-control" name="div1_desc" id="div1_desc" rows="" cols=""></textarea>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 2 Image</label>
                                        <input type="file" class="form-control" name="div2" id="div2" value="">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 2 Heading</label>
                                        <input type="text" class="form-control" name="div2_heading" id="div2_heading" value="">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 2 Description</label>
                                        <textarea lass="form-control" name="div2_desc" id="div2_desc" rows="" cols=""></textarea>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 3 Image</label>
                                        <input type="file" class="form-control" name="div3" id="div3" value="">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 3 Heading</label>
                                        <input type="text" class="form-control" name="div3_heading" id="div3_heading" value="">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 3 Description</label>
                                        <textarea lass="form-control" name="div3_desc" id="div3_desc" rows="" cols=""></textarea>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 4 Image</label>
                                        <input type="file" class="form-control" name="div4" id="div4" value="">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 4 Heading</label>
                                        <input type="text" class="form-control" name="div4_heading" id="div4_heading" value="">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 4 Description</label>
                                        <textarea lass="form-control" name="div4_desc" id="div4_desc" rows="" cols=""></textarea>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 5 Image</label>
                                        <input type="file" class="form-control" name="div5" id="div5" value="">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 5 Heading</label>
                                        <input type="text" class="form-control" name="div5_heading" id="div5_heading" value="">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 5 Description</label>
                                        <textarea lass="form-control" name="div5_desc" id="div5_desc" rows="" cols=""></textarea>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 6 Image</label>
                                        <input type="file" class="form-control" name="div6" id="div6" value="">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 6 Heading</label>
                                        <input type="text" class="form-control" name="div6_heading" id="div6_heading" value="">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 6 Description</label>
                                        <textarea lass="form-control" name="div6_desc" id="div6_desc" rows="" cols=""></textarea>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 1 Image</label>
                                        <input type="file" class="form-control" name="buy_sell_div1_image" id="buy_sell_div1_image" value="">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 1 Heading</label>
                                        <input type="text" class="form-control" name="buy_sell_div1_heading" id="buy_sell_div1_heading" value="">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 1 Description</label>
                                        <textarea lass="form-control" name="buy_sell_div1_desc" id="buy_sell_div1_desc" rows="" cols=""></textarea>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 2 Image</label>
                                        <input type="file" class="form-control" name="buy_sell_div2_image" id="buy_sell_div2_image" value="">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 2 Heading</label>
                                        <input type="text" class="form-control" name="buy_sell_div2_heading" id="buy_sell_div2_heading" value="">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 2 Description</label>
                                        <textarea lass="form-control" name="buy_sell_div2_desc" id="buy_sell_div2_desc" rows="" cols=""></textarea>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 3 Image</label>
                                        <input type="file" class="form-control" name="buy_sell_div3_image" id="buy_sell_div3_image" value="">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 3 Heading</label>
                                        <input type="text" class="form-control" name="buy_sell_div3_heading" id="buy_sell_div3_heading" value="">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 3 Description</label>
                                        <textarea lass="form-control" name="buy_sell_div3_desc" id="buy_sell_div3_desc" rows="" cols=""></textarea>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 4 Image</label>
                                        <input type="file" class="form-control" name="buy_sell_div4_image" id="buy_sell_div4_image" value="">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 4 Heading</label>
                                        <input type="text" class="form-control" name="buy_sell_div4_heading" id="buy_sell_div4_heading" value="">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 4 Description</label>
                                        <textarea lass="form-control" name="buy_sell_div4_desc" id="buy_sell_div4_desc" rows="" cols=""></textarea>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 1 Image</label>
                                        <input type="file" class="form-control" name="risk_disclousure_div1_image" id="risk_disclousure_div1_image" value="">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 1 Heading</label>
                                        <input type="text" class="form-control" name="risk_disclousure_div1_heading" id="risk_disclousure_div1_heading" value="">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 1 Description</label>
                                        <textarea lass="form-control" name="risk_disclousure_div1_desc" id="risk_disclousure_div1_desc" rows="" cols=""></textarea>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 2 Image</label>
                                        <input type="file" class="form-control" name="risk_disclousure_div2_image" id="risk_disclousure_div2_image" value="">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 2 Heading</label>
                                        <input type="text" class="form-control" name="risk_disclousure_div2_heading" id="risk_disclousure_div2_heading" value="">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 2 Description</label>
                                        <textarea lass="form-control" name="risk_disclousure_div2_desc" id="risk_disclousure_div2_desc" rows="" cols=""></textarea>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 3 Image</label>
                                        <input type="file" class="form-control" name="risk_disclousure_div3_image" id="risk_disclousure_div3_image" value="">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 3 Heading</label>
                                        <input type="text" class="form-control" name="risk_disclousure_div3_heading" id="risk_disclousure_div3_heading" value="">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Subject">Div 3 Description</label>
                                        <textarea lass="form-control" name="risk_disclousure_div3_desc" id="risk_disclousure_div3_desc" rows="" cols=""></textarea>
                                    </div>
                                </div>

                                <div class="col-md-2 col-md-offset-5">
                                    <div class="form-group">
                                        <input class="btn btn-primary" type="button" id="cms_home_page_submit" value="Save and Update" />
                                    </div>
                                </div>
                            </div>

                        </form>
                    {{/empty_array}}

                    
                </div>
            <!-- /.box-body -->
          </div>
    </div>
    <!-- /.box -->
</div>
</div>
</div>
<!-- Ends Deposit Funds -->
</section>

