<section class="content-header">
	<h1>Manage Authors</h1>
	<ol class="breadcrumb">
		<li>
			<a href="/admin/dashboard"><i class="fa fa-dashboard"></i> Home</a>
		</li>
		<li class="active">Manage Authors</li>
	</ol>
</section>

<section class="content container-fluid">
	<!-- Starts Deposit Funds -->
	<div class="deposit-funds">
		<div class="row">
			<div class="col-md-12">
				<div class="box">
					<div class="box-header with-border floating-header">
						<h3 class="box-title pull-left">All Authors List</h3>
						<a href="/admin/add-blog-author" class="btn btn-primary pull-right">Add an Author</a>
						<div class="clearfix"></div>
					</div>
					<div class="box-body">

						<table id="admin_blog_authors" class="table table-striped res-table">
							<thead>
								<tr>
									<th>Author Name</th>
									<th>Author Bio</th>
                                    <th>Created At</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								{{#each authorDetails}}
								<tr>
									<td class="authorName">{{ this.author_name}}</td>
									<td class="authorBioContent">{{{ this.author_bio}}}</td>
									<td>{{ dateFormat this.createdAt "MM-DD-YY" }}</td>
									<td>


										<a class="btn btn-primary tbl-common-btn" href="/admin/edit_author/{{this.id}}">Edit</a>

										<button type="button" onclick="deleteAuthor({{this.id}})" class="btn btn-danger tbl-common-btn" data-id="{{this.id}}">Delete</button>
                                    </td>
								</tr>

								{{/each}}

							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!-- /.box-body -->
		</div>
		<!-- /.box -->
	</div>
	<!-- Ends Deposit Funds -->
</section>