<!-- Content Header (Page header) -->
<section class="content-header">
        <h1>Edit a Blog Post</h1>

<ol class="breadcrumb">
  <li>
    <a href="/admin/dashboard">
      <i class="fa fa-dashboard"></i>Home</a>
  </li>
   <li>
    <a href="/admin/blog">Manage Blog</a>
  </li>
  <li class="active">Edit a Blog Post</li>
</ol>
</section>

<div class="loader"></div>

<!-- Main content -->
<section class="content container-fluid">
    <!-- Starts email-marketing -->
            <div class="email-marketing">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Update Blog Post</h3>
            </div>
            <div class="box-body">
                <form name="edit_blog_post_form" id="edit_blog_post_form" action="" method="POST" enctype="multipart/form-data">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="blog_post_title">Post Title:</label>
                    <input type="text" class="form-control input-lg" id="edit_blog_post_title" name="edit_blog_post_title" placeholder="Enter Post Title" value="{{blogDetail.0.post_title}}">
                  </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label for="post_slug">Post Slug:</label>
                         <input type="text" class="form-control input-lg" id="edit_post_slug" name="edit_post_slug" placeholder="Post Slug" value="{{blogDetail.0.post_slug}}">
                    </div>
                </div>

                <div class="col-md-12">
                  <div class="form-group">
                    <label for="post_description">Post Description:</label>

                    <textarea name="post_description" class="form-control" id="post_description" placeholder="Enter Post Description">{{{blogDetail.0.post_description}}}</textarea>
                  </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label for="edit_post_featured_image">Upload a Featured Image:</label>
                        <input name="edit_post_featured_image" class="form-control" id="edit_post_featured_image" type="file">
                    </div>
                    {{#if blogDetail.0.featured_image}}
                    <div>
                        <img src="/blog_images/{{blogDetail.0.featured_image}}" width="100" height="100" />
                    </div>
                    {{/if}}
                </div>

                <div class="col-md-12">
                    <label for="edit_post_category">Post Category:</label>
                    <select class="form-control" id="edit_post_category" name="edit_post_category">
                      {{#each blog_categories}}
                        <option value="{{this.id}}" {{#if_eq this.id ../blogDetail.0.post_category_id}}selected{{/if_eq}}>{{this.category_name}}</option>
                      {{/each}}
                    </select>
                </div>


                <div class="col-md-12">
                  <div class="form-group">
                    <label for="meta_title">Meta Title:</label>
                    <input type="text" class="form-control input-lg" id="edit_meta_title" name="edit_meta_title" placeholder="Enter Meta Title" value="{{blogDetail.0.meta_title}}">
                  </div>
                </div>
                <div class="col-md-12">
                     <div class="form-group">
                        <label for="edit_meta_description">Meta Description:</label>
                        <textarea class="form-control input-lg" id="edit_meta_description" name="edit_meta_description" placeholder="Enter Meta Description">{{blogDetail.0.meta_description}}</textarea>
                    </div>
                </div>

                 <div class="col-md-12">
                     <div class="form-group">
                        <label for="edit_meta_keywords">Meta Keywords:</label>
                        <textarea class="form-control input-lg" id="edit_meta_keywords" name="edit_meta_keywords" placeholder="Enter Meta Keywords">{{blogDetail.0.meta_keywords}}</textarea>
                    </div>
                </div>

                <div class="col-md-12">
                     <div class="form-group">
                        <label for="meta_keywords">Author Name:</label>
                        {{!-- <input type="text" class="form-control input-lg" id="edit_post_author_name" name="edit_post_author_name" placeholder="Author Name" value="{{blogDetail.0.post_author}}"> --}}
                        <select class="form-control" id="edit_post_author_name" name="edit_post_author_name">
                          {{#each authors}}
                            <option value="{{this.id}}" {{#if_eq this.id ../blogDetail.0.author_id}}selected{{/if_eq}}>{{this.author_name}}</option>
                          {{/each}}
                        </select>
                    </div>
                </div>

                <div class="col-md-12">
                     <div class="form-group">
                        <label for="post_publish_date">Publish Date:</label>
                        <div class='input-group date' id='datetimepicker_blog_create_edit'>
                            <input type='text' class="form-control" id="blog_publish_date_edit" name="blog_publish_date_edit" value="{{dateFormat blogDetail.0.createdAt "MM-DD-YYYY h:mm:ss a"}}" />
                            <span class="input-group-addon blog_date_span">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>

                 {{!-- <div class="col-md-12">
                    <div class="form-group">
                        <label for="edit_author_image">Upload a Author Image</label>
                        <input name="edit_author_image" class="form-control" id="edit_author_image" type="file">
                    </div>
                    {{#if blogDetail.0.post_author_image}}
                    <div>
                        <img src="/blog_images/{{blogDetail.0.post_author_image}}" width="50" height="50" />
                    </div>
                    {{/if}}
                </div> --}}

                

               {{!--  <div class="col-md-12">
                     <div class="form-group">
                        <label for="edit_author_description">Author Bio:</label>
                        <textarea class="form-control input-lg" id="edit_author_description" name="edit_author_description" placeholder="Enter Author Description">{{blogDetail.0.post_author_description}}</textarea>
                    </div>
                </div> --}}

                 <div class="col-md-2 col-md-offset-5 pd-612">
                    <div class="form-group">
                        <input class="btn btn-primary edit_blog" id="edit_blog" value="Save and Update" type="button">
                    </div>
                </div>
              </div>

              </form>

            </div>
          </div>
        </div>
    <!-- Ends email-marketing -->
</section>
<!-- /.content -->

