<title>Managed Cryptocurrency Portfolio</title>
<section class="content-header">
	<h1>Managed Cryptocurrency Portfolio</h1>
	<ol class="breadcrumb">
		<li>
			<a href="/admin/dashboard"><i class="fa fa-dashboard"></i>Home</a>
		</li>
		<li class="active">Managed Cryptocurrency Portfolio</li>
	</ol>
</section>

<section class="content container-fluid">
	<!-- Starts Deposit Funds -->
	<div class="deposit-funds">
		<div class="row">
			<div class="col-md-12">
				<div class="box">
					<div class="box-header with-border">
						<h3 class="box-title">Portfolio Configuration</h3>
					</div>
					<div class="box-body">
						<table id="pending_investments_table" class="table table-striped res-table">
							<thead>
								<tr>
									<th>ID</th>
									<th>Coin</th>
									<th>Current Market Rate ($)</th>
									<th>Balance ($)</th>
									<th>Total Amount ($)</th>
								</tr>
							</thead>
							<tbody>
								{{#each all_data}}
								<tr>
									<td>{{inc @index}}</td>
									<td class="lowertext">{{this.coin_name}}</td>
									<td>{{formatCurrency (twoDecimalPoint this.coin_rate)}}</td>
									<td>{{formatCurrency (twoDecimalPoint this.total_balance)}}</td>
									<td>{{formatCurrency (twoDecimalPoint this.total_amt)}}</td>
								</tr>
								{{/each}}
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!-- /.box-body -->
		</div>
		<!-- /.box -->
	</div>
	<!-- Ends Deposit Funds -->
</section>