<section class="content-header">
    <h1>Support Details</h1>
    <ol class="breadcrumb">
        <li><a href="/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
       <li>
			<a href="/admin/support"> Support</a>
		</li>
        <li class="active">Support Details</li>
    </ol>
</section>
<section class="content container-fluid">
    <div class="account-settings">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
						<h3 class="box-title">Support Details List</h3>
					</div>
                    <div class="box-body">
                        <div class="row">

                            <form method="post" action="/admin/support-details-reply-send" role="form" id="individual_support_form" name="individual_support_form">
                                <input type="hidden" name="user_row_id" value="{{all_data.id}}">
                                <div class="form-group col-md-6">
                                    <label class="control-label">First Name <span style="color:#ff0000">*</span></label>
                                    <input type="text" readonly="readonly" placeholder="Enter First Name" class="form-control" name="first_name" id="first_name" maxlength="100" value="{{all_data.User.first_name}}">
                                </div>

                                <div class="form-group col-md-6">
                                    <label class="control-label">Last Name <span style="color:#ff0000">*</span></label>
                                    <input type="text" readonly="readonly" placeholder="Enter Last Name" class="form-control" name="last_name" id="last_name" maxlength="100" value="{{all_data.User.last_name}}">
                                </div>

                                <div class="form-group col-md-6">
                                    <label class="control-label">Email Address</label>
                                    <input type="text" placeholder="Email" class="form-control" name="user_email" id="user_email" readonly="readonly" value="{{all_data.User.email}}" />
                                </div>

                                <div class="form-group col-md-12">
                                    <label for="Subject">Subject</label>
                                    <input type="text" readonly="readonly" name="subject" class="form-control" id="subject" placeholder="Enter Subject" value="{{all_data.title}}">
                                </div>

                                <div class="form-group col-md-12">
                                    <label class="control-label">Description</label>
                                    <textarea readonly="readonly" class="form-control" rows="3" name="description" id="description">{{all_data.enquiry}}</textarea>
                                </div>

                                <div class="form-group col-md-12">
                                    <label class="control-label">Reply</label>
                                    <textarea class="form-control" rows="3" name="reply" id="reply"></textarea>
                                </div>

                                <div class="clearfix"></div>
                                <div class="col-md-2 col-md-offset-5 text-center">
                                    <div class="updateMsg col-md-12" style="display: none"></div>
                                    <p class="loaderImg" style="display:none; text-align:center;">
                                        <img src="http://dev.coinjolt.com/wp-content/uploads/2017/10/ajax-loader-1.gif">
                                    </p>
                                    <button class="btn btn-primary subbtn" type="submit" name="support_details_reply_send" id="support_details_reply_send" style="margin-bottom: 40px;">Send</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

