<section class="content-header">
	<h1>Supports History</h1>
	<ol class="breadcrumb">
		<li>
			<a href="/admin/dashboard"><i class="fa fa-dashboard"></i> Home</a>
		</li>
		<li>
			<a href="/admin/support"> Support</a>
		</li>
		<li class="active">Supports History</li>
	</ol>
</section>

<section class="content container-fluid">
	<!-- Starts Deposit Funds -->
	<div class="deposit-funds">
		<div class="row">
			<div class="col-md-12">
				<div class="box">
					<div class="box-header with-border">
						<h3 class="box-title">Supports History List</h3>
					</div>
					<div class="box-body">
						<table id="pending_withdrawals_table" class="table table-striped res-table">
							<thead>
								<tr>
									<th>ID</th>
									<th>Name</th>
									<th>Subject</th>
									<th>Solved Date</th>
									<th>Status</th>
								</tr>
							</thead>
							<tbody>
								{{#each all_data}}
								<tr>
									<td>{{this.id}}</td>
									<td>{{this.User.first_name}} {{this.User.last_name}}</td>
									<td>{{this.title}}</td>
									<td>{{dateFormat this.updatedAt "MM-DD-YY"}}</td>
									<td>Closed</td>
								</tr>
								{{/each}}
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!-- /.box-body -->
		</div>
		<!-- /.box -->
	</div>
	<!-- Ends Deposit Funds -->
</section>